<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Natural-Language-Processing" data-toc-modified-id="Natural-Language-Processing-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Natural Language Processing</a></span><ul class="toc-item"><li><span><a href="#What-is-Natural-Language-Processing?" data-toc-modified-id="What-is-Natural-Language-Processing?-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span><strong><font color="red">What is Natural Language Processing?</font></strong></a></span></li><li><span><a href="#So-What?" data-toc-modified-id="So-What?-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span><strong><font color="orange">So What?</font></strong></a></span></li><li><span><a href="#Normalization-Examples:" data-toc-modified-id="Normalization-Examples:-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Normalization Examples:</a></span><ul class="toc-item"><li><span><a href="#Lowercase-Using-df.col.str.lower()" data-toc-modified-id="Lowercase-Using-df.col.str.lower()-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span><strong>Lowercase Using <code>df.col.str.lower()</code></strong></a></span></li><li><span><a href="#Normalize-Unicode-Characters" data-toc-modified-id="Normalize-Unicode-Characters-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span><strong>Normalize Unicode Characters</strong></a></span></li><li><span><a href="#Remove-Special-Characters-Using-Regex" data-toc-modified-id="Remove-Special-Characters-Using-Regex-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span><strong>Remove Special Characters Using Regex</strong></a></span></li></ul></li><li><span><a href="#Now-What?" data-toc-modified-id="Now-What?-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span><strong><font color="green">Now What?</font></strong></a></span><ul class="toc-item"><li><span><a href="#Basic-Clean-Function" data-toc-modified-id="Basic-Clean-Function-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Basic Clean Function</a></span></li></ul></li><li><span><a href="#Tokenization-Examples:" data-toc-modified-id="Tokenization-Examples:-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Tokenization Examples:</a></span><ul class="toc-item"><li><span><a href="#Using-.split()" data-toc-modified-id="Using-.split()-1.5.1"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span><strong>Using <code>.split()</code></strong></a></span></li><li><span><a href="#Using-Regex" data-toc-modified-id="Using-Regex-1.5.2"><span class="toc-item-num">1.5.2&nbsp;&nbsp;</span>Using Regex</a></span></li><li><span><a href="#Using-NLTK-Tokenization" data-toc-modified-id="Using-NLTK-Tokenization-1.5.3"><span class="toc-item-num">1.5.3&nbsp;&nbsp;</span>Using NLTK Tokenization</a></span></li><li><span><a href="#Tokenize-Function" data-toc-modified-id="Tokenize-Function-1.5.4"><span class="toc-item-num">1.5.4&nbsp;&nbsp;</span>Tokenize Function</a></span></li><li><span><a href="#Using-NLTK-PorterStemmer" data-toc-modified-id="Using-NLTK-PorterStemmer-1.5.5"><span class="toc-item-num">1.5.5&nbsp;&nbsp;</span><strong>Using NLTK PorterStemmer</strong></a></span></li><li><span><a href="#Stem-Function" data-toc-modified-id="Stem-Function-1.5.6"><span class="toc-item-num">1.5.6&nbsp;&nbsp;</span>Stem Function</a></span></li><li><span><a href="#Using-NLTK-WordNetLemmatizer" data-toc-modified-id="Using-NLTK-WordNetLemmatizer-1.5.7"><span class="toc-item-num">1.5.7&nbsp;&nbsp;</span>Using NLTK WordNetLemmatizer</a></span></li><li><span><a href="#Lemmatize-Function" data-toc-modified-id="Lemmatize-Function-1.5.8"><span class="toc-item-num">1.5.8&nbsp;&nbsp;</span>Lemmatize Function</a></span></li><li><span><a href="#Using-NLTK-Stopwords" data-toc-modified-id="Using-NLTK-Stopwords-1.5.9"><span class="toc-item-num">1.5.9&nbsp;&nbsp;</span>Using NLTK Stopwords</a></span></li><li><span><a href="#Stopwords-Function" data-toc-modified-id="Stopwords-Function-1.5.10"><span class="toc-item-num">1.5.10&nbsp;&nbsp;</span>Stopwords Function</a></span></li><li><span><a href="#Prep-Article-Function" data-toc-modified-id="Prep-Article-Function-1.5.11"><span class="toc-item-num">1.5.11&nbsp;&nbsp;</span>Prep Article Function</a></span></li></ul></li></ul></li></ul></div>

In [1]:
import pandas as pd
import numpy as np

import os
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

from acquire_walkthrough import get_news_articles

### Natural Language Processing

#### **<font color=red>What is Natural Language Processing?</font>**

Natural Language Processing allows you to use techniques in Python libraries like NLTK (Natural Language Tool Kit) and Spacy to create machine-useable structure out of natural language text. In other words, you can manipulate natural language in such a way that renders it useful in machine learning. Machines can't read words, but they can recognize numbers, so we have to process the text we want to use in a way that retains the original meaning while representing the text with numbers.

#### **<font color=orange>So What?</font>**

We need to know some basic terminology to get started:

**Normalization** - is when you perform a series of tasks like making all text lowercase, removing punctuation, expanding contractions, removing anything that's not an ASCII character, etc.

#### Normalization Examples:

##### **Lowercase Using `df.col.str.lower()`**

In [2]:
df = get_news_articles()
df.head()

,topic,title,author,content
0,business,3 employees at Hyundai's Chennai plant test po...,Pragya Swastik,Hyundai Motor India on Sunday said its three e...
1,business,CEO of New Zealand media outlet Stuff buys the...,Dharna,"Sinead Boucher, the CEO of New Zealand-based m..."
2,business,"Lockdown extensions won't help, cases will con...",Anushka Dixit,Mahindra Group Chairman Anand Mahindra said th...
3,business,102-year-old car rental firm Hertz files for b...,Dharna,Global car rental company Hertz has filed for ...
4,business,"Jeff Bezos, Zuckerberg highest-earning billion...",Pragya Swastik,Amazon CEO Jeff Bezos and Facebook CEO Mark Zu...

In [ ]:
# Note I have not reassigned this or changed the inplace argument to True yet; just a look.

df.content.str.lower()

##### **Normalize Unicode Characters**

[Here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.normalize.html) is the documentation for using `unicodedata.normalize()` on a Pandas Series.

```python
df.col.str.normalize(form, unistr)
```

```python
df.col.str.encode('ascii', 'ignore')
```

```python
df.col.str.decode('utf-8', 'ignore')
```

```python
df.col.str.replace(r"[^A-z0-9'\s]", '', regex=True)
```

In [ ]:
# Again, this is a look because it has not been reassigned or changed in place.

df.content.str.normalize('NFKC').str.encode('ascii', 'ignore').str.decode('utf-8', 'ignore')

##### **Remove Special Characters Using Regex**

I found [this article](https://kanoki.org/2019/11/12/how-to-use-regex-in-pandas/) very helpful when using Regex in Pandas!

In [ ]:
# Again, this is a look because it has not been reassigned or changed in place.

df.content.str.replace(r"[^A-z0-9'\s]", '', regex=True)

In [ ]:
# Now, I can chain these together and reassign to my df as a new columm

df['basic_clean'] = df.content.str.lower()\
                    .str.replace(r"[^A-z0-9'\s]", '', regex=True)\
                    .str.normalize('NFKC')\
                    .str.encode('ascii', 'ignore')\
                    .str.decode('utf-8', 'ignore')

In [ ]:
df.head()

#### **<font color=green>Now What?</font>**

##### Basic Clean Function

In [3]:
def basic_clean(df, col):
    '''
    This function takes in a df and a string for a column and
    returns the df with a new column named 'basic_clean' with the
    passed column text normalized.
    '''
    df['basic_clean'] = df[col].str.lower()\
                    .str.replace(r"[^A-z0-9'\s]", '', regex=True)\
                    .str.normalize('NFKC')\
                    .str.encode('ascii', 'ignore')\
                    .str.decode('utf-8', 'ignore')
    return df

In [ ]:
df = basic_clean(df, 'content')
df.head(2)

**Tokenization** - is when you split larger strings of text into smaller pieces or tokens by setting a boundary. You might chunk a sentence into words using a space as a boundary or a paragraph into sentences using punctuation as a boundary.

#### Tokenization Examples:

##### **Using `.split()`**

Tokenizing using `.split()` is simple but also limited to one delimiter.

In [ ]:
text = 'Knowledge is the compound interest of curiosity. - James Clear'

In [ ]:
text.split()

In [ ]:
text = """There's the kind of person who is always the victim in any story they tell. Always on the receiving end of some injustice. There's the kind of person who is always the kind of hero of every story they tell. There's the smart person; they delivered the clever put down there."""

In [ ]:
text.split('.')

##### Using Regex

**<font color=purple>Identifiers</font>**

<table ><tr><th>Character</th><th>Description</th><th>Example Pattern Code</th><th >Exammple Match</th></tr>

<tr ><td><span >\d</span></td><td>A digit</td><td>file_\d\d</td><td>file_25</td></tr>

<tr ><td><span >\w</span></td><td>Alphanumeric</td><td>\w-\w\w\w</td><td>A-b_1</td></tr>



<tr ><td><span >\s</span></td><td>White space</td><td>a\sb\sc</td><td>a b c</td></tr>



<tr ><td><span >\D</span></td><td>A non digit</td><td>\D\D\D</td><td>ABC</td></tr>

<tr ><td><span >\W</span></td><td>Non-alphanumeric</td><td>\W\W\W\W\W</td><td>*-+=)</td></tr>

<tr ><td><span >\S</span></td><td>Non-whitespace</td><td>\S\S\S\S</td><td>Yoyo</td></tr></table>

**<font color=purple>Quantifiers</font>**

<table ><tr><th>Character</th><th>Description</th><th>Example Pattern Code</th><th >Exammple Match</th></tr>

<tr ><td><span >+</span></td><td>Occurs one or more times</td><td>	Version \w-\w+</td><td>Version A-b1_1</td></tr>

<tr ><td><span >{3}</span></td><td>Occurs exactly 3 times</td><td>\D{3}</td><td>abc</td></tr>



<tr ><td><span >{2,4}</span></td><td>Occurs 2 to 4 times</td><td>\d{2,4}</td><td>123</td></tr>



<tr ><td><span >{3,}</span></td><td>Occurs 3 or more</td><td>\w{3,}</td><td>anycharacters</td></tr>

<tr ><td><span >\*</span></td><td>Occurs zero or more times</td><td>A\*B\*C*</td><td>AAACC</td></tr>

<tr ><td><span >?</span></td><td>Once or none</td><td>plurals?</td><td>plural</td></tr></table>

**<font color=purple>More Regex</font>**

<table ><tr><th>Character</th><th>Description</th><th>Example</th></tr>
    
<tr ><td><span >|</span></td><td>or statement</td><td>r'dog|cat'</td></tr>

<tr ><td><span >*</span></td><td>wildcard</td><td>r'.at'</td></tr>
    
<tr ><td><span >^</span></td><td>starts with</td><td>r'^\d'</td></tr>
    
<tr ><td><span >[^]</span></td><td>exclusion</td><td>r'[^a-z]'</td></tr>

In [ ]:
# Split your text using a regex pattern in .findall()

pattern = r'[\w]+'
text = 'Knowledge is the compound interest of curiosity. - James Clear'

tokens = re.findall(pattern, text)
tokens

In [ ]:
# Use `.compile()` with .split(text) to split your text on more than one delimiter

pattern = re.compile(r'[.;!?]')
text = """There's the kind of person who is always the victim in any story they tell. Always on the receiving end of some injustice. There's the kind of person who is always the kind of hero of every story they tell. There's the smart person; they delivered the clever put down there."""

pattern.split(text)

##### Using NLTK Tokenization

```python
tokenizer = nltk.tokenize.ToktokTokenizer()

```

```python
df.col.apply(tokenizer.tokenize).str.join(' ')
```

In [ ]:
df.head(2)

In [ ]:
tokenizer = nltk.tokenize.ToktokTokenizer()

In [ ]:
df.basic_clean.apply(tokenizer.tokenize)[:2]

In [ ]:
# Here we apply nltk's tokenizer to each row, or text, in our basic_clean Series

df['clean_tokes'] = df.basic_clean.apply(tokenizer.tokenize)

In [ ]:
df.head(2)

**<font color=green>Now What?</font>**

##### Tokenize Function

In [4]:
def tokenize(df, col):
    '''
    This function takes in a df and a string for a column and
    returns a df with a new column named 'clean_tokes' with the
    passed column text tokenized and in a list.
    '''
    tokenizer = nltk.tokenize.ToktokTokenizer()
    df['clean_tokes'] = df[col].apply(tokenizer.tokenize)
    return df

In [ ]:
df = tokenize(df, 'basic_clean')
df.head(2)

##### **Using NLTK PorterStemmer**

```python
ps = nltk.porter.PorterStemmer()
```

```python
stems = df.col.apply(lambda row: [ps.stem(word) for word in row])
```

```python
df['stemmed'] = stems.str.join(' ')
```

In [ ]:
ps = nltk.porter.PorterStemmer()

In [ ]:
ps.stem('turning')

In [ ]:
# Create a Series of lists of stemmed words using our cleaned tokens

stems = df.clean_tokes.apply(lambda row: [ps.stem(word) for word in row])
stems.head(2)

In [ ]:
# Join our cleaned, stemmed lists of words back into strings of words/tokens

df['stemmed'] = stems.str.join(' ')

In [ ]:
pd.options.display.max_colwidth = 300
df.head(2)

**<font color=green>Now What?</font>**

##### Stem Function

In [5]:
def stem(df, col):
    '''
    This function takes in a df and a string for a column name and
    returns a df with a new column named 'stemmed'.
    '''
    # Create porter stemmer
    ps = nltk.porter.PorterStemmer()
    
    # Create a Series of lists of stemmed words using our cleaned tokens
    stems = df[col].apply(lambda row: [ps.stem(word) for word in row])
    
    # Join our cleaned, stemmed lists of words back into strings of words/tokens
    df['stemmed'] = stems.str.join(' ')
    
    return df

In [ ]:
df = stem(df, 'clean_tokes')
df.head()

##### Using NLTK WordNetLemmatizer

```python
nltk.download('wordnet')
```

```python
wnl = nltk.stem.WordNetLemmatizer()
```

```python
lemmas = df.col.apply(lambda row: [wnl.lemmatize(word) for word in row])
```

```python
df['lemmatized'] = lemmas.str.join(' ')
```

In [ ]:
wnl = nltk.stem.WordNetLemmatizer()

In [ ]:
lemmas = df.clean_tokes.apply(lambda row: [wnl.lemmatize(word) for word in row])
lemmas.head(2)

In [ ]:
# Join our cleaned, lemmatized lists of words back into strings of words/tokens

df['lemmatized'] = lemmas.str.join(' ')

In [ ]:
df.head(2)

**<font color=green>Now What?</font>**

##### Lemmatize Function

In [6]:
def lemmatize(df, col):
    '''
    This function takes in a df and a string for column name and
    returns a the original df with a new column called 'lemmatized'.
    '''
    wnl = nltk.stem.WordNetLemmatizer()
    lemmas = df[col].apply(lambda row: [wnl.lemmatize(word) for word in row])
    df['lemmatized'] = lemmas.str.join(' ')
    return df

In [ ]:
df = lemmatize(df, 'clean_tokes')
df.head(2)

##### Using NLTK Stopwords

```python
import nltk; nltk.download('stopwords')
```

```python
stopword_list = stopwords.words('english')
```

```python
words = df.col.str.split()
```

```python
filtered_words = words.apply(lambda row: [word for word in row if word not in stopword_list])
```

```python
df['clean_words'] = filtered_words.str.join(' ')
```

In [ ]:
stopword_list = stopwords.words('english')

In [ ]:
# Split words in column
words = df.lemmatized.str.split()

# Check each words in each row of the column against stopword_list and return only those that are not
filtered_words = words.apply(lambda row: [word for word in row if word not in stopword_list])
df['clean_lemmas'] = filtered_words.str.join(' ')

In [ ]:
words = df.stemmed.str.split()
filtered_words = words.apply(lambda row: [word for word in row if word not in stopword_list])
df['clean_stemmed'] = filtered_words.str.join(' ')

In [ ]:
df.head(2)

**<font color=green>Now What?</font>**

##### Stopwords Function

In [7]:
def remove_stopwords(df, col):
    '''
    This function takes in a df and a string for column name and 
    returns the df with a new column named 'clean' with stopwords removed.
    '''
    # Create stopword_list
    stopword_list = stopwords.words('english')
    
    # Split words in column
    words = df[col].str.split()
    
    # Check each words in each row of the column against stopword_list and return only those that are not
    filtered_words = words.apply(lambda row: [word for word in row if word not in stopword_list])
    
    # Create new column of words that have stopwords removed
    df['clean_' + col] = filtered_words.str.join(' ')
    
    return df

In [ ]:
df = remove_stopwords(df, 'lemmatized')
df.head(2)

**<font color=green>Now What?</font>**

##### Prep Article Function

In [8]:
df.columns

Index(['topic', 'title', 'author', 'content'], dtype='object')

In [ ]:
df = get_news_articles()

In [12]:
def prep_article_data(df):
    '''
    This function takes in the news articles df and
    returns the df with original columns plus cleaned
    and lemmatized content without stopwords.
    '''
    # Do basic clean on article content
    df = basic_clean(df, 'content')
    
    # Tokenize clean article content
    df = tokenize(df, 'basic_clean')
    
    # Stem cleaned and tokenized article content
    df = stem(df, 'clean_tokes')
    
    # Remove stopwords from Lemmatized article content
    df = remove_stopwords(df, 'stemmed')
    
    # Lemmatize cleaned and tokenized article content
    df = lemmatize(df, 'clean_tokes')
    
    # Remove stopwords from Lemmatized article content
    df = remove_stopwords(df, 'lemmatized')
    
    return df[['topic', 'title', 'author', 'content', 'clean_stemmed', 'clean_lemmatized']]

In [13]:
df = prep_article_data(df)
df.head()

,topic,title,author,content,clean_stemmed,clean_lemmatized
0,business,3 employees at Hyundai's Chennai plant test po...,Pragya Swastik,Hyundai Motor India on Sunday said its three e...,hyundai motor india sunday said three employe ...,hyundai motor india sunday said three employee...
1,business,CEO of New Zealand media outlet Stuff buys the...,Dharna,"Sinead Boucher, the CEO of New Zealand-based m...",sinead boucher ceo new zealandbas media outlet...,sinead boucher ceo new zealandbased medium out...
2,business,"Lockdown extensions won't help, cases will con...",Anushka Dixit,Mahindra Group Chairman Anand Mahindra said th...,mahindra group chairman anand mahindra said lo...,mahindra group chairman anand mahindra said lo...
3,business,102-year-old car rental firm Hertz files for b...,Dharna,Global car rental company Hertz has filed for ...,global car rental compani hertz ha file bankru...,global car rental company hertz ha filed bankr...
4,business,"Jeff Bezos, Zuckerberg highest-earning billion...",Pragya Swastik,Amazon CEO Jeff Bezos and Facebook CEO Mark Zu...,amazon ceo jeff bezo facebook ceo mark zuckerb...,amazon ceo jeff bezos facebook ceo mark zucker...