<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Acquire-News-Articles" data-toc-modified-id="Acquire-News-Articles-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Acquire News Articles</a></span></li><li><span><a href="#Prepare-News-Articles" data-toc-modified-id="Prepare-News-Articles-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Prepare News Articles</a></span></li><li><span><a href="#Explore-Lemmatized-Text" data-toc-modified-id="Explore-Lemmatized-Text-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Explore Lemmatized Text</a></span></li></ul></div>

In [2]:
import pandas as pd
import numpy as np

import os
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

from acquire_walkthrough import get_news_articles
from prepare_walkthrough import prep_article_data

## Acquire News Articles

In [3]:
df = get_news_articles()

## Prepare News Articles

In [4]:
df = prep_article_data(df)

In [5]:
df.head()

,topic,title,author,content,clean_stemmed,clean_lemmatized
0,business,Firm whose stock surged 1000% in 2020 starts h...,Krishna Veera Vanamali,US biotech company Novavax said it has started...,us biotech compani novavax said ha start phase...,u biotech company novavax said ha started phas...
1,business,India's economic growth seen at 1.2% in Q4 FY2...,Dharna,India's economy is estimated to have grown at ...,india ' economi estim grown 12 quarter end mar...,india ' economy estimated grown 12 quarter end...
2,business,TVS Motor cuts employees' salaries by up to 20...,Dharna,TVS Motor Company has said it is cutting the s...,tv motor compani ha said cut salari employe si...,tv motor company ha said cutting salary employ...
3,business,"Lockdown extensions won't help, cases will con...",Anushka Dixit,Mahindra Group Chairman Anand Mahindra said th...,mahindra group chairman anand mahindra said lo...,mahindra group chairman anand mahindra said lo...
4,business,Uber India fires 600 employees reducing 25% of...,Dharna,"Uber is firing 600 employees in India, or 25% ...",uber fire 600 employe india 25 workforc countr...,uber firing 600 employee india 25 workforce co...

In [10]:
# Select label and text and rename accordingly
df_lem = df[['topic', 'clean_lemmatized']]

df_lem.rename(columns={'topic': 'label', 'clean_lemmatized': 'text'}, inplace=True)

# df_lem uses lemmatized text
df_lem.head(1)

      label                                               text
0  business  u biotech company novavax said ha started phas...

## Explore Lemmatized Text

In [12]:
# Our scraped data is very balanced

labels = pd.concat([df_lem.label.value_counts(),
                    df_lem.label.value_counts(normalize=True)], axis=1)
labels.columns = ['n', 'percent']
labels

                n   percent
sports         25  0.252525
business       25  0.252525
entertainment  25  0.252525
technology     24  0.242424

### Create a Series for

In [ ]:
def label_filter(df, labels):
    '''
    This function takes in a df and a list of strings
    for labels and returns
    '''
    for label in labels:
        label + '_words' = ' '.join(df[df.label == label].text)

In [19]:
sports_words = ' '.join(df_lem[df_lem.label == 'sports'].text)
sports_words

"exindia captain rahul dravid ha said idea creating biosecure environment around team cricket resume unrealistic case biobubbleyou testing quarantine day two test one player test positive happens added end test series said cricketerturnedcommentator aakash chopra ha said batsman given soon zing bail light said moment see light come give batsman happening zing bail heavy dont come easily [ struck ball ] reacting shahid afridi ' remark pm narendra modi expakistan legspinner danish kaneria said afridi think speaking matter added want join politics quit tie cricket said speech like create negative image pakistan cricket india also around world condoling demise indian hockey legend balbir singh sr passed away monday akshay kumar took twitter share picture late 96yearold saddened hear [ ] demise[ h ] ad good fortune meeting inpast amazing personality wrote akshay ' ' gold ' wa loosely based threetime olympic gold medallist ' life india opener shikhar dhawan monday took twitter praise actor sonu sood helping stranded migrant reach home big salute sonu sood heroic effort tweeted dhawan sood recently arranged bus send migrant worker home uttar pradesh bihar jharkhand karnataka ha also distributed food poor cricket west indie cwi ceo johnny grave ha revealed ready plan send 25man squad england around june 8 threematch test series played july current plan working ha three test starting july 8 july 16 july 24 stated bournemouth goalkeeper aaron ramsdale ha revealed ' one two individual tested positive coronavirus last round premier league testing ' definitely shock ' contact anybody ' got said far premier league ha tested 1744 player club staff member virus west indie test team player including captain jason holder returned training authority eased restriction coronavirus pandemic come cricket west indie ceo johnny grave revealed ready plan send 25man squad england threematch test series played july sport authority india sai ha resumed activity two five stadium delhi government eased restriction coronavirus pandemic according sai sporting activity resumed jawaharlal nehru stadium major dhyan chand national stadium activity others expected resume week ' time pakistan head coach chief selector misbahulhaq ha stated pakistan limitedovers captain babar azam close class virat kohli steve smith joe root babar ' want team want top performer pakistanin time ' get better captain experience misbah added demise former hockey player balbir singh sr exindian sprinter milkha singh said wa hockey legend dhyan chand wa balbir sr close association revealed olympian milkha facility worked hard made country proud added south africa batsman dean elgar said ' asked take test side captaincy would mean lot ' definitely easy test captain think leadership come extremely naturally stated earlier teammate aiden markram expressed desire appointed sa test captain west indie fast bowler kemar roach instagram live session named former south africa allrounder jacques kallis toughest batsman ha bowled kallis wa technical solid approachhe played easily stated roach kallis south africa ' alltime leading scorer test odis scored 10000 run format expakistan captain saleem malik wa banned life 2000 matchfixing ha said ha received letter pcb ' anticorruption unit ready respond question malik ' ban wa lifted session court 2008 however ' yet get clearance pcb icc get back cricket activity bangladesh wicketkeeperbatsman mushfiqur rahim ha said ' regret ' played ipl ' bigger representing bangladesh ipl definitely one biggest t20 league worldif get opportunity course ' playand ' ttheni ' never regret stated rahim went unsold ipl 2020 auction cricketerturnedcommentator aakash chopra ha picked alltime royal challenger bangalore xi virat kohli chris gayle opener chopra picked kl rahul ab de villiers number three four position respectively followed ross taylor robin uthappa named mitchell starc anil kumble yuzvendra chahal vinay kumar zaheer khan team former england batsman ian bell facebook live session revealed like technical batsman added ' hard look past virat kohli ' cover drive world crickethe probably best moment bell played 118 test england scoring 7727 run included 22 century double hundred indian pacer varun aaron podcast revealed rahul dravid toughest batsman ha ever bowled every time i[ bowled ] net felt like wa bowling 120kph aaron stated ' never bowled batsman would lunge outand play ' bowled throw added pakistan cricket board pcb reportedly set appoint former spinner saqlain mushtaq coach international player national high performance centre lahore saqlain picked 208 wicket 49 test 288 wicket 169 odis ha previous experience england west indie new zealand team spin bowling coachconsultant exaustralia pacer brett lee instagram live picked sachin tendulkar world ' best batsman jacques kallis complete cricketer felt like sachin time playit felt like wa batting return crease batting next stump stated lee kallis south africa ' alltime leading runscorer odis test former pakistan pacer shoaib akhtar espncricinfo videocast revealed expakistan captain inzamamulhaq could read ball second faster others could bowl inzamam even net 10 year said among batsman played well akhtar named rahul dravid stating wa able penetrate dravid ' defence condoling demise hockey legend balbir singh sr punjab chief minister amarinder singh said balbir sr exemplified quality perseverance dedication sportsmanship sir dearly missed forever remain inspiration grateful state bid farewell amarinder added balbir sr wa semicomatose state since may 18 online interview pakistan batsman masood said ha never played jasprit bumrah india pacer challenge want take asked pick toughest bowler ha faced far masood named australia fast bowler pat cummins bumrah second icc odi ranking bowler australia pacer pat cummins ha said learnt lot time ha played ipl previous ipl stintsi wa bowling last couple situation could either win lose match ' huge experience explained ' put highpressure situation [ ipl ] added juventus shared video cristiano ronaldo seen kicking football basketball hoop training serie club returned team training last week following suspension football march due coronavirus pandemic earlier barcelona forward lionel messi wa seen heading football net training"