<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Natural-Language-Processing" data-toc-modified-id="Natural-Language-Processing-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Natural Language Processing</a></span><ul class="toc-item"><li><span><a href="#What-is-Natural-Language-Processing?" data-toc-modified-id="What-is-Natural-Language-Processing?-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span><strong><font color="red">What is Natural Language Processing?</font></strong></a></span></li><li><span><a href="#So-What?" data-toc-modified-id="So-What?-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span><strong><font color="orange">So What?</font></strong></a></span></li><li><span><a href="#Normalization-Examples:" data-toc-modified-id="Normalization-Examples:-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Normalization Examples:</a></span><ul class="toc-item"><li><span><a href="#Lowercase-Using-df.col.str.lower()" data-toc-modified-id="Lowercase-Using-df.col.str.lower()-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Lowercase Using <code>df.col.str.lower()</code></a></span></li><li><span><a href="#Normalize-Unicode-Characters" data-toc-modified-id="Normalize-Unicode-Characters-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Normalize Unicode Characters</a></span></li><li><span><a href="#Remove-Special-Characters-Using-Regex" data-toc-modified-id="Remove-Special-Characters-Using-Regex-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Remove Special Characters Using Regex</a></span></li></ul></li><li><span><a href="#Now-What?" data-toc-modified-id="Now-What?-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span><strong><font color="green">Now What?</font></strong></a></span><ul class="toc-item"><li><span><a href="#Basic-Clean-Function" data-toc-modified-id="Basic-Clean-Function-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Basic Clean Function</a></span></li></ul></li><li><span><a href="#Tokenization-Examples:" data-toc-modified-id="Tokenization-Examples:-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Tokenization Examples:</a></span><ul class="toc-item"><li><span><a href="#Using-.split()" data-toc-modified-id="Using-.split()-1.5.1"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span>Using <code>.split()</code></a></span></li><li><span><a href="#Using-Regex" data-toc-modified-id="Using-Regex-1.5.2"><span class="toc-item-num">1.5.2&nbsp;&nbsp;</span>Using Regex</a></span></li><li><span><a href="#Using-NLTK-Tokenization" data-toc-modified-id="Using-NLTK-Tokenization-1.5.3"><span class="toc-item-num">1.5.3&nbsp;&nbsp;</span>Using NLTK Tokenization</a></span></li><li><span><a href="#Tokenize-Function" data-toc-modified-id="Tokenize-Function-1.5.4"><span class="toc-item-num">1.5.4&nbsp;&nbsp;</span>Tokenize Function</a></span></li><li><span><a href="#Using-NLTK-PorterStemmer" data-toc-modified-id="Using-NLTK-PorterStemmer-1.5.5"><span class="toc-item-num">1.5.5&nbsp;&nbsp;</span>Using NLTK PorterStemmer</a></span></li><li><span><a href="#Stem-Function" data-toc-modified-id="Stem-Function-1.5.6"><span class="toc-item-num">1.5.6&nbsp;&nbsp;</span>Stem Function</a></span></li><li><span><a href="#Using-NLTK-WordNetLemmatizer" data-toc-modified-id="Using-NLTK-WordNetLemmatizer-1.5.7"><span class="toc-item-num">1.5.7&nbsp;&nbsp;</span>Using NLTK WordNetLemmatizer</a></span></li><li><span><a href="#Lemmatize-Function" data-toc-modified-id="Lemmatize-Function-1.5.8"><span class="toc-item-num">1.5.8&nbsp;&nbsp;</span>Lemmatize Function</a></span></li><li><span><a href="#Using-NLTK-Stopwords" data-toc-modified-id="Using-NLTK-Stopwords-1.5.9"><span class="toc-item-num">1.5.9&nbsp;&nbsp;</span>Using NLTK Stopwords</a></span></li><li><span><a href="#Stopwords-Function" data-toc-modified-id="Stopwords-Function-1.5.10"><span class="toc-item-num">1.5.10&nbsp;&nbsp;</span>Stopwords Function</a></span></li><li><span><a href="#Prep-Article-Function" data-toc-modified-id="Prep-Article-Function-1.5.11"><span class="toc-item-num">1.5.11&nbsp;&nbsp;</span>Prep Article Function</a></span></li></ul></li></ul></li></ul></div>

In [1]:
import pandas as pd
import numpy as np

import os
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

from acquire_walkthrough import get_news_articles

### Natural Language Processing

#### **<font color=red>What is Natural Language Processing?</font>**

Natural Language Processing allows you to use techniques in Python libraries like NLTK (Natural Language Tool Kit) and Spacy to create machine-useable structure out of natural language text. In other words, you can manipulate natural language in such a way that renders it useful in machine learning. Machines can't read words, but they can recognize numbers, so we have to process the text we want to use in a way that retains the original meaning while representing the text with numbers.

#### **<font color=orange>So What?</font>**

We need to know some basic terminology to get started:

**Normalization** - is when you perform a series of tasks like making all text lowercase, removing punctuation, expanding contractions, removing anything that's not an ASCII character, etc.

#### Normalization Examples:

##### Lowercase Using `df.col.str.lower()`

In [15]:
df = get_news_articles()
df.head()

,topic,title,author,content
0,business,3 employees at Hyundai's Chennai plant test po...,Pragya Swastik,Hyundai Motor India on Sunday said its three e...
1,business,CEO of New Zealand media outlet Stuff buys the...,Dharna,"Sinead Boucher, the CEO of New Zealand-based m..."
2,business,"Lockdown extensions won't help, cases will con...",Anushka Dixit,Mahindra Group Chairman Anand Mahindra said th...
3,business,102-year-old car rental firm Hertz files for b...,Dharna,Global car rental company Hertz has filed for ...
4,business,"Jeff Bezos, Zuckerberg highest-earning billion...",Pragya Swastik,Amazon CEO Jeff Bezos and Facebook CEO Mark Zu...

In [16]:
# Note I have not reassigned this or changed the inplace argument to True yet; just a look.

df.content.str.lower()

0     hyundai motor india on sunday said its three e...
1     sinead boucher, the ceo of new zealand-based m...
2     mahindra group chairman anand mahindra said th...
3     global car rental company hertz has filed for ...
4     amazon ceo jeff bezos and facebook ceo mark zu...
                            ...
94    rahul dholakia has said filmmaking in the post...
95    reese witherspoon has shared she used to be wo...
96    suchitra pillai, who played commandant tyagi i...
97    ellie goulding recently revealed that she "kis...
98    producers guild of india (guild) on monday twe...
Name: content, Length: 99, dtype: object

##### Normalize Unicode Characters

[Here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.normalize.html) is the documentation for using `unicodedata.normalize()` as a str method on a Pandas Series.

```python
df.col.str.normalize(form, unistr)
```

```python
df.col.str.encode('ascii', 'ignore')
```

```python
df.col.str.decode('utf-8', 'ignore')
```

```python
df.col.str.replace(r"[^A-z0-9'\s]", '', regex=True)
```

In [17]:
# Again, this is a look because it has not been reassigned or changed in place.

df.content.str.normalize('NFKC').str.encode('ascii', 'ignore').str.decode('utf-8', 'ignore')

0     Hyundai Motor India on Sunday said its three e...
1     Sinead Boucher, the CEO of New Zealand-based m...
2     Mahindra Group Chairman Anand Mahindra said th...
3     Global car rental company Hertz has filed for ...
4     Amazon CEO Jeff Bezos and Facebook CEO Mark Zu...
                            ...
94    Rahul Dholakia has said filmmaking in the post...
95    Reese Witherspoon has shared she used to be wo...
96    Suchitra Pillai, who played Commandant Tyagi i...
97    Ellie Goulding recently revealed that she "kis...
98    Producers Guild of India (GUILD) on Monday twe...
Name: content, Length: 99, dtype: object

##### Remove Special Characters Using Regex

I found [this article](https://kanoki.org/2019/11/12/how-to-use-regex-in-pandas/) very helpful when using Regex in Pandas!

In [18]:
# Again, this is a look because it has not been reassigned or changed in place.

df.content.str.replace(r"[^A-z0-9'\s]", '', regex=True)

0     Hyundai Motor India on Sunday said its three e...
1     Sinead Boucher the CEO of New Zealandbased med...
2     Mahindra Group Chairman Anand Mahindra said th...
3     Global car rental company Hertz has filed for ...
4     Amazon CEO Jeff Bezos and Facebook CEO Mark Zu...
                            ...
94    Rahul Dholakia has said filmmaking in the post...
95    Reese Witherspoon has shared she used to be wo...
96    Suchitra Pillai who played Commandant Tyagi in...
97    Ellie Goulding recently revealed that she kiss...
98    Producers Guild of India GUILD on Monday tweet...
Name: content, Length: 99, dtype: object

In [23]:
# Now, I can chain these together and assign to my df as a new columm, 'basic_clean'

df['basic_clean'] = df.content.str.lower()\
                    .str.replace(r"[^A-z0-9'\s]", '', regex=True)\
                    .str.normalize('NFKC')\
                    .str.encode('ascii', 'ignore')\
                    .str.decode('utf-8', 'ignore')

In [24]:
df.head()

,topic,title,author,content,basic_clean
0,business,3 employees at Hyundai's Chennai plant test po...,Pragya Swastik,Hyundai Motor India on Sunday said its three e...,hyundai motor india on sunday said its three e...
1,business,CEO of New Zealand media outlet Stuff buys the...,Dharna,"Sinead Boucher, the CEO of New Zealand-based m...",sinead boucher the ceo of new zealandbased med...
2,business,"Lockdown extensions won't help, cases will con...",Anushka Dixit,Mahindra Group Chairman Anand Mahindra said th...,mahindra group chairman anand mahindra said th...
3,business,102-year-old car rental firm Hertz files for b...,Dharna,Global car rental company Hertz has filed for ...,global car rental company hertz has filed for ...
4,business,"Jeff Bezos, Zuckerberg highest-earning billion...",Pragya Swastik,Amazon CEO Jeff Bezos and Facebook CEO Mark Zu...,amazon ceo jeff bezos and facebook ceo mark zu...

#### **<font color=green>Now What?</font>**

##### Basic Clean Function

In [21]:
def basic_clean(df, col):
    '''
    This function takes in a df and a string for a column and
    returns the df with a new column named 'basic_clean' with the
    passed column text normalized.
    '''
    df['basic_clean'] = df[col].str.lower()\
                    .str.replace(r"[^A-z0-9'\s]", '', regex=True)\
                    .str.normalize('NFKC')\
                    .str.encode('ascii', 'ignore')\
                    .str.decode('utf-8', 'ignore')
    return df

In [22]:
df = basic_clean(df, 'content')
df.head(2)

,topic,title,author,content,basic_clean
0,business,3 employees at Hyundai's Chennai plant test po...,Pragya Swastik,Hyundai Motor India on Sunday said its three e...,hyundai motor india on sunday said its three e...
1,business,CEO of New Zealand media outlet Stuff buys the...,Dharna,"Sinead Boucher, the CEO of New Zealand-based m...",sinead boucher the ceo of new zealandbased med...

**Tokenization** - is when you split larger strings of text into smaller pieces or tokens by setting a boundary. You might chunk a sentence into words using a space as a boundary or a paragraph into sentences using punctuation as a boundary.

#### Tokenization Examples:

##### Using `.split()`

Tokenizing using `.split()` is simple but also limited to one delimiter.

In [25]:
text = 'Knowledge is the compound interest of curiosity. - James Clear'

In [26]:
text.split()

['Knowledge',
 'is',
 'the',
 'compound',
 'interest',
 'of',
 'curiosity.',
 '-',
 'James',
 'Clear']

In [76]:
text = "There's the kind of person who is always the victim in any story they tell. Always on the receiving end of some injustice. There's the kind of person who is always the kind of hero of every story they tell. There's the smart person; they delivered the clever put down there."

In [77]:
text.split('.')

["There's the kind of person who is always the victim in any story they tell",
 ' Always on the receiving end of some injustice',
 " There's the kind of person who is always the kind of hero of every story they tell",
 " There's the smart person; they delivered the clever put down there",
 '']

##### Using Regex

**<font color=purple>Identifiers</font>**

<table ><tr><th>Character</th><th>Description</th><th>Example Pattern Code</th><th >Exammple Match</th></tr>

<tr ><td><span >\d</span></td><td>A digit</td><td>file_\d\d</td><td>file_25</td></tr>

<tr ><td><span >\w</span></td><td>Alphanumeric</td><td>\w-\w\w\w</td><td>A-b_1</td></tr>



<tr ><td><span >\s</span></td><td>White space</td><td>a\sb\sc</td><td>a b c</td></tr>



<tr ><td><span >\D</span></td><td>A non digit</td><td>\D\D\D</td><td>ABC</td></tr>

<tr ><td><span >\W</span></td><td>Non-alphanumeric</td><td>\W\W\W\W\W</td><td>*-+=)</td></tr>

<tr ><td><span >\S</span></td><td>Non-whitespace</td><td>\S\S\S\S</td><td>Yoyo</td></tr></table>

**<font color=purple>Quantifiers</font>**

<table ><tr><th>Character</th><th>Description</th><th>Example Pattern Code</th><th >Exammple Match</th></tr>

<tr ><td><span >+</span></td><td>Occurs one or more times</td><td>	Version \w-\w+</td><td>Version A-b1_1</td></tr>

<tr ><td><span >{3}</span></td><td>Occurs exactly 3 times</td><td>\D{3}</td><td>abc</td></tr>



<tr ><td><span >{2,4}</span></td><td>Occurs 2 to 4 times</td><td>\d{2,4}</td><td>123</td></tr>



<tr ><td><span >{3,}</span></td><td>Occurs 3 or more</td><td>\w{3,}</td><td>anycharacters</td></tr>

<tr ><td><span >\*</span></td><td>Occurs zero or more times</td><td>A\*B\*C*</td><td>AAACC</td></tr>

<tr ><td><span >?</span></td><td>Once or none</td><td>plurals?</td><td>plural</td></tr></table>

**<font color=purple>More Regex</font>**

<table ><tr><th>Character</th><th>Description</th><th>Example</th></tr>
    
<tr ><td><span >|</span></td><td>or statement</td><td>r'dog|cat'</td></tr>

<tr ><td><span >*</span></td><td>wildcard</td><td>r'.at'</td></tr>
    
<tr ><td><span >^</span></td><td>starts with</td><td>r'^\d'</td></tr>
    
<tr ><td><span >[^]</span></td><td>exclusion</td><td>r'[^a-z]'</td></tr>

In [29]:
# Split your text using a regex pattern in .findall()

pattern = r'[\w]+'
text = 'Knowledge is the compound interest of curiosity. - James Clear'

tokens = re.findall(pattern, text)
tokens

['Knowledge',
 'is',
 'the',
 'compound',
 'interest',
 'of',
 'curiosity',
 'James',
 'Clear']

In [78]:
# Use `.compile()` with .split(text) to split your text on more than one delimiter

pattern = re.compile(r'[.;!?]')
text = "There's the kind of person who is always the victim in any story they tell. Always on the receiving end of some injustice. There's the kind of person who is always the kind of hero of every story they tell. There's the smart person; they delivered the clever put down there."

pattern.split(text)

["There's the kind of person who is always the victim in any story they tell",
 ' Always on the receiving end of some injustice',
 " There's the kind of person who is always the kind of hero of every story they tell",
 " There's the smart person",
 ' they delivered the clever put down there',
 '']

##### Using NLTK Tokenization

```python
tokenizer = nltk.tokenize.ToktokTokenizer()

```

```python
df[tokenized] = df.col.apply(tokenizer.tokenize)
```
**<font color=red>I am not going to join the words in my lists back into sentences because this form will be helpful in my next functions.</font>**

In [32]:
tokenizer = nltk.tokenize.ToktokTokenizer()

In [33]:
df.basic_clean.apply(tokenizer.tokenize)[:2]

0    [hyundai, motor, india, on, sunday, said, its,...
1    [sinead, boucher, the, ceo, of, new, zealandba...
Name: basic_clean, dtype: object

In [34]:
# Here we apply nltk's tokenizer to each row, or text, in our basic_clean Series

df['clean_tokes'] = df.basic_clean.apply(tokenizer.tokenize)

In [35]:
df.head(2)

,topic,title,author,content,basic_clean,clean_tokes
0,business,3 employees at Hyundai's Chennai plant test po...,Pragya Swastik,Hyundai Motor India on Sunday said its three e...,hyundai motor india on sunday said its three e...,"[hyundai, motor, india, on, sunday, said, its,..."
1,business,CEO of New Zealand media outlet Stuff buys the...,Dharna,"Sinead Boucher, the CEO of New Zealand-based m...",sinead boucher the ceo of new zealandbased med...,"[sinead, boucher, the, ceo, of, new, zealandba..."

**<font color=green>Now What?</font>**

##### Tokenize Function

In [36]:
def tokenize(df, col):
    '''
    This function takes in a df and a string for a column and
    returns a df with a new column named 'clean_tokes' with the
    passed column text tokenized and in a list.
    '''
    tokenizer = nltk.tokenize.ToktokTokenizer()
    df['clean_tokes'] = df[col].apply(tokenizer.tokenize)
    return df

In [37]:
df = tokenize(df, 'basic_clean')
df.head(2)

,topic,title,author,content,basic_clean,clean_tokes
0,business,3 employees at Hyundai's Chennai plant test po...,Pragya Swastik,Hyundai Motor India on Sunday said its three e...,hyundai motor india on sunday said its three e...,"[hyundai, motor, india, on, sunday, said, its,..."
1,business,CEO of New Zealand media outlet Stuff buys the...,Dharna,"Sinead Boucher, the CEO of New Zealand-based m...",sinead boucher the ceo of new zealandbased med...,"[sinead, boucher, the, ceo, of, new, zealandba..."

**Stemming** - is when you reduce related words in your text to their common stem. It can make it easier when you are searching for a particular word in your text to search for their common stem rather than every form of the word. Stemmers aren't that sophisticated in the way they chop off word endings at their common stems; Spacy, another python NLP library, doesn't even include a stemmer in their library. Spacy only offers the more sophisticated lemmatizer, which we will look at in NLTK next.


##### Using NLTK PorterStemmer

```python
ps = nltk.porter.PorterStemmer()
```

```python
stems = df.tokenized_col.apply(lambda row: [ps.stem(word) for word in row])
```

```python
df['stemmed'] = stems.str.join(' ')
```

In [38]:
# Create porter stemmer

ps = nltk.porter.PorterStemmer()

In [40]:
# Stem each token from our clean_tokes Series of lists

stems = df.clean_tokes.apply(lambda row: [ps.stem(word) for word in row])
stems.head(2)

0    [hyundai, motor, india, on, sunday, said, it, ...
1    [sinead, boucher, the, ceo, of, new, zealandba...
Name: clean_tokes, dtype: object

In [41]:
# Join our cleaned, stemmed lists of words back into sentences

df['stemmed'] = stems.str.join(' ')

In [42]:
# We can do a quick visual check that our stemmer is working.

pd.options.display.max_colwidth = 300
df.head(2)

,topic,title,author,content,basic_clean,clean_tokes,stemmed
0,business,3 employees at Hyundai's Chennai plant test positive for coronavirus,Pragya Swastik,Hyundai Motor India on Sunday said its three employees at Chennai-based plant have tested positive for coronavirus after showing mild symptoms of cough and cold. The second-largest carmaker in the country had resumed operations at Irungattukottai-based plant (near Chennai) on May 8. All three em...,hyundai motor india on sunday said its three employees at chennaibased plant have tested positive for coronavirus after showing mild symptoms of cough and cold the secondlargest carmaker in the country had resumed operations at irungattukottaibased plant near chennai on may 8 all three employees...,"[hyundai, motor, india, on, sunday, said, its, three, employees, at, chennaibased, plant, have, tested, positive, for, coronavirus, after, showing, mild, symptoms, of, cough, and, cold, the, secondlargest, carmaker, in, the, country, had, resumed, operations, at, irungattukottaibased, plant, nea...",hyundai motor india on sunday said it three employe at chennaibas plant have test posit for coronaviru after show mild symptom of cough and cold the secondlargest carmak in the countri had resum oper at irungattukottaibas plant near chennai on may 8 all three employe are recov fast toward normal...
1,business,CEO of New Zealand media outlet Stuff buys the company for ₹46,Dharna,"Sinead Boucher, the CEO of New Zealand-based media outlet Stuff, has bought the company from Australian broadcaster Nine Entertainment for just NZ$1 (around ₹46) to maintain local ownership. This comes a month after Stuff asked staff to voluntarily take pay cuts amid the coronavirus pandemic. Ni...",sinead boucher the ceo of new zealandbased media outlet stuff has bought the company from australian broadcaster nine entertainment for just nz1 around 46 to maintain local ownership this comes a month after stuff asked staff to voluntarily take pay cuts amid the coronavirus pandemic nine would ...,"[sinead, boucher, the, ceo, of, new, zealandbased, media, outlet, stuff, has, bought, the, company, from, australian, broadcaster, nine, entertainment, for, just, nz1, around, 46, to, maintain, local, ownership, this, comes, a, month, after, stuff, asked, staff, to, voluntarily, take, pay, cuts,...",sinead boucher the ceo of new zealandbas media outlet stuff ha bought the compani from australian broadcast nine entertain for just nz1 around 46 to maintain local ownership thi come a month after stuff ask staff to voluntarili take pay cut amid the coronaviru pandem nine would take a hit of 262...

**<font color=green>Now What?</font>**

##### Stem Function

In [43]:
def stem(df, col):
    '''
    This function takes in a df and a string for a column name and
    returns a df with a new column named 'stemmed'.
    '''
    # Create porter stemmer
    ps = nltk.porter.PorterStemmer()
    
    # Stem each token from our clean_tokes Series of lists
    stems = df[col].apply(lambda row: [ps.stem(word) for word in row])
    
    # Join our cleaned, stemmed lists of words back into sentences
    df['stemmed'] = stems.str.join(' ')
    
    return df

In [45]:
df = stem(df, 'clean_tokes')
df.tail(2)

,topic,title,author,content,basic_clean,clean_tokes,stemmed
97,entertainment,I kissed quite a few frogs before I met my husband: Ellie,Vidushi Mishra,"Ellie Goulding recently revealed that she ""kissed quite a few frogs"" before she met husband Caspar Jopling. ""That sounds harsh but that's the best way to say it because I did have a few relationships before Caspar that I thought at the time were amazing,"" the 33-year-old singer said. Reportedly,...",ellie goulding recently revealed that she kissed quite a few frogs before she met husband caspar jopling that sounds harsh but that's the best way to say it because i did have a few relationships before caspar that i thought at the time were amazing the 33yearold singer said reportedly ellie had...,"[ellie, goulding, recently, revealed, that, she, kissed, quite, a, few, frogs, before, she, met, husband, caspar, jopling, that, sounds, harsh, but, that, ', s, the, best, way, to, say, it, because, i, did, have, a, few, relationships, before, caspar, that, i, thought, at, the, time, were, amazi...",elli gould recent reveal that she kiss quit a few frog befor she met husband caspar jopl that sound harsh but that ' s the best way to say it becaus i did have a few relationship befor caspar that i thought at the time were amaz the 33yearold singer said reportedli elli had date princ harri and ...
98,entertainment,Producers Guild prepares guidelines on COVID-19 prevention,Vidushi Mishra,"Producers Guild of India (GUILD) on Monday tweeted the link to its Standard Operating Procedure (SOP) on technical and organisational measures for coronavirus contagion prevention, that will be followed when they are permitted to resume shooting. Furthermore, the GUILD thanked Maharashtra Chief ...",producers guild of india guild on monday tweeted the link to its standard operating procedure sop on technical and organisational measures for coronavirus contagion prevention that will be followed when they are permitted to resume shooting furthermore the guild thanked maharashtra chief ministe...,"[producers, guild, of, india, guild, on, monday, tweeted, the, link, to, its, standard, operating, procedure, sop, on, technical, and, organisational, measures, for, coronavirus, contagion, prevention, that, will, be, followed, when, they, are, permitted, to, resume, shooting, furthermore, the, ...",produc guild of india guild on monday tweet the link to it standard oper procedur sop on technic and organis measur for coronaviru contagion prevent that will be follow when they are permit to resum shoot furthermor the guild thank maharashtra chief minist uddhav thackeray for consid request fro...

**Lemmatization** - is when you reduce related words in your text to their lemma or word base by applying a morphological analysis to your text. Like stemming, this is done to reduce the number of forms you have of the same word, so they can be analyzed as a single item. However, with stemming, you might end up with tokens that are not actually words anymore after they have been chopped off at their base, but with lemmatization you will end up with real words. A drawback of lemmatization is that it takes longer than stemming; you can try both to see which gives you better results as you analyze a given text.

##### Using NLTK WordNetLemmatizer

```python
nltk.download('wordnet')
```

```python
wnl = nltk.stem.WordNetLemmatizer()
```

```python
lemmas = df.tokenized_col.apply(lambda row: [wnl.lemmatize(word) for word in row])
```

```python
df['lemmatized'] = lemmas.str.join(' ')
```

In [47]:
wnl = nltk.stem.WordNetLemmatizer()

In [48]:
# Lemmatize each token from our clean_tokes Series of lists

lemmas = df.clean_tokes.apply(lambda row: [wnl.lemmatize(word) for word in row])
lemmas.head(2)

0    [hyundai, motor, india, on, sunday, said, it, three, employee, at, chennaibased, plant, have, tested, positive, for, coronavirus, after, showing, mild, symptom, of, cough, and, cold, the, secondlargest, carmaker, in, the, country, had, resumed, operation, at, irungattukottaibased, plant, near, c...
1    [sinead, boucher, the, ceo, of, new, zealandbased, medium, outlet, stuff, ha, bought, the, company, from, australian, broadcaster, nine, entertainment, for, just, nz1, around, 46, to, maintain, local, ownership, this, come, a, month, after, stuff, asked, staff, to, voluntarily, take, pay, cut, a...
Name: clean_tokes, dtype: object

In [49]:
# Join our cleaned, lemmatized lists of words back into sentences

df['lemmatized'] = lemmas.str.join(' ')

In [63]:
df.head(2)

,topic,title,author,content,basic_clean,clean_tokes,stemmed,lemmatized
0,business,3 employees at Hyundai's Chennai plant test positive for coronavirus,Pragya Swastik,Hyundai Motor India on Sunday said its three employees at Chennai-based plant have tested positive for coronavirus after showing mild symptoms of cough and cold. The second-largest carmaker in the country had resumed operations at Irungattukottai-based plant (near Chennai) on May 8. All three em...,hyundai motor india on sunday said its three employees at chennaibased plant have tested positive for coronavirus after showing mild symptoms of cough and cold the secondlargest carmaker in the country had resumed operations at irungattukottaibased plant near chennai on may 8 all three employees...,"[hyundai, motor, india, on, sunday, said, its, three, employees, at, chennaibased, plant, have, tested, positive, for, coronavirus, after, showing, mild, symptoms, of, cough, and, cold, the, secondlargest, carmaker, in, the, country, had, resumed, operations, at, irungattukottaibased, plant, nea...",hyundai motor india on sunday said it three employe at chennaibas plant have test posit for coronaviru after show mild symptom of cough and cold the secondlargest carmak in the countri had resum oper at irungattukottaibas plant near chennai on may 8 all three employe are recov fast toward normal...,hyundai motor india on sunday said it three employee at chennaibased plant have tested positive for coronavirus after showing mild symptom of cough and cold the secondlargest carmaker in the country had resumed operation at irungattukottaibased plant near chennai on may 8 all three employee are ...
1,business,CEO of New Zealand media outlet Stuff buys the company for ₹46,Dharna,"Sinead Boucher, the CEO of New Zealand-based media outlet Stuff, has bought the company from Australian broadcaster Nine Entertainment for just NZ$1 (around ₹46) to maintain local ownership. This comes a month after Stuff asked staff to voluntarily take pay cuts amid the coronavirus pandemic. Ni...",sinead boucher the ceo of new zealandbased media outlet stuff has bought the company from australian broadcaster nine entertainment for just nz1 around 46 to maintain local ownership this comes a month after stuff asked staff to voluntarily take pay cuts amid the coronavirus pandemic nine would ...,"[sinead, boucher, the, ceo, of, new, zealandbased, media, outlet, stuff, has, bought, the, company, from, australian, broadcaster, nine, entertainment, for, just, nz1, around, 46, to, maintain, local, ownership, this, comes, a, month, after, stuff, asked, staff, to, voluntarily, take, pay, cuts,...",sinead boucher the ceo of new zealandbas media outlet stuff ha bought the compani from australian broadcast nine entertain for just nz1 around 46 to maintain local ownership thi come a month after stuff ask staff to voluntarili take pay cut amid the coronaviru pandem nine would take a hit of 262...,sinead boucher the ceo of new zealandbased medium outlet stuff ha bought the company from australian broadcaster nine entertainment for just nz1 around 46 to maintain local ownership this come a month after stuff asked staff to voluntarily take pay cut amid the coronavirus pandemic nine would ta...

In [60]:
# Just a quick sanity check that these are actually changing something...

df.stemmed.iloc[98] == df.lemmatized.iloc[98]

False

**<font color=green>Now What?</font>**

##### Lemmatize Function

In [61]:
def lemmatize(df, col):
    '''
    This function takes in a df and a string for column name and
    returns the original df with a new column called 'lemmatized'.
    '''
    # Create the lemmatizer
    wnl = nltk.stem.WordNetLemmatizer()
    
    # Lemmatize each token from our clean_tokes Series of lists
    lemmas = df[col].apply(lambda row: [wnl.lemmatize(word) for word in row])
    
    # Join the cleaned and lemmatized tokens back into sentences
    df['lemmatized'] = lemmas.str.join(' ')
    return df

In [62]:
df = lemmatize(df, 'clean_tokes')
df.head(2)

,topic,title,author,content,basic_clean,clean_tokes,stemmed,lemmatized
0,business,3 employees at Hyundai's Chennai plant test positive for coronavirus,Pragya Swastik,Hyundai Motor India on Sunday said its three employees at Chennai-based plant have tested positive for coronavirus after showing mild symptoms of cough and cold. The second-largest carmaker in the country had resumed operations at Irungattukottai-based plant (near Chennai) on May 8. All three em...,hyundai motor india on sunday said its three employees at chennaibased plant have tested positive for coronavirus after showing mild symptoms of cough and cold the secondlargest carmaker in the country had resumed operations at irungattukottaibased plant near chennai on may 8 all three employees...,"[hyundai, motor, india, on, sunday, said, its, three, employees, at, chennaibased, plant, have, tested, positive, for, coronavirus, after, showing, mild, symptoms, of, cough, and, cold, the, secondlargest, carmaker, in, the, country, had, resumed, operations, at, irungattukottaibased, plant, nea...",hyundai motor india on sunday said it three employe at chennaibas plant have test posit for coronaviru after show mild symptom of cough and cold the secondlargest carmak in the countri had resum oper at irungattukottaibas plant near chennai on may 8 all three employe are recov fast toward normal...,hyundai motor india on sunday said it three employee at chennaibased plant have tested positive for coronavirus after showing mild symptom of cough and cold the secondlargest carmaker in the country had resumed operation at irungattukottaibased plant near chennai on may 8 all three employee are ...
1,business,CEO of New Zealand media outlet Stuff buys the company for ₹46,Dharna,"Sinead Boucher, the CEO of New Zealand-based media outlet Stuff, has bought the company from Australian broadcaster Nine Entertainment for just NZ$1 (around ₹46) to maintain local ownership. This comes a month after Stuff asked staff to voluntarily take pay cuts amid the coronavirus pandemic. Ni...",sinead boucher the ceo of new zealandbased media outlet stuff has bought the company from australian broadcaster nine entertainment for just nz1 around 46 to maintain local ownership this comes a month after stuff asked staff to voluntarily take pay cuts amid the coronavirus pandemic nine would ...,"[sinead, boucher, the, ceo, of, new, zealandbased, media, outlet, stuff, has, bought, the, company, from, australian, broadcaster, nine, entertainment, for, just, nz1, around, 46, to, maintain, local, ownership, this, comes, a, month, after, stuff, asked, staff, to, voluntarily, take, pay, cuts,...",sinead boucher the ceo of new zealandbas media outlet stuff ha bought the compani from australian broadcast nine entertain for just nz1 around 46 to maintain local ownership thi come a month after stuff ask staff to voluntarili take pay cut amid the coronaviru pandem nine would take a hit of 262...,sinead boucher the ceo of new zealandbased medium outlet stuff ha bought the company from australian broadcaster nine entertainment for just nz1 around 46 to maintain local ownership this come a month after stuff asked staff to voluntarily take pay cut amid the coronavirus pandemic nine would ta...

**Stopwords** - are words which are filtered out during the preparation of your text for analyzation and modeling. Stopwords are those that offer little to the meaning of your text and are basically just adding noise to your analysis. Words such as 'the', 'and', 'a', and the like can be removed, so you can better focus on the good stuff. 

##### Using NLTK Stopwords

```python
import nltk; nltk.download('stopwords')
```

```python
stopword_list = stopwords.words('english')
```

```python
words = df.col.str.split()
```

```python
filtered_words = words.apply(lambda row: [word for word in row if word not in stopword_list])
```

```python
df['clean_words'] = filtered_words.str.join(' ')
```

In [64]:
stopword_list = stopwords.words('english')

In [65]:
# Split words in lemmatized column

words = df.lemmatized.str.split()

# Check each word in each row of the column against stopword_list and return only those that are not in list

filtered_words = words.apply(lambda row: [word for word in row if word not in stopword_list])
df['clean_lemmas'] = filtered_words.str.join(' ')

In [66]:
# Do the same as above but for stemmed words

words = df.stemmed.str.split()

filtered_words = words.apply(lambda row: [word for word in row if word not in stopword_list])
df['clean_stemmed'] = filtered_words.str.join(' ')

In [67]:
df.head(2)

,topic,title,author,content,basic_clean,clean_tokes,stemmed,lemmatized,clean_lemmas,clean_stemmed
0,business,3 employees at Hyundai's Chennai plant test positive for coronavirus,Pragya Swastik,Hyundai Motor India on Sunday said its three employees at Chennai-based plant have tested positive for coronavirus after showing mild symptoms of cough and cold. The second-largest carmaker in the country had resumed operations at Irungattukottai-based plant (near Chennai) on May 8. All three em...,hyundai motor india on sunday said its three employees at chennaibased plant have tested positive for coronavirus after showing mild symptoms of cough and cold the secondlargest carmaker in the country had resumed operations at irungattukottaibased plant near chennai on may 8 all three employees...,"[hyundai, motor, india, on, sunday, said, its, three, employees, at, chennaibased, plant, have, tested, positive, for, coronavirus, after, showing, mild, symptoms, of, cough, and, cold, the, secondlargest, carmaker, in, the, country, had, resumed, operations, at, irungattukottaibased, plant, nea...",hyundai motor india on sunday said it three employe at chennaibas plant have test posit for coronaviru after show mild symptom of cough and cold the secondlargest carmak in the countri had resum oper at irungattukottaibas plant near chennai on may 8 all three employe are recov fast toward normal...,hyundai motor india on sunday said it three employee at chennaibased plant have tested positive for coronavirus after showing mild symptom of cough and cold the secondlargest carmaker in the country had resumed operation at irungattukottaibased plant near chennai on may 8 all three employee are ...,hyundai motor india sunday said three employee chennaibased plant tested positive coronavirus showing mild symptom cough cold secondlargest carmaker country resumed operation irungattukottaibased plant near chennai may 8 three employee recovering fast towards normalcy company said,hyundai motor india sunday said three employe chennaibas plant test posit coronaviru show mild symptom cough cold secondlargest carmak countri resum oper irungattukottaibas plant near chennai may 8 three employe recov fast toward normalci compani said
1,business,CEO of New Zealand media outlet Stuff buys the company for ₹46,Dharna,"Sinead Boucher, the CEO of New Zealand-based media outlet Stuff, has bought the company from Australian broadcaster Nine Entertainment for just NZ$1 (around ₹46) to maintain local ownership. This comes a month after Stuff asked staff to voluntarily take pay cuts amid the coronavirus pandemic. Ni...",sinead boucher the ceo of new zealandbased media outlet stuff has bought the company from australian broadcaster nine entertainment for just nz1 around 46 to maintain local ownership this comes a month after stuff asked staff to voluntarily take pay cuts amid the coronavirus pandemic nine would ...,"[sinead, boucher, the, ceo, of, new, zealandbased, media, outlet, stuff, has, bought, the, company, from, australian, broadcaster, nine, entertainment, for, just, nz1, around, 46, to, maintain, local, ownership, this, comes, a, month, after, stuff, asked, staff, to, voluntarily, take, pay, cuts,...",sinead boucher the ceo of new zealandbas media outlet stuff ha bought the compani from australian broadcast nine entertain for just nz1 around 46 to maintain local ownership thi come a month after stuff ask staff to voluntarili take pay cut amid the coronaviru pandem nine would take a hit of 262...,sinead boucher the ceo of new zealandbased medium outlet stuff ha bought the company from australian broadcaster nine entertainment for just nz1 around 46 to maintain local ownership this come a month after stuff asked staff to voluntarily take pay cut amid the coronavirus pandemic nine would ta...,sinead boucher ceo new zealandbased medium outlet stuff ha bought company australian broadcaster nine entertainment nz1 around 46 maintain local ownership come month stuff asked staff voluntarily take pay cut amid coronavirus pandemic nine would take hit 2629 million fullyear result sale,sinead boucher ceo new zealandbas media outlet stuff ha bought compani australian broadcast nine entertain nz1 around 46 maintain local ownership thi come month stuff ask staff voluntarili take pay cut amid coronaviru pandem nine would take hit 2629 million fullyear result sale

**<font color=green>Now What?</font>**

##### Stopwords Function

In [68]:
def remove_stopwords(df, col):
    '''
    This function takes in a df and a string for column name and 
    returns the df with a new column named 'clean' with stopwords removed.
    '''
    # Create stopword_list
    stopword_list = stopwords.words('english')
    
    # Split words in column
    words = df[col].str.split()
    
    # Check each word in each row of the column against stopword_list and return only those that are not in list
    filtered_words = words.apply(lambda row: [word for word in row if word not in stopword_list])
    
    # Create new column of words that have stopwords removed
    df['clean_' + col] = filtered_words.str.join(' ')
    
    return df

In [69]:
df = remove_stopwords(df, 'lemmatized')
df.head(2)

,topic,title,author,content,basic_clean,clean_tokes,stemmed,lemmatized,clean_lemmas,clean_stemmed,clean_lemmatized
0,business,3 employees at Hyundai's Chennai plant test positive for coronavirus,Pragya Swastik,Hyundai Motor India on Sunday said its three employees at Chennai-based plant have tested positive for coronavirus after showing mild symptoms of cough and cold. The second-largest carmaker in the country had resumed operations at Irungattukottai-based plant (near Chennai) on May 8. All three em...,hyundai motor india on sunday said its three employees at chennaibased plant have tested positive for coronavirus after showing mild symptoms of cough and cold the secondlargest carmaker in the country had resumed operations at irungattukottaibased plant near chennai on may 8 all three employees...,"[hyundai, motor, india, on, sunday, said, its, three, employees, at, chennaibased, plant, have, tested, positive, for, coronavirus, after, showing, mild, symptoms, of, cough, and, cold, the, secondlargest, carmaker, in, the, country, had, resumed, operations, at, irungattukottaibased, plant, nea...",hyundai motor india on sunday said it three employe at chennaibas plant have test posit for coronaviru after show mild symptom of cough and cold the secondlargest carmak in the countri had resum oper at irungattukottaibas plant near chennai on may 8 all three employe are recov fast toward normal...,hyundai motor india on sunday said it three employee at chennaibased plant have tested positive for coronavirus after showing mild symptom of cough and cold the secondlargest carmaker in the country had resumed operation at irungattukottaibased plant near chennai on may 8 all three employee are ...,hyundai motor india sunday said three employee chennaibased plant tested positive coronavirus showing mild symptom cough cold secondlargest carmaker country resumed operation irungattukottaibased plant near chennai may 8 three employee recovering fast towards normalcy company said,hyundai motor india sunday said three employe chennaibas plant test posit coronaviru show mild symptom cough cold secondlargest carmak countri resum oper irungattukottaibas plant near chennai may 8 three employe recov fast toward normalci compani said,hyundai motor india sunday said three employee chennaibased plant tested positive coronavirus showing mild symptom cough cold secondlargest carmaker country resumed operation irungattukottaibased plant near chennai may 8 three employee recovering fast towards normalcy company said
1,business,CEO of New Zealand media outlet Stuff buys the company for ₹46,Dharna,"Sinead Boucher, the CEO of New Zealand-based media outlet Stuff, has bought the company from Australian broadcaster Nine Entertainment for just NZ$1 (around ₹46) to maintain local ownership. This comes a month after Stuff asked staff to voluntarily take pay cuts amid the coronavirus pandemic. Ni...",sinead boucher the ceo of new zealandbased media outlet stuff has bought the company from australian broadcaster nine entertainment for just nz1 around 46 to maintain local ownership this comes a month after stuff asked staff to voluntarily take pay cuts amid the coronavirus pandemic nine would ...,"[sinead, boucher, the, ceo, of, new, zealandbased, media, outlet, stuff, has, bought, the, company, from, australian, broadcaster, nine, entertainment, for, just, nz1, around, 46, to, maintain, local, ownership, this, comes, a, month, after, stuff, asked, staff, to, voluntarily, take, pay, cuts,...",sinead boucher the ceo of new zealandbas media outlet stuff ha bought the compani from australian broadcast nine entertain for just nz1 around 46 to maintain local ownership thi come a month after stuff ask staff to voluntarili take pay cut amid the coronaviru pandem nine would take a hit of 262...,sinead boucher the ceo of new zealandbased medium outlet stuff ha bought the company from australian broadcaster nine entertainment for just nz1 around 46 to maintain local ownership this come a month after stuff asked staff to voluntarily take pay cut amid the coronavirus pandemic nine would ta...,sinead boucher ceo new zealandbased medium outlet stuff ha bought company australian broadcaster nine entertainment nz1 around 46 maintain local ownership come month stuff asked staff voluntarily take pay cut amid coronavirus pandemic nine would take hit 2629 million fullyear result sale,sinead boucher ceo new zealandbas media outlet stuff ha bought compani australian broadcast nine entertain nz1 around 46 maintain local ownership thi come month stuff ask staff voluntarili take pay cut amid coronaviru pandem nine would take hit 2629 million fullyear result sale,sinead boucher ceo new zealandbased medium outlet stuff ha bought company australian broadcaster nine entertainment nz1 around 46 maintain local ownership come month stuff asked staff voluntarily take pay cut amid coronavirus pandemic nine would take hit 2629 million fullyear result sale

**<font color=green>Now What?</font>**

##### Prep Article Function

In [70]:
df = get_news_articles()

In [71]:
def prep_article_data(df):
    '''
    This function takes in the news articles df and
    returns the df with original columns plus cleaned
    and lemmatized content without stopwords.
    '''
    # Do basic clean on article content
    df = basic_clean(df, 'content')
    
    # Tokenize clean article content
    df = tokenize(df, 'basic_clean')
    
    # Stem cleaned and tokenized article content
    df = stem(df, 'clean_tokes')
    
    # Remove stopwords from Lemmatized article content
    df = remove_stopwords(df, 'stemmed')
    
    # Lemmatize cleaned and tokenized article content
    df = lemmatize(df, 'clean_tokes')
    
    # Remove stopwords from Lemmatized article content
    df = remove_stopwords(df, 'lemmatized')
    
    return df[['topic', 'title', 'author', 'content', 'clean_stemmed', 'clean_lemmatized']]

In [73]:
df = prep_article_data(df)
df.head(2)

,topic,title,author,content,clean_stemmed,clean_lemmatized
0,business,3 employees at Hyundai's Chennai plant test positive for coronavirus,Pragya Swastik,Hyundai Motor India on Sunday said its three employees at Chennai-based plant have tested positive for coronavirus after showing mild symptoms of cough and cold. The second-largest carmaker in the country had resumed operations at Irungattukottai-based plant (near Chennai) on May 8. All three em...,hyundai motor india sunday said three employe chennaibas plant test posit coronaviru show mild symptom cough cold secondlargest carmak countri resum oper irungattukottaibas plant near chennai may 8 three employe recov fast toward normalci compani said,hyundai motor india sunday said three employee chennaibased plant tested positive coronavirus showing mild symptom cough cold secondlargest carmaker country resumed operation irungattukottaibased plant near chennai may 8 three employee recovering fast towards normalcy company said
1,business,CEO of New Zealand media outlet Stuff buys the company for ₹46,Dharna,"Sinead Boucher, the CEO of New Zealand-based media outlet Stuff, has bought the company from Australian broadcaster Nine Entertainment for just NZ$1 (around ₹46) to maintain local ownership. This comes a month after Stuff asked staff to voluntarily take pay cuts amid the coronavirus pandemic. Ni...",sinead boucher ceo new zealandbas media outlet stuff ha bought compani australian broadcast nine entertain nz1 around 46 maintain local ownership thi come month stuff ask staff voluntarili take pay cut amid coronaviru pandem nine would take hit 2629 million fullyear result sale,sinead boucher ceo new zealandbased medium outlet stuff ha bought company australian broadcaster nine entertainment nz1 around 46 maintain local ownership come month stuff asked staff voluntarily take pay cut amid coronavirus pandemic nine would take hit 2629 million fullyear result sale