<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd
import numpy as np

import os
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

from acquire_walkthrough import get_news_articles
from prepare_walkthrough import prep_article_data

In [2]:
df = get_news_articles()

In [3]:
df = prep_article_data(df)

In [4]:
df.head()

,topic,title,author,content,clean_stemmed,clean_lemmatized
0,business,3 employees at Hyundai's Chennai plant test po...,Pragya Swastik,Hyundai Motor India on Sunday said its three e...,hyundai motor india sunday said three employe ...,hyundai motor india sunday said three employee...
1,business,CEO of New Zealand media outlet Stuff buys the...,Dharna,"Sinead Boucher, the CEO of New Zealand-based m...",sinead boucher ceo new zealandbas media outlet...,sinead boucher ceo new zealandbased medium out...
2,business,"Lockdown extensions won't help, cases will con...",Anushka Dixit,Mahindra Group Chairman Anand Mahindra said th...,mahindra group chairman anand mahindra said lo...,mahindra group chairman anand mahindra said lo...
3,business,102-year-old car rental firm Hertz files for b...,Dharna,Global car rental company Hertz has filed for ...,global car rental compani hertz ha file bankru...,global car rental company hertz ha filed bankr...
4,business,"Jeff Bezos, Zuckerberg highest-earning billion...",Pragya Swastik,Amazon CEO Jeff Bezos and Facebook CEO Mark Zu...,amazon ceo jeff bezo facebook ceo mark zuckerb...,amazon ceo jeff bezos facebook ceo mark zucker...