<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#What-is-Text-Data?" data-toc-modified-id="What-is-Text-Data?-0.0.1"><span class="toc-item-num">0.0.1&nbsp;&nbsp;</span><strong><font color="red">What is Text Data?</font></strong></a></span></li></ul></li><li><span><a href="#Important-Terminology" data-toc-modified-id="Important-Terminology-0.1"><span class="toc-item-num">0.1&nbsp;&nbsp;</span><strong>Important Terminology</strong></a></span><ul class="toc-item"><li><span><a href="#So-What-Tools-and-Techniques-Can-I-use-to-Explore-Text-Data?" data-toc-modified-id="So-What-Tools-and-Techniques-Can-I-use-to-Explore-Text-Data?-0.1.1"><span class="toc-item-num">0.1.1&nbsp;&nbsp;</span><strong><font color="orange">So What Tools and Techniques Can I use to Explore Text Data?</font></strong></a></span></li><li><span><a href="#Now-What?" data-toc-modified-id="Now-What?-0.1.2"><span class="toc-item-num">0.1.2&nbsp;&nbsp;</span><strong><font color="green">Now What?</font></strong></a></span></li></ul></li></ul></li><li><span><a href="#Acquire-News-Articles" data-toc-modified-id="Acquire-News-Articles-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Acquire News Articles</a></span></li><li><span><a href="#Prepare-News-Articles" data-toc-modified-id="Prepare-News-Articles-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Prepare News Articles</a></span><ul class="toc-item"><li><span><a href="#Extra-Cleaning" data-toc-modified-id="Extra-Cleaning-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Extra Cleaning</a></span></li></ul></li><li><span><a href="#Explore-Label-Column" data-toc-modified-id="Explore-Label-Column-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Explore Label Column</a></span></li><li><span><a href="#Create-Numeric-Columns-from-Text" data-toc-modified-id="Create-Numeric-Columns-from-Text-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Create Numeric Columns from Text</a></span></li><li><span><a href="#Identify-Important-Words-in-Text" data-toc-modified-id="Identify-Important-Words-in-Text-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Identify Important Words in Text</a></span><ul class="toc-item"><li><span><a href="#Create-and-Visualize-N-grams" data-toc-modified-id="Create-and-Visualize-N-grams-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Create and Visualize N-grams</a></span><ul class="toc-item"><li><span><a href="#Create-N-grams-Function" data-toc-modified-id="Create-N-grams-Function-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>Create N-grams Function</a></span></li><li><span><a href="#Create-N-Gram-Viz-Functions" data-toc-modified-id="Create-N-Gram-Viz-Functions-5.1.2"><span class="toc-item-num">5.1.2&nbsp;&nbsp;</span>Create N-Gram Viz Functions</a></span></li></ul></li><li><span><a href="#Explore-Words-by-Topic-Label" data-toc-modified-id="Explore-Words-by-Topic-Label-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Explore Words by Topic Label</a></span><ul class="toc-item"><li><span><a href="#Explore-Business" data-toc-modified-id="Explore-Business-5.2.1"><span class="toc-item-num">5.2.1&nbsp;&nbsp;</span>Explore Business</a></span></li><li><span><a href="#Explore-Entertainment" data-toc-modified-id="Explore-Entertainment-5.2.2"><span class="toc-item-num">5.2.2&nbsp;&nbsp;</span>Explore Entertainment</a></span></li><li><span><a href="#Explore-Sports" data-toc-modified-id="Explore-Sports-5.2.3"><span class="toc-item-num">5.2.3&nbsp;&nbsp;</span>Explore Sports</a></span></li><li><span><a href="#Explore-Tech" data-toc-modified-id="Explore-Tech-5.2.4"><span class="toc-item-num">5.2.4&nbsp;&nbsp;</span>Explore Tech</a></span></li></ul></li><li><span><a href="#Create-a-Series-of-Word-Frequencies-for-Each-Topic-Label" data-toc-modified-id="Create-a-Series-of-Word-Frequencies-for-Each-Topic-Label-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Create a Series of Word Frequencies for Each Topic Label</a></span></li><li><span><a href="#Create-df-of-Word-Frequencies-for-Each-Subset-Above" data-toc-modified-id="Create-df-of-Word-Frequencies-for-Each-Subset-Above-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Create df of Word Frequencies for Each Subset Above</a></span></li><li><span><a href="#Search-for-Topic-specific-Words" data-toc-modified-id="Search-for-Topic-specific-Words-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>Search for Topic-specific Words</a></span></li><li><span><a href="#Word-Clouds!" data-toc-modified-id="Word-Clouds!-5.6"><span class="toc-item-num">5.6&nbsp;&nbsp;</span>Word Clouds!</a></span><ul class="toc-item"><li><span><a href="#Standard-Word-Cloud" data-toc-modified-id="Standard-Word-Cloud-5.6.1"><span class="toc-item-num">5.6.1&nbsp;&nbsp;</span>Standard Word Cloud</a></span></li><li><span><a href="#Customized-Word-Cloud" data-toc-modified-id="Customized-Word-Cloud-5.6.2"><span class="toc-item-num">5.6.2&nbsp;&nbsp;</span>Customized Word Cloud</a></span></li><li><span><a href="#Bigram-Word-Cloud" data-toc-modified-id="Bigram-Word-Cloud-5.6.3"><span class="toc-item-num">5.6.3&nbsp;&nbsp;</span>Bigram Word Cloud</a></span></li><li><span><a href="#Shaped-Word-Cloud" data-toc-modified-id="Shaped-Word-Cloud-5.6.4"><span class="toc-item-num">5.6.4&nbsp;&nbsp;</span>Shaped Word Cloud</a></span></li></ul></li></ul></li></ul></div>

In [1]:
import pandas as pd
import numpy as np

import os
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords
from nltk.util import ngrams

import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (14, 6)
from pylab import *
import seaborn as sns
from wordcloud import WordCloud

from acquire_walkthrough import get_news_articles
from prepare_walkthrough import prep_article_data, remove_stopwords

# Exploring Text Data

#### **<font color=red>What is Text Data?</font>**

### **Important Terminology**

**Corpus -** is the entire body of text. A collection of articles is a corpus; the text from one article is a document.

**Tokens -** are chunks of data; they could be words, punctuation, sentences, numbers, etc. You must decide what tokens will be most useful to you for your specific goals. 

**N-grams -** are token groups of n words that appear together in a document or corpus. You can examine uni-, bi-, and trigrams as a way to gain context for your tokens and find important word combinations.

**Stop Words -** are words that are either so common throughout my corpus or so devoid of meaning that they become noise as I explore my text data. Removing these can help the real story emerge from meaningful words in your text.

#### **<font color=orange>So What Tools and Techniques Can I use to Explore Text Data?</font>**

[Word Clouds](#word_clouds) - are a good way to visualize word frequencies and word and phrase importance in your text data. 

[N-grams](#n_grams) - can be examined and visualized by returning the ngrams generated from a sequence of items, as an iterator.

```python
ngrams(sequence, n)
```

#### **<font color=green>Now What?</font>**

## Acquire News Articles

Here I pull in the text data I scraped used BeautifulSoup in [this review](https://faithkane3.github.io/beautiful_soup).

In [2]:
df = get_news_articles()

## Prepare News Articles

I'm going to use my cleaned, lemmatized text with basic stopwords removed to start; that is how my `prep_article_data` from [this review](https://faithkane3.github.io/nlp_review_notebook) will deliver my text to me here. As I explore, I will probably be removing more stopwords and tokens that are just noise for my puposes as I come across them.

In [3]:
df = prep_article_data(df)

In [4]:
df.head()

,topic,title,author,content,clean_stemmed,clean_lemmatized
0,business,US firm buys Serum Institute parent's Czech un...,Krishna Veera Vanamali,US biotech firm Novavax has announced it's buy...,us biotech firm novavax ha announc buy czech r...,u biotech firm novavax ha announced buying cze...
1,business,"Twitter CEO donates $10M to project giving $1,...",Pragya Swastik,Twitter's billionaire CEO Jack Dorsey has dona...,twitter billionair ceo jack dorsey ha donat 10...,twitter billionaire ceo jack dorsey ha donated...
2,business,Google in talks to buy 5% stake in Vodafone Id...,Krishna Veera Vanamali,Google is exploring an investment in Vodafone ...,googl explor invest vodafon idea part us techn...,google exploring investment vodafone idea part...
3,business,Microsoft in talks to buy 2.5% stake in Jio fo...,Anushka Dixit,Microsoft is in talks with Mukesh Ambani-led R...,microsoft talk mukesh ambanil relianc industri...,microsoft talk mukesh ambaniled reliance indus...
4,business,25-year-old Anant Ambani joins $65 billion Jio...,Krishna Veera Vanamali,Asia's richest person Mukesh Ambani's 25-year-...,asia richest person mukesh ambani 25yearold so...,asia richest person mukesh ambanis 25yearold s...

<a id='cleaning'></a>
### Extra Cleaning

As I explore my text data, I will find more things I want to remove. I know from exploring the text I scraped from inshort articles that there are a lot of numbers that are not useful to me for my purposes of sentiment analysis and creating a machine learning model that can predict the topic, or label, of an article. I'm going to remove numbers from my text here, and as I find more unnecessary tokens, I will return here to remove them.

In [5]:
# replace numbers in my text column with empty strings.

df['text'] = df.clean_lemmatized.replace(r'\d', '', regex=True)
df.head(2)

,topic,title,author,content,clean_stemmed,clean_lemmatized,text
0,business,US firm buys Serum Institute parent's Czech un...,Krishna Veera Vanamali,US biotech firm Novavax has announced it's buy...,us biotech firm novavax ha announc buy czech r...,u biotech firm novavax ha announced buying cze...,u biotech firm novavax ha announced buying cze...
1,business,"Twitter CEO donates $10M to project giving $1,...",Pragya Swastik,Twitter's billionaire CEO Jack Dorsey has dona...,twitter billionair ceo jack dorsey ha donat 10...,twitter billionaire ceo jack dorsey ha donated...,twitter billionaire ceo jack dorsey ha donated...

In [6]:
# remove extra stopwords identified through exploration using the function with extra_words

extra_words = ['', 'ha', 'wa', 'said', 'u']
df = remove_stopwords(df, 'text', extra_words=extra_words)
df.head()

,topic,title,author,content,clean_stemmed,clean_lemmatized,text,clean_text
0,business,US firm buys Serum Institute parent's Czech un...,Krishna Veera Vanamali,US biotech firm Novavax has announced it's buy...,us biotech firm novavax ha announc buy czech r...,u biotech firm novavax ha announced buying cze...,u biotech firm novavax ha announced buying cze...,biotech firm novavax announced buying czech re...
1,business,"Twitter CEO donates $10M to project giving $1,...",Pragya Swastik,Twitter's billionaire CEO Jack Dorsey has dona...,twitter billionair ceo jack dorsey ha donat 10...,twitter billionaire ceo jack dorsey ha donated...,twitter billionaire ceo jack dorsey ha donated...,twitter billionaire ceo jack dorsey donated mi...
2,business,Google in talks to buy 5% stake in Vodafone Id...,Krishna Veera Vanamali,Google is exploring an investment in Vodafone ...,googl explor invest vodafon idea part us techn...,google exploring investment vodafone idea part...,google exploring investment vodafone idea part...,google exploring investment vodafone idea part...
3,business,Microsoft in talks to buy 2.5% stake in Jio fo...,Anushka Dixit,Microsoft is in talks with Mukesh Ambani-led R...,microsoft talk mukesh ambanil relianc industri...,microsoft talk mukesh ambaniled reliance indus...,microsoft talk mukesh ambaniled reliance indus...,microsoft talk mukesh ambaniled reliance indus...
4,business,25-year-old Anant Ambani joins $65 billion Jio...,Krishna Veera Vanamali,Asia's richest person Mukesh Ambani's 25-year-...,asia richest person mukesh ambani 25yearold so...,asia richest person mukesh ambanis 25yearold s...,asia richest person mukesh ambanis yearold son...,asia richest person mukesh ambanis yearold son...

In [9]:
# Select label and text columns and rename accordingly

df_lem = df[['topic', 'clean_text']]

df_lem = df_lem.rename(columns={'topic': 'label', 'clean_text': 'text'})

# df_lem uses clean, lemmatized text

df_lem.head(1)

      label                                               text
0  business  biotech firm novavax announced buying czech re...

In [12]:
# create a column called words that makes each text observation a list of tokens/words

df_lem['words'] = df_lem.text.str.split()
df_lem.head(2)

,label,text,words
0,business,biotech firm novavax announced buying czech re...,"[biotech, firm, novavax, announced, buying, cz..."
1,business,twitter billionaire ceo jack dorsey donated mi...,"[twitter, billionaire, ceo, jack, dorsey, dona..."

## Explore Label Column

Our dataframe has 100 rows/observations and 3 columns; each observation is the text, a list of tokens/words, and the label of one article.`label` is one of four topics: business, entertainment, technology, and sports, which is our target. `text` is a string of tokens/words from each observation or article. `words` is the text broken into a list of tokens/words.

In [13]:
print(f'Our df_lem dataframe has {df_lem.shape[0]} rows and {df_lem.shape[1]} columns')

Our df_lem dataframe has 100 rows and 3 columns

In [14]:
# I only have four possible values for my label column. I'm going to make it a category dtype

df_lem.label.value_counts()

entertainment    25
sports           25
business         25
technology       25
Name: label, dtype: int64

In [15]:
df_lem['label'] = df_lem.label.astype('category')

In [16]:
# Our scraped data is very balanced!

labels = pd.concat([df_lem.label.value_counts(),
                    df_lem.label.value_counts(normalize=True)], axis=1)
labels.columns = ['n', 'percent']
labels

                n  percent
technology     25     0.25
sports         25     0.25
entertainment  25     0.25
business       25     0.25

## Create Numeric Columns from Text

We can create some numeric columns from our text. Here are two examples of numeric measures of aspects of our text data that might prove useful to classify our observations in our model.

In [17]:
# Create a column that gives the length of the text/string for each observation

df_lem['text_length'] = df_lem.text.apply(len)
df_lem.head()

,label,text,words,text_length
0,business,biotech firm novavax announced buying czech re...,"[biotech, firm, novavax, announced, buying, cz...",274
1,business,twitter billionaire ceo jack dorsey donated mi...,"[twitter, billionaire, ceo, jack, dorsey, dona...",260
2,business,google exploring investment vodafone idea part...,"[google, exploring, investment, vodafone, idea...",230
3,business,microsoft talk mukesh ambaniled reliance indus...,"[microsoft, talk, mukesh, ambaniled, reliance,...",262
4,business,asia richest person mukesh ambanis yearold son...,"[asia, richest, person, mukesh, ambanis, yearo...",245

In [18]:
# Create a column that gives the length of the text/string for each observation

df_lem['toke_count'] = df_lem.words.apply(len)
df_lem.head()

,label,text,words,text_length,toke_count
0,business,biotech firm novavax announced buying czech re...,"[biotech, firm, novavax, announced, buying, cz...",274,36
1,business,twitter billionaire ceo jack dorsey donated mi...,"[twitter, billionaire, ceo, jack, dorsey, dona...",260,37
2,business,google exploring investment vodafone idea part...,"[google, exploring, investment, vodafone, idea...",230,30
3,business,microsoft talk mukesh ambaniled reliance indus...,"[microsoft, talk, mukesh, ambaniled, reliance,...",262,36
4,business,asia richest person mukesh ambanis yearold son...,"[asia, richest, person, mukesh, ambanis, yearo...",245,34

## Identify Important Words in Text

<a id='n_grams'></a>
### Create and Visualize N-grams

In creating a list of words to search my Corpus for the most common uni-, bi-, and trigrams, I see that I have single letters, and truncated verbs that will not add meaning to my exploration. I will definitely go back to my [extra cleaning](#cleaning) section and remove the following stopwords: `['u', 'ha', 'wa', 'said']`

In [19]:
# Create a list of words from the entire corpus

words = ' '.join(df_lem.text).split(' ')
words[:5]

['biotech', 'firm', 'novavax', 'announced', 'buying']

In [20]:
# create lists of uni-, bi-, and trigrams by calling the list function on our ngram generator

unigrams = list(ngrams(words, 1))
bigrams = list(ngrams(words, 2))
trigrams = list(ngrams(words, 3))

In [21]:
# create a dictionary holding the uni-, bi-, and trigrams from our Corpus

grams_dict = {'unigrams': unigrams, 'bigrams': bigrams, 'trigrams': trigrams}
grams_dict.keys()

dict_keys(['unigrams', 'bigrams', 'trigrams'])

In [22]:
# Check out unigrams

grams_dict['unigrams'][:5]

[('biotech',), ('firm',), ('novavax',), ('announced',), ('buying',)]

In [28]:
# Check out bigrams

grams_dict['bigrams'][:3]

[('biotech', 'firm'), ('firm', 'novavax'), ('novavax', 'announced')]

In [30]:
# Check out trigrams

grams_dict['trigrams'][:2]

[('biotech', 'firm', 'novavax'), ('firm', 'novavax', 'announced')]

#### Create N-grams Function

I'll create a function to create a dictionary of uni-, bi-, and trigrams for a text column like I just did above.

In [25]:
def grab_ngrams(df, col):
    '''
    This function takes in a df and a string name for a column, creates
    a list of words from entire corpus, and
    returns a dictionary holding all uni-, bi-, and trigrams.
    '''
    # create our corpus
    words = ' '.join(df[col]).split(' ')
    
    # create lists of uni-, bi-, and trigrams
    unigrams = list(ngrams(words, 1))
    bigrams = list(ngrams(words, 2))
    trigrams = list(ngrams(words, 3))
    
    # create a dictionary holding the uni-, bi-, and trigrams from our words
    grams_dict = {'unigrams': unigrams, 'bigrams': bigrams, 'trigrams': trigrams}
    
    return grams_dict

In [26]:
ngrams_dict = grab_ngrams(df_lem, 'text')
ngrams_dict.keys()

dict_keys(['unigrams', 'bigrams', 'trigrams'])

#### Create N-Gram Viz Functions

I want to create two functions here. 

- `ngrams_viz(ngrams_dict, topic)` will take in a dictionary of uni-, bi-, and trigrams and a string for topic and display viz for the top 20 most common of each for a single topic.


- `ngrams_compare()` will take in a df with a 'label' column and a 'text' column, 
    an int: 1 for unigrams, 2 for bigrams, 3 for trigrams,
    and a string for color for customization and displays horizontal bar chart
    subplots by topic with the top 20 common uni-, bi-, or trigrams.

In [ ]:
def ngrams_viz(ngram_dict, topic):
    '''
    This function takes in a dictionary of uni-, bi-, and trigrams
    and displays viz for the top 20 most common of each.
    '''
    # loop through the key in the dictionary
    for key in ngrams_dict:
        
        # convert value_counts to a Series and plot top 20
        (pd.Series(ngrams_dict[key])
         .value_counts()
         .head(20).plot.barh(color='thistle', width=.9)
        )

        plt.title('20 Most Common ' + topic + ' ' + key)
        
        # reorder y-axis of horizontal bar chart
        plt.gca().invert_yaxis()
        plt.show()

In [ ]:
# Visualize the top uni-, bi-, and trigrams for all of our words together

ngrams_viz(ngrams_dict, 'all')

### Explore Words by Topic Label

Here I will create my bag of words or large combined list of all of the tokens/words from our corpus of documents by topic. In our context, that means that we will join all of the text from each row of a column into a long string of tokens/words, and those strings into lists of individual tokens/words. The difference here from the n-grams we explored above is that I will filter the df by topic for each of our four topics.

#### Explore Business

In [ ]:
# create subset of df for business

biz_df = df_lem[df_lem.label == 'business']
biz_df.head()

In [ ]:
# create dictionary of uni-, bi-, and trigrams for biz

biz_grams = grab_ngrams(biz_df, 'text')
biz_grams.keys()

In [ ]:
ngrams_viz(biz_grams, 'Business')

#### Explore Entertainment

In [ ]:
# create subset of df for entertainment

entertainment_df = df_lem[df_lem.label == 'entertainment']
entertainment_df.head()

In [ ]:
# create dictionary of uni-, bi-, and trigrams for entertainment

ent_grams = grab_ngrams(entertainment_df, 'text')
ent_grams.keys()

#### Explore Sports

In [ ]:
# create subset of df for sports

sports_df = df_lem[df_lem.label == 'sports']
sports_df.head()

In [ ]:
# create dictionary of uni-, bi-, and trigrams for sports

sports_grams = grab_ngrams(sports_df, 'text')
sports_grams.keys()

#### Explore Tech

In [ ]:
# create subset of df for technology

tech_df = df_lem[df_lem.label == 'technology']
tech_df.head()

In [ ]:
# create dictionary of uni-, bi-, and trigrams for tech

tech_grams = grab_ngrams(tech_df, 'text')
tech_grams.keys()

In [ ]:
def ngrams_compare(df, num, color):
    '''
    This function takes in a df with a 'label' column and a 'words' column, 
    an int: 1 for unigrams, 2 for bigrams, 3 for trigrams,
    and a string for color for customization and displays horizontal bar chart
    subplots by topic with the top 20 common uni-, bi-, or trigrams.
    '''
    # create topics list to loop through
    topics = df.label.unique()
    
    # create figure for subplots
    plt.figure(figsize=(16, 12))
    
    # loop through topics
    for i, topic in list(enumerate(topics, start=1)):
        
        # assign subtopic df to temp_df
        temp_df = df[df.label == topic]
        
        # create a list of words from entire corpus
        words = ' '.join(temp_df['text']).split(' ')

        # create lists of uni-, bi-, and trigrams
        n_grams = list(ngrams(words, num))

        subplot(2,2,i)

        (pd.Series(n_grams)
                .value_counts()
                .head(20)
                .plot.barh(color=color, width=.9, fontsize=15)
        )
        
        # print customized title
        plt.title('20 Most Common ' + topic + ' ' + str(num) + '-grams', fontsize=20)

        # reorder y-axis of horizontal bar chart
        plt.gca().invert_yaxis()
        
    # display settings    
    plt.tight_layout()
    plt.show()

In [ ]:
words = ' '.join(df_lem['text']).split(' ')

In [ ]:
ngrams_compare(df_lem, 1, 'thistle')

In [ ]:
ngrams_compare(df_lem, 2, 'dodgerblue')

In [ ]:
ngrams_compare(df_lem, 3, 'darkorange')

### Create a Series of Word Frequencies for Each Topic Label

In [ ]:
# Create a list of all words from corpus from subset biz_df
business_words = ' '.join(biz_df.text).split(' ')
business_words[:5]

In [ ]:
# Create a Series of word frequency from our list of business words
business_freq = pd.Series(business_words).value_counts()
business_freq.head()

In [ ]:
business_freq.tail()

In [ ]:
# Create a list of all words from corpus from subset entertainment_df
entertainment_words = ' '.join(entertainment_df.text).split(' ')

# Create a Series of word frequency from our list of entertainment words
entertainment_freq = pd.Series(entertainment_words).value_counts()
entertainment_freq.head()

In [ ]:
entertainment_freq.tail()

In [ ]:
# Create a list of all words from corpus from subset entertainment_df
sports_words = ' '.join(sports_df.text).split(' ')

# Create a Series of word frequency from our list of sports words
sports_freq = pd.Series(sports_words).value_counts()
sports_freq.head()

In [ ]:
sports_freq.tail()

In [ ]:
# Create a list of all words from corpus from subset tech_df
tech_words = ' '.join(tech_df.text).split(' ')

# Create a Series of word frequency from our list of tech words
technology_freq = pd.Series(tech_words).value_counts()
technology_freq.head()

In [ ]:
technology_freq.tail()

In [ ]:
# Create a list of all words from corpus
all_words = ' '.join(df_lem.text).split(' ')

# Create a Series of word frequency from our list of all words
all_freq = pd.Series(all_words).value_counts()
all_freq.head()

In [ ]:
all_freq.tail()

### Create df of Word Frequencies for Each Subset Above

In [ ]:
word_counts = (pd.concat([business_freq, entertainment_freq, sports_freq, technology_freq, all_freq], axis=1, sort=True)
              .set_axis(['all', 'business', 'entertainment', 'sports', 'technology'], axis=1, inplace=False)
              .fillna(0)
              .apply(lambda s: s.astype(int)))

word_counts.head()

In [ ]:
word_counts.sort_values(by='sports', ascending=False).head(20)

### Search for Topic-specific Words

In [ ]:
word_counts[word_counts.business == 0].head(10)

<a id='word_clouds'></a>
### Word Clouds!

**Word Clouds are a great way to visualize word importance or word frequency in your text data.** The default word cloud background is black, which can look pretty cool, but there are many, many ways to customize not only the look but the functionality of your word clouds.

Here, we'll look at word frequency for the subsets of business articles and technology articles. We will also look at a word cloud that visualizes the frequency of the top 20 most common bigrams for the business subset.

**<font color=purple>These examples should give you a great start with customizing word clouds to visualize your text data.</font>**

**Step 1: Import Libraries.**

```python
python -m pip install --upgrade wordcloud
```

```python
from wordcloud import WordCloud
```

```python
import matplotlib.pyplot as plt
```

**Step 2: Create a list of words for your cloud, in this case from your text column.**

```python
words = ' '.join(df['text']).split(' ')
```

**Step 3: Create the WordCloud Object.**

```python
wordcloud = WordCloud().generate(words)
```

**Step 4: Display the Image.**

```python
plt.imshow(wordcloud)
```

```python
plt.axis('off')
```

```python
plt.show()
```

#### Standard Word Cloud

In [ ]:
plt.rcParams['figure.figsize'] = (14, 7)

technology_cloud = WordCloud().generate(' '.join(tech_words))

plt.imshow(technology_cloud)
plt.axis('off')
plt.title('Technology Article Words', fontsize=15)
plt.show()

#### Customized Word Cloud

In [ ]:
plt.rcParams['figure.figsize'] = (14, 7)

business_cloud = WordCloud(background_color='white', colormap=plt.cm.Dark2,
                           height=1000, width=1400).generate(' '.join(business_words))

plt.imshow(business_cloud)
plt.axis('off')
plt.title('Business Article Words', fontsize=15)
plt.show()

#### Bigram Word Cloud

In [ ]:
# Create a Series of frequency of our top 20 business bigrams

top_20_biz_bigrams = pd.Series(biz_grams['bigrams']).value_counts().head(20)

In [ ]:
# Create a dictionary in which the keys are the bigrams tuples and the values the frequencies of bigrams

biz_bigram_dict = top_20_biz_bigrams.to_dict().items()
biz_bigram_dict

In [ ]:
# Use a dictionary comprehension to return a dictionary with bigram as key and frequency as value

data = {key[0] + ' ' + key[1]: val for key, val in biz_bigram_dict}
data

In [ ]:
# Create and display bigram word cloud

business_bigram_cloud = WordCloud(background_color='white', colormap=plt.cm.tab10,
                           height=1000, width=1400).generate_from_frequencies(data)

plt.imshow(business_bigram_cloud)
plt.axis('off')
plt.title('Business Article Top 20 Bigrams', fontsize=15)
plt.show()

#### Shaped Word Cloud

I found [this article](https://www.datacamp.com/community/tutorials/wordcloud-python) really helpful to understand how to create my masks to shape my word clouds.

In [ ]:
# You need this import

from PIL import Image

In [ ]:
# create and check mask using saved png file in my directory

b_mask = np.array(Image.open('b.png'))
b_mask

In [ ]:
# function to transform the white part of the mask to 255 (integer), pure white

def transform_format(val):
    if val == 0:
        return 255
    if val == 1:
        return 255
    else:
        return val

In [ ]:
# Transform mask into a new one that will work with the function:

transformed_b_mask = np.ndarray((b_mask.shape[0],b_mask.shape[1]), np.int32)

for i in range(len(b_mask)):
    transformed_b_mask[i] = list(map(transform_format, b_mask[i]))

In [ ]:
biz_shape_cloud = WordCloud(background_color='white', colormap=plt.cm.Dark2,
                                   mask=transformed_b_mask, contour_width=3, contour_color='black',
                                  height=1000, width=1400).generate(' '.join(business_words))

# store to file
#bayes_background_cloud.to_file("bayes_backgrounds.png")

# show cloud
plt.figure(figsize=[20,10])
plt.imshow(biz_shape_cloud)
plt.axis('off')
plt.show()