# Exercises

In [33]:
import re
import os
import pandas as pd

In [20]:
pwd

'/Users/faith/codeup-data-science/ds-methodologies-exercises/nlp'

## Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
s = 'a'

In [3]:
re.search(r'[aeiouAEIOU]', s)

In [4]:
# lame way

def is_vowel(s):
    if re.search(r'[aeiouAEIOU]', s):
        return True
    else:
        return False

In [5]:
is_vowel('b')

False

In [6]:
# slightly less lame way

def is_vowel(s):
    x = re.search(r'[aeiouAEIOU]', s)
    return x != None

In [7]:
is_vowel('A')

True

In [23]:
# Coolest way!

def is_vowel(s):
    return bool(re.search(r'[aeiouAEIOU]', s))

In [24]:
is_vowel('c')

False

## Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

        >>> is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
        False
        >>> is_valid_username('codeup')
        True
        >>> is_valid_username('Codeup')
        False
        >>> is_valid_username('codeup123')
        True
        >>> is_valid_username('1codeup')
        False

In [8]:
codes = ['aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa', 'codeup', 'Codeup', 'codeup123', 'lcodeup']

In [9]:
for code in codes:
    print(re.search(r'\b^[a-z][\_a-z0-9]{1,31}\b', code))

None
<re.Match object; span=(0, 6), match='codeup'>
None
<re.Match object; span=(0, 9), match='codeup123'>
<re.Match object; span=(0, 7), match='lcodeup'>

In [93]:
code = 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'
re.search(r'^[a-z][\_a-z0-9]{1,31}\b', code)

In [97]:
def is_valid_username(s):
    return bool(re.search(r'^[a-z][\_a-z0-9]{1,31}$', s))

In [98]:
is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')

True

In [99]:
usernames = ['aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa', 'codeup', 'Codeup', 'codeup123', '1codeup']
print('is_valid_username | username')
print('----------------- | --------')
for username in usernames:
    print('%17s | %s' % (is_valid_username(username), username))

is_valid_username | username
----------------- | --------
            False | aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
             True | codeup
            False | Codeup
             True | codeup123
            False | 1codeup

## Write a regular expression to capture phone numbers. It should match all of the following:


        (210) 867 5309
        +1 210.867.5309
        867-5309
        210-867-5309

In [67]:
phone_numbers = pd.Series([
    '(210) 867 5309',
    '+1 210.867.5309',
    '867-5309',
    '210-867-5309',
])

#phone_number_re = r'\w{3}-\w{3}-\w{4}'
phone_number_re = r'^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$'

In [69]:
phone_number_re = r'^(\+\d{1,2}\s)?(\d{3})?[\s.-]\d{3}[\s.-]\d{4}$'

In [89]:
phone_number_re = '^(\+\d{1,2}\s)?(\d{3})?([\s.-])?(\d{3}[\s.-])(\d{4})$'
pd.DataFrame({
    'phone_number': phone_numbers,
    'regexp_matches': phone_numbers.str.match(phone_number_re)
})

      phone_number  regexp_matches
0   (210) 867 5309           False
1  +1 210.867.5309            True
2         867-5309            True
3     210-867-5309            True

In [100]:
# ^ starts with
# calling_code capture group +, one or more digits optional
# one or more non-digits optional
# area_code capture group, three digits optional
# one or more non-digits optional
# first_three three digits
# one or more non-digits optional
# last_four four digits
# one or more non-digits optional
# $ ends with

phone_number_re = re.compile(r'''
^
(?P<calling_code>\+\d+)?
\D*?
(?P<area_code>\d{3})?
\D*?
(?P<first_three>\d{3})
\D*?
(?P<last_four>\d{4})
\D*
$
''', re.VERBOSE)


pd.DataFrame({
    'phone_number': phone_numbers,
    'regexp_matches': phone_numbers.str.match(phone_number_re)
})

      phone_number  regexp_matches
0   (210) 867 5309            True
1  +1 210.867.5309            True
2         867-5309            True
3     210-867-5309            True

In [101]:
phone_numbers.str.extract(phone_number_re)

  calling_code area_code first_three last_four
0          NaN       210         867      5309
1           +1       210         867      5309
2          NaN       NaN         867      5309
3          NaN       210         867      5309

## Use regular expressions to convert the dates below to the standardized year-month-day format.


        02/04/19
        02/05/19
        02/06/19
        02/07/19
        02/08/19
        02/09/19
        02/10/19

In [104]:
dates = pd.Series(['02/04/19',
        '02/05/19',
        '02/06/19',
        '02/07/19',
        '02/08/19',
        '02/09/19',
        '02/10/19'])

In [105]:
print(f'y - m - d')
for date in dates:
    date1 = re.sub(r'(?P<month>\d{2})/(?P<day>\d{2})/(?P<year>\d{2})', r'\3-\1-\2', date)
    print(date1)

y - m - d
19-02-04
19-02-05
19-02-06
19-02-07
19-02-08
19-02-09
19-02-10

In [106]:
def format_phone_number(m: re.Match) -> str:  
    return '20' + m.group('year') + '-' + m.group('month') + '-' + m.group('day')

dates.str.replace(r'(?P<month>\d+)/(?P<day>\d+)/(?P<year>\d+)', format_phone_number)

0    2019-02-04
1    2019-02-05
2    2019-02-06
3    2019-02-07
4    2019-02-08
5    2019-02-09
6    2019-02-10
dtype: object

## Write a regex to extract the various parts of these logfile lines:


        GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
        
        POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
        
        GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [81]:
lines = pd.Series([
    'GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
    'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
    'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58',
])

## You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

- How many words have at least 3 vowels?


- How many words have at least 3 vowels in a row?


- How many words have at least 4 consonants in a row?


- How many words start and end with the same letter?


- How many words start and end with a vowel?


- How many words contain the same letter 3 times in a row?


- What other interesting patterns in words can you find?

In [113]:
words = pd.read_csv('/usr/share/dict/words', header=None).iloc[:, 0].dropna().str.lower()
words

0                     a
1                     a
2                    aa
3                   aal
4                 aalii
5                   aam
6                  aani
7              aardvark
8              aardwolf
9                 aaron
10              aaronic
11            aaronical
12             aaronite
13            aaronitic
14                 aaru
15                   ab
16                  aba
17              ababdeh
18               ababua
19                 abac
20                abaca
21              abacate
22               abacay
23            abacinate
24          abacination
25            abaciscus
26              abacist
27                aback
28            abactinal
29          abactinally
              ...
235856           zymome
235857        zymometer
235858          zymomin
235859        zymophore
235860       zymophoric
235861    zymophosphate
235862        zymophyte
235863      zymoplastic
235864        zymoscope
235865      zymosimeter
235866          zymosis
235867       zymosterol
235868      zymosthenic
235869      zymotechnic
235870    zymotechnical
235871     zymotechnics
235872       zymotechny
235873          zymotic
235874      zymotically
235875         zymotize
235876        zymotoxic
235877          zymurgy
235878         zyrenian
235879           zyrian
235880           zyryan
235881           zythem
235882           zythia
235883           zythum
235884          zyzomys
235885       zyzzogeton
Name: 0, Length: 235884, dtype: object

In [122]:
# How many words with at least 3 vowels?

(words.str.count(r'[aeiou]') >= 3).sum()

191365

In [116]:
# How many words have at least 3 vowels in a row?

words.str.contains(r'[aeiou]{3}').sum()

6182

In [124]:
# How many words have at least 4 consonants in a row?

words.str.contains(r'[^aeiou]{4,}').sum()

19241

In [127]:
# How many words start and end with the same letter? 

words.str.contains(r'^[aeiou].*[aeiou]$').sum()

14657

In [130]:
# How many words start and end with the same letter? 

words.str.contains(r'^(.).*\1$').sum()

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until

11452

In [132]:
# How many words contain the same letter 3 times in a row?

words.str.contains(r'(.)\1{2,}').sum()

# or words.str.contains(r'(.)\1\1')

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until

7

In [134]:
words[words.str.contains(r'((.)\2).*\1')]

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

895            accessariness
906               accessless
909            accessoriness
2688          admissibleness
3879             agelessness
3961          aggressiveness
4372             aimlessness
5432          allagophyllous
5482           allegorically
5535               allhallow
5536           allhallowtide
5547              allicholly
5587            allochirally
5589         allochlorophyll
5618           allogenically
5639           allopalladium
5642        allopathetically
5644          allopathically
5648          allopatrically
5685            allotelluric
5690      allothigenetically
5708          allotropically
6380            ambassadress
6794               amissness
13881            artlessness
14419         assailableness
14431               assassin
14432            assassinate
14433          assassination
14434          assassinative
                 ...
230247            wallawalla
230389          wantlessness
230754         watchlessness
230804         waterlessness
230892          wavelessness
230973       waylaidlessness
231282        weightlessness
231294         weirdlessness
231813          whillaballoo
231888        whippersnapper
232297          wifelessness
232396             willfully
232517          windlessness
232530        windowlessness
232611          winglessness
232729          wirelessness
232837          wistlessness
232943           witlessness
233229          woodlessness
233249              woodroof
233288                woohoo
233372          wordlessness
233419          worklessness
233539         worthlessness
233685        wretchlessness
234557           yellowbelly
234559            yellowbill
234834         youthlessness
235076          zeallessness
235683                zoozoo
Name: 0, Length: 792, dtype: object