<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Iris-Data" data-toc-modified-id="Iris-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Iris Data</a></span><ul class="toc-item"><li><span><a href="#Use-the-function-defined-in-acquire.py-to-load-the-iris-data." data-toc-modified-id="Use-the-function-defined-in-acquire.py-to-load-the-iris-data.-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span><strong><font color="purple">Use the function defined in acquire.py to load the iris data.</font></strong></a></span></li><li><span><a href="#Drop-the-species_id-and-measurement_id-columns." data-toc-modified-id="Drop-the-species_id-and-measurement_id-columns.-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span><strong><font color="purple">Drop the species_id and measurement_id columns.</font></strong></a></span></li><li><span><a href="#Rename-the-species_name-column-to-just-species." data-toc-modified-id="Rename-the-species_name-column-to-just-species.-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span><strong><font color="purple">Rename the species_name column to just species.</font></strong></a></span></li></ul></li></ul></div>

In [25]:
import pandas as pd
import numpy as np


import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

import acquire_walkthrough

## Iris Data

### **<font color=purple>Use the function defined in acquire.py to load the iris data.</font>**

In [7]:
iris_df = acquire_walkthrough.get_iris_data()
iris_df.head(3)

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2

### **<font color=purple>Drop the species_id and measurement_id columns.</font>**

**<font color=orange>I didn't specify 'measurement_id' in my SQL query in acquire, so I don't need to drop it. Depending on YOUR query, you may need to do that here or you can adjust your SQL query in acquire.</font>**

In [8]:
iris_df.drop(columns='species_id', inplace=True)

In [9]:
iris_df.head(3)

  species_name  sepal_length  sepal_width  petal_length  petal_width
0       setosa           5.1          3.5           1.4          0.2
1       setosa           4.9          3.0           1.4          0.2
2       setosa           4.7          3.2           1.3          0.2

### **<font color=purple>Rename the species_name column to just species.</font>**

In [11]:
iris_df = iris_df.rename(columns={'species_name': 'species'})
iris_df.head(3)

  species  sepal_length  sepal_width  petal_length  petal_width
0  setosa           5.1          3.5           1.4          0.2
1  setosa           4.9          3.0           1.4          0.2
2  setosa           4.7          3.2           1.3          0.2

### **<font color=purple>Encode the species name using a sklearn label encoder.</font>**

**Research the inverse_transform method of the label encoder. How might this be useful?**

**<font color=red>First, I'm going to split my data into train and test. Why? It's good to split your data before processing it to avoid data leakage!</font>**

**Want to know more about the importance of splitting first? Check out [this article](https://towardsdatascience.com/avoid-data-leakage-split-your-data-before-processing-a7f172632b00).**

In [13]:
train, test = train_test_split(iris_df, train_size=.75, random_state=123)

In [14]:
train.shape

(112, 5)

In [15]:
test.shape

(38, 5)

**<font color=purple>Now I can encode the species name using LabelEncoder.</font>**

In [12]:
encoder = LabelEncoder()

In [32]:
train['species_encoded'] = encoder.fit_transform(train['species'])
train.head()

,species,sepal_length,sepal_width,petal_length,petal_width,species_encoded
16,setosa,5.4,3.9,1.3,0.4,0
82,versicolor,5.8,2.7,3.9,1.2,1
60,versicolor,5.0,2.0,3.5,1.0,1
35,setosa,5.0,3.2,1.2,0.2,0
143,virginica,6.8,3.2,5.9,2.3,2

In [33]:
test['species_encoded'] = encoder.transform(test['species'])
test.head(1)

,species,sepal_length,sepal_width,petal_length,petal_width,species_encoded
72,versicolor,6.3,2.5,4.9,1.5,1

In [34]:
def prep_iris(df, col_list):
    train, test = train_test_split(iris_df, train_size=.75, random_state=123)
    encoder = LabelEncoder()
    col_list_encoded = [col + '_encoded' for col in col_list]
    train[col_list_encoded] = encoder.fit_transform(train[col_list_encoded])
    test[col_list_encoded] = encoder.transform(test[col_list_encoded])
    return train_encoded, test_encoded