<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Use-a-python-module-containing-datasets-as-a-source-from-the-iris-data.-Create-a-pandas-dataframe,-df_iris,-from-this-data." data-toc-modified-id="Use-a-python-module-containing-datasets-as-a-source-from-the-iris-data.-Create-a-pandas-dataframe,-df_iris,-from-this-data.-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Use a python module containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.</a></span><ul class="toc-item"><li><span><a href="#--print-the-first-3-rows" data-toc-modified-id="--print-the-first-3-rows-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>- print the first 3 rows</a></span></li><li><span><a href="#--print-the-number-of-rows-and-columns-(shape)" data-toc-modified-id="--print-the-number-of-rows-and-columns-(shape)-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>- print the number of rows and columns (shape)</a></span></li><li><span><a href="#--print-the-column-names" data-toc-modified-id="--print-the-column-names-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>- print the column names</a></span></li><li><span><a href="#--print-the-data-type-of-each-column" data-toc-modified-id="--print-the-data-type-of-each-column-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>- print the data type of each column</a></span></li><li><span><a href="#--Print-the-summary-statistics-for-each-of-the-numeric-variables." data-toc-modified-id="--Print-the-summary-statistics-for-each-of-the-numeric-variables.-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>- Print the summary statistics for each of the numeric variables.</a></span></li><li><span><a href="#We-can-get-the-Iris-dataset-from-other-sources-as-well..." data-toc-modified-id="We-can-get-the-Iris-dataset-from-other-sources-as-well...-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>We can get the Iris dataset from other sources as well...</a></span></li></ul></li></ul></div>

In [2]:
import pandas as pd
import numpy as np

from pydataset import data

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns


# ignore warnings
import warnings
warnings.filterwarnings("ignore")

from env import host, user, password

## Use a python module containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [3]:
data('iris', show_doc=True)

iris

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Edgar Anderson's Iris Data

### Description

This famous (Fisher's or Anderson's) iris data set gives the measurements in
centimeters of the variables sepal length and width and petal length and
width, respectively, for 50 flowers from each of 3 species of iris. The
species are _Iris setosa_, _versicolor_, and _virginica_.

### Usage

    iris
    iris3

### Format

`iris` is a data frame with 150 cases (rows) and 5 variables (columns) named
`Sepal.Length`, `Sepal.Width`, `Petal.Length`, `Petal.Width`, and `Species`.

`iris3` gives the same data arranged as a 3-dimensional array of size 50 by 4
by 3, as represented by S-PLUS. The first dimension gives the case number
within the species subsample, the second the measurements with names `Sepal
L.`, `Sepal W.`, `Petal L.`, and `Petal W.`, and the third the species.

### Source

Fisher, R. A. (1936) The use of multiple measurements in taxonomic problems.
_Annals of Eugenics_, **7**, Part II, 179–188.

The data were collected by Anderson, Edgar (1935). The irises of the Gaspe
Peninsula, _Bulletin of the American Iris Society_, **59**, 2–5.

### References

Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S Language_.
Wadsworth & Brooks/Cole. (has `iris3` as `iris`.)

### See Also

`matplot` some examples of which use `iris`.

### Examples

    dni3 <- dimnames(iris3)
    ii <- data.frame(matrix(aperm(iris3, c(1,3,2)), ncol = 4,
                            dimnames = list(NULL, sub(" L.",".Length",
                                            sub(" W.",".Width", dni3[[2]])))),
        Species = gl(3, 50, labels = sub("S", "s", sub("V", "v", dni3[[3]]))))
    all.equal(ii, iris) # TRUE

In [5]:
df_iris = data('iris')

### - print the first 3 rows

In [6]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

### - print the number of rows and columns (shape)

In [7]:
df_iris.shape

(150, 5)

### - print the column names

In [9]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [10]:
# You might want to clean up the column names at this point. Up to you.

df_iris.columns = df_iris.columns.str.replace('.', '_').str.lower()
df_iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [11]:
# This is a nice way to get the column names in a list, but you could do df_iris.columns alone, too.

df_iris.columns.tolist()

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

### - print the data type of each column

In [12]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [13]:
df_iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

### - Print the summary statistics for each of the numeric variables. 

**Would you recommend rescaling the data based on these statistics?**

**<font color=purple>- In the documentation, we see that all of the numeric columns are measured in cm, so I don't see a reason that we would need to rescale the df.</font>**

In [14]:
df_iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### We can get the Iris dataset from other sources as well...

**<font color=purple>For example, from Seaborn</font>**

In [15]:
# Using Seaborn Datasets

iris = sns.load_dataset('iris')
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

**<font color=purple>From Sklearn you can get a dictionary-like object with the data ready to use in a DataFrame.</font>**

In [16]:
# Using Sklearn Datasets, dictionary-like object

from sklearn import datasets

iris = datasets.load_iris()
type(iris)

sklearn.utils.Bunch

In [17]:
iris.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [19]:
# Create the DataFrame using 'data' and name the columns using 'feature_names'

iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)
iris_df.head(3)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2

In [20]:
# Add the target variable, species, using 'target'. Here we get our target as a number!

iris_df['species'] = iris.target
iris_df.head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

In [28]:
# You may want to clean up the column names, but you may want to leave them intact for use in viz

iris_df.columns = iris_df.columns.str.replace(' \(cm\)', '').str.replace(' ', '_')
iris_df.columns.tolist()

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

**Other Seaborn Datasets you can use are linked [here](https://github.com/mwaskom/seaborn-data)**

**More on sklearn dataset loading utilities [here](https://scikit-learn.org/stable/datasets/index.html)**