<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Iris-Data" data-toc-modified-id="Iris-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Iris Data</a></span><ul class="toc-item"><li><span><a href="#Use-the-function-defined-in-acquire.py-to-load-the-iris-data." data-toc-modified-id="Use-the-function-defined-in-acquire.py-to-load-the-iris-data.-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span><strong><font color="purple">Use the function defined in acquire.py to load the iris data.</font></strong></a></span></li><li><span><a href="#Drop-the-species_id-and-measurement_id-columns." data-toc-modified-id="Drop-the-species_id-and-measurement_id-columns.-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span><strong><font color="purple">Drop the species_id and measurement_id columns.</font></strong></a></span></li><li><span><a href="#Rename-the-species_name-column-to-just-species." data-toc-modified-id="Rename-the-species_name-column-to-just-species.-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span><strong><font color="purple">Rename the species_name column to just species.</font></strong></a></span></li><li><span><a href="#Encode-the-species-name-using-a-sklearn-label-encoder." data-toc-modified-id="Encode-the-species-name-using-a-sklearn-label-encoder.-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span><strong><font color="purple">Encode the species name using a sklearn label encoder.</font></strong></a></span></li><li><span><a href="#Create-a-function-named-prep_iris-that-accepts-the-untransformed-iris-data,-and-returns-the-data-with-the-transformations-above-applied." data-toc-modified-id="Create-a-function-named-prep_iris-that-accepts-the-untransformed-iris-data,-and-returns-the-data-with-the-transformations-above-applied.-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span><strong><font color="purple">Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.</font></strong></a></span></li></ul></li><li><span><a href="#Titanic-Data" data-toc-modified-id="Titanic-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Titanic Data</a></span><ul class="toc-item"><li><span><a href="#Use-the-function-you-defined-in-acquire.py-to-load-the-titanic-data-set." data-toc-modified-id="Use-the-function-you-defined-in-acquire.py-to-load-the-titanic-data-set.-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span><strong><font color="purple">Use the function you defined in acquire.py to load the titanic data set.</font></strong></a></span></li><li><span><a href="#Handle-the-missing-values-in-the-embark_town-and-embarked-columns." data-toc-modified-id="Handle-the-missing-values-in-the-embark_town-and-embarked-columns.-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span><strong><font color="purple">Handle the missing values in the embark_town and embarked columns.</font></strong></a></span></li><li><span><a href="#Remove-the-deck-column." data-toc-modified-id="Remove-the-deck-column.-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span><strong><font color="purple">Remove the deck column.</font></strong></a></span></li><li><span><a href="#Use-a-label-encoder-to-transform-the-embarked-column." data-toc-modified-id="Use-a-label-encoder-to-transform-the-embarked-column.-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span><strong><font color="purple">Use a label encoder to transform the embarked column.</font></strong></a></span></li><li><span><a href="#Scale-the-age-and-fare-columns-using-a-min-max-scaler.-Why-might-this-be-beneficial?-When-might-you-not-want-to-do-this?" data-toc-modified-id="Scale-the-age-and-fare-columns-using-a-min-max-scaler.-Why-might-this-be-beneficial?-When-might-you-not-want-to-do-this?-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span><strong><font color="purple">Scale the age and fare columns using a min max scaler. Why might this be beneficial? When might you not want to do this?</font></strong></a></span></li><li><span><a href="#Create-a-function-named-prep_titanic-that-accepts-the-untransformed-titanic-data,-and-returns-the-data-with-the-transformations-above-applied." data-toc-modified-id="Create-a-function-named-prep_titanic-that-accepts-the-untransformed-titanic-data,-and-returns-the-data-with-the-transformations-above-applied.-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span><strong><font color="purple">Create a function named prep_titanic that accepts the untransformed titanic data, and returns the data with the transformations above applied.</font></strong></a></span></li><li><span><a href="#Our-function-didn't-handle-the-missing-values-in-age.-We-could-impute-the-mean-or-median-age-for-men-and-also-for-women." data-toc-modified-id="Our-function-didn't-handle-the-missing-values-in-age.-We-could-impute-the-mean-or-median-age-for-men-and-also-for-women.-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Our function didn't handle the missing values in age. We could impute the mean or median age for men and also for women.</a></span></li></ul></li></ul></div>

In [1]:
import pandas as pd
import numpy as np


import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

import acquire_walkthrough

## Iris Data

### **<font color=purple>Use the function defined in acquire.py to load the iris data.</font>**

In [ ]:
iris_df = acquire_walkthrough.get_iris_data()
iris_df.head(3)

### **<font color=purple>Drop the species_id and measurement_id columns.</font>**

**<font color=orange>I didn't specify 'measurement_id' in my SQL query in acquire, so I don't need to drop it. Depending on YOUR query, you may need to do that here or you can adjust your SQL query in acquire.</font>**

In [ ]:
iris_df.drop(columns='species_id', inplace=True)

In [ ]:
iris_df.head(3)

### **<font color=purple>Rename the species_name column to just species.</font>**

In [ ]:
iris_df = iris_df.rename(columns={'species_name': 'species'})
iris_df.head(3)

### **<font color=purple>Encode the species name using a sklearn label encoder.</font>**

**Research the inverse_transform method of the label encoder. How might this be useful?**

**<font color=red>First, I'm going to split my data into train and test. Why? It's good to split your data before processing it to avoid data leakage!</font>**

**Want to know more about the importance of splitting first? Check out [this article](https://towardsdatascience.com/avoid-data-leakage-split-your-data-before-processing-a7f172632b00).**

In [ ]:
train, test = train_test_split(iris_df, train_size=.75, random_state=123)

In [ ]:
train.shape

In [ ]:
test.shape

**<font color=purple>Now I can encode the species name using LabelEncoder.</font>**

In [ ]:
le = LabelEncoder()

In [ ]:
train['species'] = le.fit_transform(train.species)

In [ ]:
test['species'] = le.transform(test.species)

In [ ]:
train.head()

In [ ]:
test.head(1)

### **<font color=purple>Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.</font>**

In [ ]:
def prep_iris(df):
    train, test = train_test_split(df, train_size=.75, random_state=123)
    le = LabelEncoder()
    train['species'] = le.fit_transform(train[['species']])
    test['species'] = le.transform(test[['species']])
    return train, test

In [ ]:
train_encoded, test_encoded = prep_iris(iris_df)

In [ ]:
train_encoded.head()

In [ ]:
test_encoded.head(1)

**<font color=green>What if we want our species name back? Let's say we are done modeling, and we want to transform our encoded predictions back to easily understandable labels.</font>**

In [ ]:
def inverse_encode(train_encoded, test_encoded):
    train['species'] = le.inverse_transform(train.species)
    test['species'] = le.inverse_transform(test.species)
    return train, test

In [ ]:
train, test = inverse_encode(train_encoded, test_encoded)

In [ ]:
train.head()

In [ ]:
test.head(1)

## Titanic Data

### **<font color=purple>Use the function you defined in acquire.py to load the titanic data set.</font>**

In [2]:
titanic_df = acquire_walkthrough.get_titanic_data()

In [3]:
titanic_df.head(3)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1

**<font color=red>First, I'm going to split my data into train and test.</font>**

In [ ]:
t_train, t_test = train_test_split(titanic_df, train_size=.75, random_state=123)

In [ ]:
t_train.shape

In [ ]:
t_test.shape

### **<font color=purple>Handle the missing values in the embark_town and embarked columns.</font>**

**There are a couple of ways you can do this. I'll show you two.**

In [ ]:
t_train.embark_town.value_counts(dropna=False)

In [ ]:
# fill nan values with the mode

t_train['embark_town'] = t_train['embark_town'].fillna('Southampton')

In [ ]:
t_train.embarked.value_counts(dropna=False)

In [ ]:
t_train['embarked'] = t_train['embarked'].fillna('S')

In [ ]:
t_train.embark_town.value_counts(dropna=False)

In [ ]:
t_train.embarked.value_counts(dropna=False)

**<font color=purple>Or using SimpleImputer</font>**

In [ ]:
# titanic_df = acquire_walkthrough.get_titanic_data()
# t_train, t_test = train_test_split(titanic_df, train_size=.75, random_state=123)

In [ ]:
# t_train.head()

In [ ]:
# imputer = SimpleImputer(strategy = 'most_frequent')
# imputer

**<font color=orange>We can now do the same on test when we get to building our function.</font>**

### **<font color=purple>Remove the deck column.</font>**

In [ ]:
t_train.drop(columns=['deck'], inplace=True)

In [ ]:
t_train.columns.tolist()

**<font color=orange>We can now do the same on test when we get to building our function.</font>**

### **<font color=purple>Use a label encoder to transform the embarked column.</font>**

In [ ]:
ohe = OneHotEncoder(sparse=False, categories='auto')
t_train['embarked'] = ohe.fit_transform(t_train[['embarked']])

In [ ]:
t_train.embarked.value_counts(dropna=False)

**<font color=orange>We can now do the same on test when we get to building our function.</font>**

### **<font color=purple>Scale the age and fare columns using a min max scaler. Why might this be beneficial? When might you not want to do this?</font>**

**<font color=red>You wouldn't want to scale these columns when you're exploring the data or trying to explain the data to others. The Scaled data can be very confusing in explanatory charts.</font>**

In [ ]:
scaler = MinMaxScaler()

In [ ]:
t_train[['age','fare']] = scaler.fit_transform(t_train[['age','fare']])

In [ ]:
t_train.head()

In [ ]:
t_test[['age','fare']] = scaler.transform(t_test[['age','fare']])

In [ ]:
t_test.head(1)

### **<font color=purple>Create a function named prep_titanic that accepts the untransformed titanic data, and returns the data with the transformations above applied.</font>**

In [21]:
def prep_titanic(df):
    t_train, t_test = train_test_split(titanic_df, train_size=.75, random_state=123)
    
    # Impute mode for embak_town Null Values
    t_train['embark_town'] = t_train['embark_town'].fillna('Southampton')
    t_test['embark_town'] = t_test['embark_town'].fillna('Southampton')
    
    # Impute Mode for embarked Null Values
    t_train['embarked'] = t_train['embarked'].fillna('S')
    t_test['embarked'] = t_test['embarked'].fillna('S')
    
    # Drop deck column, too many Null Values
    t_train.drop(columns=['deck'], inplace=True)
    t_test.drop(columns=['deck'], inplace=True)
    
    # Create, fit, and transform ohe object
    ohe = OneHotEncoder(sparse=False, categories='auto')
    t_train['embarked'] = ohe.fit_transform(t_train[['embarked']])
    t_test['embarked'] = ohe.fit_transform(t_test[['embarked']])
    
    # Create, fit, and transform scaler object
    scaler = MinMaxScaler()
    t_train[['age','fare']] = scaler.fit_transform(t_train[['age','fare']])
    t_test[['age','fare']] = scaler.transform(t_test[['age','fare']])
    return scaler, ohe, t_train, t_test

In [22]:
scaler, ohe, t_train, t_test = prep_titanic(titanic_df)

In [20]:
scaler

MinMaxScaler(copy=True, feature_range=(0, 1))

In [11]:
ohe

OneHotEncoder(categorical_features=None, categories='auto', drop=None,
              dtype=<class 'numpy.float64'>, handle_unknown='error',
              n_values=None, sparse=False)

In [13]:
t_train.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone
660,660,1,1,male,0.623021,2,0,0.260867,0.0,First,Southampton,0
852,852,0,3,female,0.107816,1,1,0.029758,1.0,Third,Cherbourg,0
703,703,0,3,male,0.308872,0,0,0.015111,0.0,Third,Queenstown,1
886,886,0,2,male,0.334004,0,0,0.025374,0.0,Second,Southampton,1
525,525,0,3,male,0.503644,0,0,0.015127,0.0,Third,Queenstown,1

In [16]:
t_train.isna().sum()

passenger_id      0
survived          0
pclass            0
sex               0
age             139
sibsp             0
parch             0
fare              0
embarked          0
class             0
embark_town       0
alone             0
dtype: int64

In [14]:
t_test.head(1)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone
172,172,1,3,female,0.007288,1,1,0.021731,0.0,Third,Southampton,0

In [17]:
t_test.isna().sum()

passenger_id     0
survived         0
pclass           0
sex              0
age             38
sibsp            0
parch            0
fare             0
embarked         0
class            0
embark_town      0
alone            0
dtype: int64

### Our function didn't handle the missing values in age. We could impute the mean or median age for men and also for women.