In [3]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# wrangle data
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats
import pandas_profiling

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

# my modules
import acquire
import summarize
import prepare
import env

In [4]:
df = acquire.get_zillow_data()
df.sample()

,county,tax_rate,id,parcelid,airconditioningtypeid,airconditioningdesc,architecturalstyletypeid,architecturalstyledesc,basementsqft,bathroomcnt,...,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,typeconstructiontypeid,typeconstructiondesc,censustractandblock,transactiondate,logerror,transactions
35111,Los Angeles,0.02,2095827,12485431,nan,None,nan,None,nan,2.00,...,"21,513.00","1,083.83",None,nan,nan,None,"60,375,709,012,000.00",2017-06-30,0.04,1