In [22]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats
import pandas_profiling

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import acquire
import summarize
import prepare
import env

In [23]:
# """SELECT p2.*, p1.logerror FROM predictions_2016 p1
# LEFT JOIN properties_2016 p2  USING(parcelid)
# WHERE (bedroomcnt > 0 AND bathroomcnt > 0 AND calculatedfinishedsquarefeet > 500 
# AND latitude IS NOT NULL AND longitude IS NOT NULL) 
# AND (unitcnt = 1 OR unitcnt IS NULL);"""

### Acquire df

- Use function from acquire.py to bring in df using sql query.

In [24]:
df = acquire.get_zillow_data()

### Summarize df

In [25]:
summarize.df_summary(df)

--- Shape: (52169, 72)
--- Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52169 entries, 0 to 52168
Data columns (total 72 columns):
county                          52169 non-null object
tax_rate                        52164 non-null float64
id                              52169 non-null int64
parcelid                        52169 non-null int64
airconditioningtypeid           13605 non-null float64
airconditioningdesc             13605 non-null object
architecturalstyletypeid        70 non-null float64
architecturalstyledesc          70 non-null object
basementsqft                    47 non-null float64
bathroomcnt                     52169 non-null float64
bedroomcnt                      52169 non-null float64
buildingclasstypeid             0 non-null object
buildingclassdesc               0 non-null object
buildingqualitytypeid           33628 non-null float64
calculatedbathnbr               52153 non-null float64
calculatedfinishedsquarefeet    52161 non-null float64
decktypeid                      387 non-null float64
finishedfloor1squarefeet        4354 non-null float64
finishedsquarefeet12            52003 non-null float64
finishedsquarefeet13            0 non-null object
finishedsquarefeet15            0 non-null object
finishedsquarefeet50            4354 non-null float64
finishedsquarefeet6             158 non-null float64
fips                            52169 non-null float64
state                           52169 non-null object
fireplacecnt                    7221 non-null float64
fullbathcnt                     52153 non-null float64
garagecarcnt                    17966 non-null float64
garagetotalsqft                 17966 non-null float64
hashottuborspa                  1514 non-null float64
heatingorsystemtypeid           33824 non-null float64
heatingorsystemdesc             33824 non-null object
latitude                        52169 non-null float64
longitude                       52169 non-null float64
lotsizesquarefeet               51815 non-null float64
poolcnt                         11064 non-null float64
poolsizesum                     860 non-null float64
pooltypeid10                    443 non-null float64
pooltypeid2                     1071 non-null float64
pooltypeid7                     9977 non-null float64
propertycountylandusecode       52169 non-null object
propertylandusetypeid           52169 non-null float64
propertylandusedesc             52169 non-null object
propertyzoningdesc              33690 non-null object
rawcensustractandblock          52169 non-null float64
regionidcity                    51141 non-null float64
regionidcounty                  52169 non-null float64
regionidneighborhood            18928 non-null float64
regionidzip                     52146 non-null float64
roomcnt                         52169 non-null float64
storytypeid                     47 non-null float64
storydesc                       47 non-null object
taxvaluedollarcnt               52168 non-null float64
threequarterbathnbr             6716 non-null float64
unitcnt                         33718 non-null float64
yardbuildingsqft17              1926 non-null float64
yardbuildingsqft26              63 non-null float64
yearbuilt                       52129 non-null float64
numberofstories                 14506 non-null float64
fireplaceflag                   81 non-null float64
structuretaxvaluedollarcnt      52097 non-null float64
assessmentyear                  52169 non-null float64
landtaxvaluedollarcnt           52168 non-null float64
taxamount                       52165 non-null float64
taxdelinquencyflag              2060 non-null object
taxdelinquencyyear              2060 non-null float64
typeconstructiontypeid          76 non-null float64
typeconstructiondesc            76 non-null object
censustractandblock             52057 non-null float64
transactiondate                 52169 non-null object
logerror                        52169 non-null float64
transactions                    52169 non-null int64
dtypes: float64(53), int64(3), object(16)
memory usage: 28.7+ MB
--- Descriptions
             county             tax_rate                   id  \
count         52169            52,164.00            52,169.00
unique            3                  nan                  nan
top     Los Angeles                  nan                  nan
freq          33752                  nan                  nan
mean            NaN                 0.01         1,496,932.46
std             NaN                 0.01           859,434.15
min             NaN                 0.00               349.00
25%             NaN                 0.01           757,739.00
50%             NaN                 0.01         1,500,051.00
75%             NaN                 0.01         2,241,574.00
max             NaN                 0.82         2,982,270.00

                   parcelid  airconditioningtypeid airconditioningdesc  \
count             52,169.00              13,605.00               13605
unique                  nan                    nan                   4
top                     nan                    nan             Central
freq                    nan                    nan               11863
mean          12,988,905.58                   2.44                 NaN
std            3,214,148.89                   3.85                 NaN
min           10,711,855.00                   1.00                 NaN
25%           11,508,313.00                   1.00                 NaN
50%           12,577,665.00                   1.00                 NaN
75%           14,128,864.00                   1.00                 NaN
max          167,639,152.00                  13.00                 NaN

        architecturalstyletypeid architecturalstyledesc         basementsqft  \
count                      70.00                     70                47.00
unique                       nan                      5                  nan
top                          nan           Contemporary                  nan
freq                         nan                     62                  nan
mean                        7.10                    NaN               678.98
std                         2.67                    NaN               711.83
min                         2.00                    NaN                38.00
25%                         7.00                    NaN               263.50
50%                         7.00                    NaN               512.00
75%                         7.00                    NaN               809.50
max                        21.00                    NaN             3,560.00

                bathroomcnt  ...  landtaxvaluedollarcnt            taxamount  \
count             52,169.00  ...              52,168.00            52,165.00
unique                  nan  ...                    nan                  nan
top                     nan  ...                    nan                  nan
freq                    nan  ...                    nan                  nan
mean                   2.31  ...             332,650.34             6,437.58
std                    1.02  ...             568,705.24             8,710.54
min                    1.00  ...                 161.00                49.18
25%                    2.00  ...              76,340.75             2,662.54
50%                    2.00  ...             218,079.00             4,650.32
75%                    3.00  ...             408,351.00             7,373.22
max                   18.00  ...          48,952,198.00           586,639.30

        taxdelinquencyflag   taxdelinquencyyear  typeconstructiontypeid  \
count                 2060             2,060.00                   76.00
unique                   1                  nan                     nan
top                      Y                  nan                     nan
freq                  2060                  nan                     nan
mean                   NaN                14.10                    5.97
std                    NaN                 2.40                    0.23
min                    NaN                 4.00                    4.00
25%                    NaN                14.00                    6.00
50%                    NaN                15.00                    6.00
75%                    NaN                15.00                    6.00
max                    NaN                99.00                    6.00

        typeconstructiondesc    censustractandblock  transactiondate  \
count                     76              52,057.00            52169
unique                     2                    nan              258
top                    Frame                    nan       2017-06-30
freq                      75                    nan              806
mean                     NaN  60,502,221,727,973.57              NaN
std                      NaN   1,863,604,693,951.61              NaN
min                      NaN  60,371,011,101,000.00              NaN
25%                      NaN  60,374,012,032,011.00              NaN
50%                      NaN  60,376,202,012,023.00              NaN
75%                      NaN  60,590,423,244,013.00              NaN
max                      NaN 483,030,105,084,015.00              NaN

                   logerror         transactions
count             52,169.00            52,169.00
unique                  nan                  nan
top                     nan                  nan
freq                    nan                  nan
mean                   0.02                 1.00
std                    0.18                 0.05
min                   -4.66                 1.00
25%                   -0.02                 1.00
50%                    0.01                 1.00
75%                    0.04                 1.00
max                    5.26                 3.00

[11 rows x 72 columns]
--- Nulls By Column
                              num_rows_missing     pct_rows_missing
county                                       0                 0.00
tax_rate                                     5                 0.00
id                                           0                 0.00
parcelid                                     0                 0.00
airconditioningtypeid                    38564                 0.74
airconditioningdesc                      38564                 0.74
architecturalstyletypeid                 52099                 1.00
architecturalstyledesc                   52099                 1.00
basementsqft                             52122                 1.00
bathroomcnt                                  0                 0.00
bedroomcnt                                   0                 0.00
buildingclasstypeid                      52169                 1.00
buildingclassdesc                        52169                 1.00
buildingqualitytypeid                    18541                 0.36
calculatedbathnbr                           16                 0.00
calculatedfinishedsquarefeet                 8                 0.00
decktypeid                               51782                 0.99
finishedfloor1squarefeet                 47815                 0.92
finishedsquarefeet12                       166                 0.00
finishedsquarefeet13                     52169                 1.00
finishedsquarefeet15                     52169                 1.00
finishedsquarefeet50                     47815                 0.92
finishedsquarefeet6                      52011                 1.00
fips                                         0                 0.00
state                                        0                 0.00
fireplacecnt                             44948                 0.86
fullbathcnt                                 16                 0.00
garagecarcnt                             34203                 0.66
garagetotalsqft                          34203                 0.66
hashottuborspa                           50655                 0.97
...                                        ...                  ...
propertylandusedesc                          0                 0.00
propertyzoningdesc                       18479                 0.35
rawcensustractandblock                       0                 0.00
regionidcity                              1028                 0.02
regionidcounty                               0                 0.00
regionidneighborhood                     33241                 0.64
regionidzip                                 23                 0.00
roomcnt                                      0                 0.00
storytypeid                              52122                 1.00
storydesc                                52122                 1.00
taxvaluedollarcnt                            1                 0.00
threequarterbathnbr                      45453                 0.87
unitcnt                                  18451                 0.35
yardbuildingsqft17                       50243                 0.96
yardbuildingsqft26                       52106                 1.00
yearbuilt                                   40                 0.00
numberofstories                          37663                 0.72
fireplaceflag                            52088                 1.00
structuretaxvaluedollarcnt                  72                 0.00
assessmentyear                               0                 0.00
landtaxvaluedollarcnt                        1                 0.00
taxamount                                    4                 0.00
taxdelinquencyflag                       50109                 0.96
taxdelinquencyyear                       50109                 0.96
typeconstructiontypeid                   52093                 1.00
typeconstructiondesc                     52093                 1.00
censustractandblock                        112                 0.00
transactiondate                              0                 0.00
logerror                                     0                 0.00
transactions                                 0                 0.00

[72 rows x 2 columns]
--- Nulls By Row

   num_cols_missing    pct_cols_missing  num_rows
0                23  31.944444444444443         2
1                24   33.33333333333333        12
2                25   34.72222222222222        11
3                26   36.11111111111111        30
4                27                37.5       177
5                28   38.88888888888889       389
6                29   40.27777777777778      2527
7                30   41.66666666666667      2194
8                31   43.05555555555556      5986
9                32   44.44444444444444      8880
10               33   45.83333333333333     11960
11               34   47.22222222222222     11151
12               35   48.61111111111111      3459
13               36                50.0      4121
14               37  51.388888888888886      1016
15               38   52.77777777777778       214
16               39  54.166666666666664        22
17               40   55.55555555555556        13
18               41   56.94444444444444         3
19               42  58.333333333333336         1
20               44  61.111111111111114         1
--- Value Counts
county:
Los Angeles    33752
Orange         14061
Ventura         4356
Name: county, dtype: int64
tax_rate:
(-0.0017230000000000001, 0.0817]    52125
(0.0817, 0.163]                        30
(0.163, 0.245]                          3
(0.245, 0.327]                          2
(0.327, 0.408]                          1
(0.408, 0.49]                           1
(0.49, 0.572]                           1
(0.572, 0.653]                          0
(0.653, 0.735]                          0
(0.735, 0.816]                          1
Name: tax_rate, dtype: int64
id:
(-2632.922, 298541.1]     5152
(298541.1, 596733.2]      5120
(596733.2, 894925.3]      5123
(894925.3, 1193117.4]     5235
(1193117.4, 1491309.5]    5306
(1491309.5, 1789501.6]    5329
(1789501.6, 2087693.7]    5226
(2087693.7, 2385885.8]    5167
(2385885.8, 2684077.9]    5223
(2684077.9, 2982270.0]    5288
Name: id, dtype: int64
parcelid:
(10554927.702, 26404584.7]    52152
(26404584.7, 42097314.4]          0
(42097314.4, 57790044.1]          0
(57790044.1, 73482773.8]          0
(73482773.8, 89175503.5]          1
(89175503.5, 104868233.2]         0
(104868233.2, 120560962.9]        0
(120560962.9, 136253692.6]        0
(136253692.6, 151946422.3]        0
(151946422.3, 167639152.0]       16
Name: parcelid, dtype: int64
airconditioningtypeid:
 1.00    11863
13.00     1567
 5.00      159
11.00       16
Name: airconditioningtypeid, dtype: int64
airconditioningdesc:
Central      11863
Yes           1567
None           159
Wall Unit       16
Name: airconditioningdesc, dtype: int64
architecturalstyletypeid:
 7.00    62
 3.00     3
21.00     2
 2.00     2
 8.00     1
Name: architecturalstyletypeid, dtype: int64
architecturalstyledesc:
Contemporary     62
Cape Cod          3
Ranch/Rambler     2
Bungalow          2
Conventional      1
Name: architecturalstyledesc, dtype: int64
basementsqft:
(34.477000000000004, 390.2]    20
(390.2, 742.4]                 13
(742.4, 1094.6]                 7
(1094.6, 1446.8]                3
(1446.8, 1799.0]                0
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64
bathroomcnt:
 2.00    21832
 3.00    10646
 1.00     9518
 2.50     3931
 4.00     2225
 3.50      916
 1.50      839
 5.00      802
 4.50      686
 6.00      320
 5.50      224
 7.00       88
 8.00       53
 6.50       47
 7.50       16
 9.00       13
10.00        5
11.00        3
 8.50        3
13.00        1
18.00        1
Name: bathroomcnt, dtype: int64
bedroomcnt:
 3.00    23296
 4.00    15206
 2.00     8315
 5.00     3967
 6.00      634
 1.00      608
 7.00      106
 8.00       24
 9.00        8
10.00        2
12.00        1
14.00        1
11.00        1
Name: bedroomcnt, dtype: int64
buildingclasstypeid:
Series([], Name: buildingclasstypeid, dtype: int64)
buildingclassdesc:
Series([], Name: buildingclassdesc, dtype: int64)
buildingqualitytypeid:
 6.00    10256
 8.00     8219
 4.00     8130
 7.00     3422
 5.00     1501
 9.00     1119
11.00      514
10.00      228
 3.00      147
12.00       81
 1.00        8
 2.00        3
Name: buildingqualitytypeid, dtype: int64
calculatedbathnbr:
 2.00    21832
 3.00    10646
 1.00     9518
 2.50     3923
 4.00     2225
 3.50      916
 1.50      832
 5.00      802
 4.50      686
 6.00      320
 5.50      223
 7.00       88
 8.00       53
 6.50       47
 7.50       16
 9.00       13
10.00        5
11.00        3
 8.50        3
13.00        1
18.00        1
Name: calculatedbathnbr, dtype: int64
calculatedfinishedsquarefeet:
(130.222, 2329.7]     39434
(2329.7, 4507.4]      11534
(4507.4, 6685.1]        976
(6685.1, 8862.8]        156
(8862.8, 11040.5]        42
(11040.5, 13218.2]       12
(13218.2, 15395.9]        2
(15395.9, 17573.6]        2
(17573.6, 19751.3]        1
(19751.3, 21929.0]        2
Name: calculatedfinishedsquarefeet, dtype: int64
decktypeid:
66.00    387
Name: decktypeid, dtype: int64
finishedfloor1squarefeet:
(177.271, 856.8]     309
(856.8, 1529.6]     2302
(1529.6, 2202.4]    1263
(2202.4, 2875.2]     275
(2875.2, 3548.0]     119
(3548.0, 4220.8]      42
(4220.8, 4893.6]      23
(4893.6, 5566.4]      12
(5566.4, 6239.2]       5
(6239.2, 6912.0]       4
Name: finishedfloor1squarefeet, dtype: int64
finishedsquarefeet12:
(130.222, 2329.7]     39291
(2329.7, 4507.4]      11520
(4507.4, 6685.1]        975
(6685.1, 8862.8]        156
(8862.8, 11040.5]        42
(11040.5, 13218.2]       12
(13218.2, 15395.9]        2
(15395.9, 17573.6]        2
(17573.6, 19751.3]        1
(19751.3, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64
finishedsquarefeet13:
Series([], Name: finishedsquarefeet13, dtype: int64)
finishedsquarefeet15:
Series([], Name: finishedsquarefeet15, dtype: int64)
finishedsquarefeet50:
(171.716, 1412.3]     2170
(1412.3, 2640.6]      1900
(2640.6, 3868.9]       204
(3868.9, 5097.2]        56
(5097.2, 6325.5]        13
(6325.5, 7553.8]         7
(7553.8, 8782.1]         2
(8782.1, 10010.4]        1
(10010.4, 11238.7]       0
(11238.7, 12467.0]       1
Name: finishedsquarefeet50, dtype: int64
finishedsquarefeet6:
(374.781, 901.8]    55
(901.8, 1423.6]     72
(1423.6, 1945.4]    13
(1945.4, 2467.2]     7
(2467.2, 2989.0]     4
(2989.0, 3510.8]     3
(3510.8, 4032.6]     2
(4032.6, 4554.4]     1
(4554.4, 5076.2]     0
(5076.2, 5598.0]     1
Name: finishedsquarefeet6, dtype: int64
fips:
6,037.00    33752
6,059.00    14061
6,111.00     4356
Name: fips, dtype: int64
state:
CA    52169
Name: state, dtype: int64
fireplacecnt:
1.00    6019
2.00     937
3.00     228
4.00      34
5.00       3
Name: fireplacecnt, dtype: int64
fullbathcnt:
 2.00    25767
 3.00    11571
 1.00    10350
 4.00     2912
 5.00     1021
 6.00      357
 7.00       96
 8.00       56
 9.00       13
10.00        5
11.00        3
13.00        1
18.00        1
Name: fullbathcnt, dtype: int64
garagecarcnt:
 2.00    14765
 1.00     2195
 3.00      620
 4.00      252
 0.00       63
 5.00       45
 6.00       13
 7.00        3
10.00        3
 9.00        2
 8.00        2
13.00        1
11.00        1
14.00        1
Name: garagecarcnt, dtype: int64
garagetotalsqft:
(-4.252000000000001, 425.1]     4441
(425.1, 850.2]                 13149
(850.2, 1275.3]                  322
(1275.3, 1700.4]                  38
(1700.4, 2125.5]                   6
(2125.5, 2550.6]                   2
(2550.6, 2975.7]                   4
(2975.7, 3400.8]                   2
(3400.8, 3825.9]                   1
(3825.9, 4251.0]                   1
Name: garagetotalsqft, dtype: int64
hashottuborspa:
1.00    1514
Name: hashottuborspa, dtype: int64
heatingorsystemtypeid:
 2.00    20676
 7.00    12514
 6.00      517
20.00       85
13.00       16
 1.00        7
18.00        6
10.00        2
24.00        1
Name: heatingorsystemtypeid, dtype: int64
heatingorsystemdesc:
Central       20676
Floor/Wall    12514
Forced air      517
Solar            85
None             16
Baseboard         7
Radiant           6
Gravity           2
Yes               1
Name: heatingorsystemdesc, dtype: int64
latitude:

(33339141.852, 33488434.7]      753
(33488434.7, 33636249.4]       3203
(33636249.4, 33784064.1]       6059
(33784064.1, 33931878.8]      10912
(33931878.8, 34079693.5]       9002
(34079693.5, 34227508.2]      12404
(34227508.2, 34375322.9]       4596
(34375322.9, 34523137.6]       1816
(34523137.6, 34670952.3]       2183
(34670952.3, 34818767.0]       1241
Name: latitude, dtype: int64
longitude:
(-119477336.781, -119283338.0]      158
(-119283338.0, -119091260.0]       1291
(-119091260.0, -118899182.0]       1050
(-118899182.0, -118707104.0]       1776
(-118707104.0, -118515026.0]       3838
(-118515026.0, -118322948.0]       9297
(-118322948.0, -118130870.0]       9990
(-118130870.0, -117938792.0]      11197
(-117938792.0, -117746714.0]       9121
(-117746714.0, -117554636.0]       4451
Name: longitude, dtype: int64
lotsizesquarefeet:
(-6734.775000000001, 697313.4]    51796
(697313.4, 1394390.8]                 8
(1394390.8, 2091468.2]                2
(2091468.2, 2788545.6]                1
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                0
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64
poolcnt:
1.00    11064
Name: poolcnt, dtype: int64
poolsizesum:
(22.523, 171.6]       6
(171.6, 319.2]       46
(319.2, 466.8]      320
(466.8, 614.4]      305
(614.4, 762.0]      121
(762.0, 909.6]       48
(909.6, 1057.2]       7
(1057.2, 1204.8]      5
(1204.8, 1352.4]      0
(1352.4, 1500.0]      2
Name: poolsizesum, dtype: int64
pooltypeid10:
1.00    443
Name: pooltypeid10, dtype: int64
pooltypeid2:
1.00    1071
Name: pooltypeid2, dtype: int64
pooltypeid7:
1.00    9977
Name: pooltypeid7, dtype: int64
propertycountylandusecode:
0100    26675
122     13019
0101     6398
1111     3347
1        1042
1110     1007
0104      367
0103       91
010G       75
0108       57
010M       52
0109        8
0110        6
0113        6
0141        4
0105        3
0102        3
0111        2
1112        2
0130        2
0133        1
0131        1
0114        1
Name: propertycountylandusecode, dtype: int64
propertylandusetypeid:
261.00    52169
Name: propertylandusetypeid, dtype: int64
propertylandusedesc:
Single Family Residential    52169
Name: propertylandusedesc, dtype: int64
propertyzoningdesc:
LAR1          6471
LARS          1380
LBR1N         1109
SCUR2          712
LARE11         611
LARA           609
TORR-LO        542
LAR2           538
LARE15         537
LCR1YY         472
LKR1YY         381
PSR6           323
LCR1*          301
GLR1YY         283
PDR1*          278
LCA22*         262
LCA11*         262
CARS*          249
LARD1.5        242
BUR1YY         238
LARD2          233
MNRS           225
NOR1YY         219
CORL*          209
PRSF*          193
LCA106         188
LMR1*          180
LRA22*         161
LRR7000*       158
GDR1           157
              ...
RMPD*            1
PSR6*            1
MNRAYY           1
LKR*             1
LCRPD5000        1
LRA11*           1
G1R1*            1
RMPD             1
LCA110000-       1
PACM*            1
PDRI             1
LRAA6500*        1
LCA125000*       1
LRRPD70008       1
LCR16000-R       1
HGR3*            1
LRRA 7000*       1
LRMPD-VM*        1
LCC4-R1600       1
ARR105           1
CCR-1*           1
SCNU3            1
CUR1*            1
WHP*             1
AHRS-2-200       1
LRR7000V         1
DOR1O5OO*        1
SRR111000*       1
CLRS13000&       1
AZR3A*           1
Name: propertyzoningdesc, Length: 1280, dtype: int64
rawcensustractandblock:
(60370272.019999996, 60444919.091]    33752
(60444919.091, 60518827.081]              0
(60518827.081, 60592735.071]          14061
(60592735.071, 60666643.061]              0
(60666643.061, 60740551.051]              0
(60740551.051, 60814459.041]              0
(60814459.041, 60888367.031]              0
(60888367.031, 60962275.021]              0
(60962275.021, 61036183.011]              0
(61036183.011, 61110091.001]           4356
Name: rawcensustractandblock, dtype: int64
regionidcity:
(3097.9339999999997, 42797.5]    38966
(42797.5, 82104.0]               10554
(82104.0, 121410.5]                824
(121410.5, 160717.0]                 0
(160717.0, 200023.5]                 0
(200023.5, 239330.0]                 0
(239330.0, 278636.5]                17
(278636.5, 317943.0]                 0
(317943.0, 357249.5]                 0
(357249.5, 396556.0]               780
Name: regionidcity, dtype: int64
regionidcounty:
3,101.00    33752
1,286.00    14061
2,061.00     4356
Name: regionidcounty, dtype: int64
regionidneighborhood:
(6194.784, 82673.5]     7242
(82673.5, 158395.0]     2983
(158395.0, 234116.5]      32
(234116.5, 309838.0]    7103
(309838.0, 385559.5]       7
(385559.5, 461281.0]     917
(461281.0, 537002.5]       0
(537002.5, 612724.0]       0
(612724.0, 688445.5]      66
(688445.5, 764167.0]     578
Name: regionidneighborhood, dtype: int64
regionidzip:
(95678.306, 126351.3]    52134
(126351.3, 156720.6]         0
(156720.6, 187089.9]         0
(187089.9, 217459.2]         0
(217459.2, 247828.5]         0
(247828.5, 278197.8]         0
(278197.8, 308567.1]         0
(308567.1, 338936.4]         0
(338936.4, 369305.7]         0
(369305.7, 399675.0]        12
Name: regionidzip, dtype: int64
roomcnt:
 0.00    37626
 6.00     3971
 7.00     3606
 8.00     2807
 5.00     1885
 9.00     1171
 4.00      517
10.00      338
11.00      108
 3.00       79
12.00       34
13.00       10
 2.00        9
14.00        6
15.00        1
 1.00        1
Name: roomcnt, dtype: int64
storytypeid:
7.00    47
Name: storytypeid, dtype: int64
storydesc:
Basement    47
Name: storydesc, dtype: int64
taxvaluedollarcnt:
(-48060.236999999994, 4907023.6]    51966
(4907023.6, 9813047.2]                165
(9813047.2, 14719070.8]                23
(14719070.8, 19625094.4]                8
(19625094.4, 24531118.0]                4
(24531118.0, 29437141.6]                1
(29437141.6, 34343165.2]                0
(34343165.2, 39249188.8]                0
(39249188.8, 44155212.4]                0
(44155212.4, 49061236.0]                1
Name: taxvaluedollarcnt, dtype: int64
threequarterbathnbr:
1.00    6637
2.00      70
3.00       8
7.00       1
Name: threequarterbathnbr, dtype: int64
unitcnt:
1.00    33691
2.00       26
3.00        1
Name: unitcnt, dtype: int64
yardbuildingsqft17:
(7.819, 329.0]      1212
(329.0, 647.0]       569
(647.0, 965.0]        94
(965.0, 1283.0]       34
(1283.0, 1601.0]       9
(1601.0, 1919.0]       1
(1919.0, 2237.0]       2
(2237.0, 2555.0]       2
(2555.0, 2873.0]       1
(2873.0, 3191.0]       2
Name: yardbuildingsqft17, dtype: int64
yardbuildingsqft26:
(11.143, 97.6]    19
(97.6, 183.2]     13
(183.2, 268.8]    10
(268.8, 354.4]     7
(354.4, 440.0]     4
(440.0, 525.6]     6
(525.6, 611.2]     1
(611.2, 696.8]     1
(696.8, 782.4]     1
(782.4, 868.0]     1
Name: yardbuildingsqft26, dtype: int64
yearbuilt:
(1877.861, 1891.8]       22
(1891.8, 1905.6]        166
(1905.6, 1919.4]       1017
(1919.4, 1933.2]       4052
(1933.2, 1947.0]       4885
(1947.0, 1960.8]      15880
(1960.8, 1974.6]      10198
(1974.6, 1988.4]       6940
(1988.4, 2002.2]       5912
(2002.2, 2016.0]       3057
Name: yearbuilt, dtype: int64
numberofstories:
1.00    8850
2.00    5304
3.00     351
6.00       1
Name: numberofstories, dtype: int64
fireplaceflag:
1.00    81
Name: fireplaceflag, dtype: int64
structuretaxvaluedollarcnt:
(-9016.754, 916623.3]     51187
(916623.3, 1833098.6]       751
(1833098.6, 2749573.9]      100
(2749573.9, 3666049.2]       36
(3666049.2, 4582524.5]        8
(4582524.5, 5498999.8]        7
(5498999.8, 6415475.1]        2
(6415475.1, 7331950.4]        1
(7331950.4, 8248425.7]        4
(8248425.7, 9164901.0]        1
Name: structuretaxvaluedollarcnt, dtype: int64
assessmentyear:
2,016.00    52169
Name: assessmentyear, dtype: int64
landtaxvaluedollarcnt:
(-48791.03799999999, 4895364.7]    52063
(4895364.7, 9790568.4]                85
(9790568.4, 14685772.1]               13
(14685772.1, 19580975.8]               5
(19580975.8, 24476179.5]               1
(24476179.5, 29371383.2]               0
(29371383.2, 34266586.9]               0
(34266586.9, 39161790.6]               0
(39161790.6, 44056994.3]               0
(44056994.3, 48952198.0]               1
Name: landtaxvaluedollarcnt, dtype: int64
taxamount:
(-537.411, 58708.192]       51972
(58708.192, 117367.204]       160
(117367.204, 176026.216]       19
(176026.216, 234685.228]        9
(234685.228, 293344.24]         4
(293344.24, 352003.252]         0
(352003.252, 410662.264]        0
(410662.264, 469321.276]        0
(469321.276, 527980.288]        0
(527980.288, 586639.3]          1
Name: taxamount, dtype: int64
taxdelinquencyflag:
Y    2060
Name: taxdelinquencyflag, dtype: int64
taxdelinquencyyear:
15.00    1118
14.00     557
13.00     126
12.00      81
11.00      79
10.00      47
 9.00      33
 7.00       8
 8.00       8
99.00       1
 4.00       1
 6.00       1
Name: taxdelinquencyyear, dtype: int64
typeconstructiontypeid:
6.00    75
4.00     1
Name: typeconstructiontypeid, dtype: int64
typeconstructiondesc:
Frame       75
Concrete     1
Name: typeconstructiondesc, dtype: int64
censustractandblock:
(59948352007016.984, 102636920499301.5]    52056
(102636920499301.5, 144902829897603.0]         0
(144902829897603.0, 187168739295904.5]         0
(187168739295904.5, 229434648694206.03]        0
(229434648694206.03, 271700558092507.5]        0
(271700558092507.5, 313966467490809.0]         0
(313966467490809.0, 356232376889110.5]         0
(356232376889110.5, 398498286287411.94]        0
(398498286287411.94, 440764195685713.5]        0
(440764195685713.5, 483030105084015.0]         1
Name: censustractandblock, dtype: int64
transactiondate:
2017-06-30    806
2017-04-28    612
2017-05-31    564
2017-07-28    544
2017-08-31    528
2017-05-26    507
2017-06-16    506
2017-03-31    503
2017-06-23    491
2017-07-07    485
2017-08-25    470
2017-09-01    444
2017-09-08    426
2017-07-31    425
2017-05-19    424
2017-05-05    421
2017-08-11    415
2017-03-24    413
2017-05-12    410
2017-06-01    410
2017-06-29    409
2017-07-14    403
2017-06-02    391
2017-04-14    386
2017-03-28    386
2017-08-30    385
2017-06-09    379
2017-02-28    378
2017-05-25    370
2017-04-21    368
             ...
2017-07-02      2
2017-09-16      2
2017-06-10      2
2017-02-19      2
2017-09-04      2
2017-07-16      2
2017-01-28      2
2017-07-23      2
2017-05-21      2
2017-09-21      2
2017-08-26      2
2017-06-03      1
2017-04-08      1
2017-09-20      1
2017-05-20      1
2017-09-25      1
2017-03-25      1
2017-06-11      1
2017-05-07      1
2018-05-25      1
2017-08-12      1
2017-03-12      1
2017-09-02      1
2017-05-13      1
2017-08-13      1
2017-09-10      1
2017-07-08      1
2017-09-17      1
2017-03-11      1
2017-09-09      1
Name: transactiondate, Length: 258, dtype: int64
logerror:
(-4.666, -3.664]        2
(-3.664, -2.672]        0
(-2.672, -1.68]        26
(-1.68, -0.688]       106
(-0.688, 0.304]     50689
(0.304, 1.296]       1215
(1.296, 2.287]         75
(2.287, 3.279]         54
(3.279, 4.271]          1
(4.271, 5.263]          1
Name: logerror, dtype: int64
transactions:
1    52051
2      116
3        2
Name: transactions, dtype: int64
None

In [5]:
#df = df.loc[:,~df.columns.duplicated()]

### Explore df

- Here I'll explore the dataframe to help me decide what needs to be prepped/cleaned for my model.

In [ ]:
df.profile_report()

- Write a function that takes in a dataframe of observations and attributes and returns a df where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [7]:
summarize.nulls_by_col(df)

                              num_rows_missing     pct_rows_missing
county                                       0                 0.00
tax_rate                                     5                 0.00
id                                           0                 0.00
parcelid                                     0                 0.00
airconditioningtypeid                    38564                 0.74
airconditioningdesc                      38564                 0.74
architecturalstyletypeid                 52099                 1.00
architecturalstyledesc                   52099                 1.00
basementsqft                             52122                 1.00
bathroomcnt                                  0                 0.00
bedroomcnt                                   0                 0.00
buildingclasstypeid                      52169                 1.00
buildingclassdesc                        52169                 1.00
buildingqualitytypeid                    18541                 0.36
calculatedbathnbr                           16                 0.00
calculatedfinishedsquarefeet                 8                 0.00
decktypeid                               51782                 0.99
finishedfloor1squarefeet                 47815                 0.92
finishedsquarefeet12                       166                 0.00
finishedsquarefeet13                     52169                 1.00
finishedsquarefeet15                     52169                 1.00
finishedsquarefeet50                     47815                 0.92
finishedsquarefeet6                      52011                 1.00
fips                                         0                 0.00
state                                        0                 0.00
fireplacecnt                             44948                 0.86
fullbathcnt                                 16                 0.00
garagecarcnt                             34203                 0.66
garagetotalsqft                          34203                 0.66
hashottuborspa                           50655                 0.97
...                                        ...                  ...
propertylandusedesc                          0                 0.00
propertyzoningdesc                       18479                 0.35
rawcensustractandblock                       0                 0.00
regionidcity                              1028                 0.02
regionidcounty                               0                 0.00
regionidneighborhood                     33241                 0.64
regionidzip                                 23                 0.00
roomcnt                                      0                 0.00
storytypeid                              52122                 1.00
storydesc                                52122                 1.00
taxvaluedollarcnt                            1                 0.00
threequarterbathnbr                      45453                 0.87
unitcnt                                  18451                 0.35
yardbuildingsqft17                       50243                 0.96
yardbuildingsqft26                       52106                 1.00
yearbuilt                                   40                 0.00
numberofstories                          37663                 0.72
fireplaceflag                            52088                 1.00
structuretaxvaluedollarcnt                  72                 0.00
assessmentyear                               0                 0.00
landtaxvaluedollarcnt                        1                 0.00
taxamount                                    4                 0.00
taxdelinquencyflag                       50109                 0.96
taxdelinquencyyear                       50109                 0.96
typeconstructiontypeid                   52093                 1.00
typeconstructiondesc                     52093                 1.00
censustractandblock                        112                 0.00
transactiondate                              0                 0.00
logerror                                     0                 0.00
transactions                                 0                 0.00

[72 rows x 2 columns]

#### Takeaways from nulls in columns function

- I can see that there are columns that have no data in them, and those I will certainly drop. 


- There are others that are more than 50% NULL values, and I'm going to drop those as well. That is too high of a percentage of Nulls to make the data meaningful.

- Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [8]:
summarize.nulls_by_row(df)

   num_cols_missing    pct_cols_missing  num_rows
0                23  31.944444444444443         2
1                24   33.33333333333333        12
2                25   34.72222222222222        11
3                26   36.11111111111111        30
4                27                37.5       177
5                28   38.88888888888889       389
6                29   40.27777777777778      2527
7                30   41.66666666666667      2194
8                31   43.05555555555556      5986
9                32   44.44444444444444      8880
10               33   45.83333333333333     11960
11               34   47.22222222222222     11151
12               35   48.61111111111111      3459
13               36                50.0      4121
14               37  51.388888888888886      1016
15               38   52.77777777777778       214
16               39  54.166666666666664        22
17               40   55.55555555555556        13
18               41   56.94444444444444         3
19               42  58.333333333333336         1
20               44  61.111111111111114         1

#### Takeaways from the nulls by row function

- 


-

In [9]:
df = prepare.handle_missing_values(df)

In [10]:
df.isnull().sum()

county                              0
tax_rate                            5
id                                  0
parcelid                            0
bathroomcnt                         0
bedroomcnt                          0
buildingqualitytypeid           18541
calculatedbathnbr                  16
calculatedfinishedsquarefeet        8
finishedsquarefeet12              166
fips                                0
state                               0
fullbathcnt                        16
heatingorsystemtypeid           18345
heatingorsystemdesc             18345
latitude                            0
longitude                           0
lotsizesquarefeet                 354
propertycountylandusecode           0
propertylandusetypeid               0
propertylandusedesc                 0
propertyzoningdesc              18479
rawcensustractandblock              0
regionidcity                     1028
regionidcounty                      0
regionidzip                        23
roomcnt                             0
taxvaluedollarcnt                   1
unitcnt                         18451
yearbuilt                          40
structuretaxvaluedollarcnt         72
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           4
censustractandblock               112
transactiondate                     0
logerror                            0
transactions                        0
dtype: int64

In [11]:
df.unitcnt.value_counts(dropna=False)

1.00    33691
 nan    18451
2.00       26
3.00        1
Name: unitcnt, dtype: int64

In [12]:
df.shape

(52169, 38)

In [13]:
#cols_to_remove = ["unitcnt", "propertyzoningdesc", "heatingorsystemdesc", "heatingorsystemtypeid", "buildingqualitytypeid"]

In [14]:
#df = prepare.remove_columns(df, cols_to_remove)

In [15]:
#df.isnull().sum()

county                             0
tax_rate                           5
id                                 0
parcelid                           0
bathroomcnt                        0
bedroomcnt                         0
calculatedbathnbr                 16
calculatedfinishedsquarefeet       8
finishedsquarefeet12             166
fips                               0
state                              0
fullbathcnt                       16
latitude                           0
longitude                          0
lotsizesquarefeet                354
propertycountylandusecode          0
propertylandusetypeid              0
propertylandusedesc                0
rawcensustractandblock             0
regionidcity                    1028
regionidcounty                     0
regionidzip                       23
roomcnt                            0
taxvaluedollarcnt                  1
yearbuilt                         40
structuretaxvaluedollarcnt        72
assessmentyear                     0
landtaxvaluedollarcnt              1
taxamount                          4
censustractandblock              112
transactiondate                    0
logerror                           0
transactions                       0
dtype: int64

In [16]:
import seaborn as sns

In [17]:
#sns.heatmap(df, annot=True)