# DBSCAN

- Density-Based Spatial Clustering of Applications with Noise


- Clusters together objects based on the density of the space around them.


- Those with many neighbors will be clustered together, while objects sitting in a low density space will not be placed in a cluster.


- minimum number of dots withing a maximum distance


- anomalies will be the points that don't fall into a cluster


- unsupervised learning, we are not using other data to train future data


- take two hyperparameters

    > epsilon (eps=.75), min_samples (min_samples=15)

DISTANCE METRICS (AFFINITY):

- Euclidean Distance (euclidean or L2 options): Shortest distance between two points, the shortest route, as if your were flying a plane from one point to the next.


- Manhattan Distance (manhattan or L1 options): Requires movements that are parallel to the x or y axis at any given time, as if you were driving in a car in manhattan along the grid-like streets.


- Cosine Similarity (cosine option): Puts emphasis on the 'shape' of the variables rather than their values, so it will associate observations that have similar min and max variables, e.g. Cosine Similarity is a good option when you have high dimensionality, i.e. many variables. This is often used in measuring similarity of text.

# Steps

- Select Features


- Convert to numpy array, dtype float


- Scale with StandardScaler()


- Cluster/fit


- Extract labels .labels_


- Merge back with original df and Explore

In [3]:
from __future__ import division
import itertools

import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt
import matplotlib.dates as mdates

import numpy as np
import pandas as pd
import math

from sklearn import metrics
from random import randint

from matplotlib import style
import seaborn as sns

from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler, MinMaxScaler

%matplotlib inline

# Acquire df

In [4]:
df = pd.read_csv('customers.csv')

In [5]:
df.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

# Summarize df

In [6]:
df.describe()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,1.322727,2.543182,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,0.468052,0.774272,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,1.000000,1.000000,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,1.000000,2.000000,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,1.000000,3.000000,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,2.000000,3.000000,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,2.000000,3.000000,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
Channel             440 non-null int64
Region              440 non-null int64
Fresh               440 non-null int64
Milk                440 non-null int64
Grocery             440 non-null int64
Frozen              440 non-null int64
Detergents_Paper    440 non-null int64
Delicassen          440 non-null int64
dtypes: int64(8)
memory usage: 27.6 KB

## Takeaways - 

- No Null values in df

- All values int64