In [1]:
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import pandas as pd
import math

In [3]:
df = pd.read_csv('the_data.csv', parse_dates=['timestamp'], index_col='timestamp')

In [4]:
df.head()

                        x  y
timestamp
2018-04-30 00:00:00  1.84  A
2018-04-30 01:00:00  1.47  C
2018-04-30 02:00:00  0.20  B
2018-04-30 03:00:00  0.17  C
2018-04-30 04:00:00  2.06  C

# By Group

In [5]:
df.groupby('y').count()

    x
y
A  18
B  13
C  17

In [20]:
# max value for B

group_B = df[df['y'] == 'B']
group_B.max()

x    1.91
y       B
dtype: object

In [21]:
# avgerage value for A

group_A = df[df['y'] == 'A']
group_A.mean()

x   -0.110556
dtype: float64

In [22]:
# min value for group C

group_C = df[df['y'] == 'C']
group_C.min()

x   -1.83
y       C
dtype: object

## Highest Sum = Group C

In [27]:
group_C['x'].sum()

3.95

In [30]:
group_A['x'].sum()

-1.99

In [29]:
group_B['x'].sum()

-0.7000000000000002

# Time Aggregates

In [35]:
df['x'].loc['2018-05-01'].sum()

-4.02