In [1]:
import pandas as pd
import numpy as np
from pydataset import data

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler

from telco_pipeline import get_data_from_sql, peekatdata, split, encode

### Acquistion

In [2]:
# 1. Use function to bring in data using sql query
df = get_data_from_sql()

### Data Prep

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
payment_type_id             7043 non-null int64
internet_service_type_id    7043 non-null int64
contract_type_id            7043 non-null int64
customer_id                 7043 non-null object
gender                      7043 non-null object
senior_citizen              7043 non-null int64
partner                     7043 non-null object
dependents                  7043 non-null object
tenure                      7043 non-null int64
phone_service               7043 non-null object
multiple_lines              7043 non-null object
online_security             7043 non-null object
online_backup               7043 non-null object
device_protection           7043 non-null object
tech_support                7043 non-null object
streaming_tv                7043 non-null object
streaming_movies            7043 non-null object
paperless_billing           7043 non-null object
monthly_charges             7043 non-null float64
total_charges               7043 non-null object
churn                       7043 non-null object
contract_type               7043 non-null object
internet_service_type       7043 non-null object
payment_type                7043 non-null object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

In [4]:
# 2. Create a function that returns info on dataframe
peekatdata(df)

DataFrame Shape:

(7043, 24)

Info about:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
payment_type_id             7043 non-null int64
internet_service_type_id    7043 non-null int64
contract_type_id            7043 non-null int64
customer_id                 7043 non-null object
gender                      7043 non-null object
senior_citizen              7043 non-null int64
partner                     7043 non-null object
dependents                  7043 non-null object
tenure                      7043 non-null int64
phone_service               7043 non-null object
multiple_lines              7043 non-null object
online_security             7043 non-null object
online_backup               7043 non-null object
device_protection           7043 non-null object
tech_support                7043 non-null object
streaming_tv                7043 non-null object
streaming_movies            7043 non-null object
paperless_billing           7043 non-null object
monthly_charges             7043 non-null float64
total_charges               7043 non-null object
churn                       7043 non-null object
contract_type               7043 non-null object
internet_service_type       7043 non-null object
payment_type                7043 non-null object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB
None

Describe:

       payment_type_id  internet_service_type_id  contract_type_id  \
count      7043.000000               7043.000000       7043.000000
mean          2.315633                  1.872923          1.690473
std           1.148907                  0.737796          0.833755
min           1.000000                  1.000000          1.000000
25%           1.000000                  1.000000          1.000000
50%           2.000000                  2.000000          1.000000
75%           3.000000                  2.000000          2.000000
max           4.000000                  3.000000          3.000000

       senior_citizen       tenure  monthly_charges
count     7043.000000  7043.000000      7043.000000
mean         0.162147    32.371149        64.761692
std          0.368612    24.559481        30.090047
min          0.000000     0.000000        18.250000
25%          0.000000     9.000000        35.500000
50%          0.000000    29.000000        70.350000
75%          0.000000    55.000000        89.850000
max          1.000000    72.000000       118.750000

Head Preview:

   payment_type_id  internet_service_type_id  contract_type_id customer_id  \
0                2                         1                 1  0003-MKNFE
1                4                         1                 1  0013-MHZWF
2                1                         1                 1  0015-UOCOJ
3                1                         1                 1  0023-HGHWL
4                3                         1                 1  0032-PGELS

   gender  senior_citizen partner dependents  tenure phone_service  ...  \
0    Male               0      No         No       9           Yes  ...
1  Female               0      No        Yes       9           Yes  ...
2  Female               1      No         No       7           Yes  ...
3    Male               1      No         No       1            No  ...
4  Female               0     Yes        Yes       1            No  ...

  tech_support streaming_tv streaming_movies paperless_billing  \
0           No           No              Yes                No
1          Yes          Yes              Yes               Yes
2           No           No               No               Yes
3           No           No               No               Yes
4           No           No               No                No

  monthly_charges total_charges churn   contract_type  internet_service_type  \
0            59.9         542.4    No  Month-to-month                    DSL
1            69.4        571.45    No  Month-to-month                    DSL
2            48.2        340.35    No  Month-to-month                    DSL
3            25.1          25.1   Yes  Month-to-month                    DSL
4            30.5          30.5   Yes  Month-to-month                    DSL

                payment_type
0               Mailed check
1    Credit card (automatic)
2           Electronic check
3           Electronic check
4  Bank transfer (automatic)

[5 rows x 24 columns]

Tail Preview:

      payment_type_id  internet_service_type_id  contract_type_id customer_id  \
7038                4                         3                 3  9950-MTGYX
7039                2                         3                 3  9953-ZMKSM
7040                4                         3                 3  9964-WBQDJ
7041                3                         3                 3  9972-EWRJS
7042                4                         3                 3  9975-GPKZU

      gender  senior_citizen partner dependents  tenure phone_service  ...  \
7038    Male               0     Yes        Yes      28           Yes  ...
7039    Male               0      No         No      63           Yes  ...
7040  Female               0     Yes         No      71           Yes  ...
7041  Female               0     Yes        Yes      67           Yes  ...
7042    Male               0     Yes        Yes      46           Yes  ...

             tech_support         streaming_tv     streaming_movies  \
7038  No internet service  No internet service  No internet service
7039  No internet service  No internet service  No internet service
7040  No internet service  No internet service  No internet service
7041  No internet service  No internet service  No internet service
7042  No internet service  No internet service  No internet service

     paperless_billing monthly_charges total_charges churn contract_type  \
7038               Yes           20.30        487.95    No      Two year
7039                No           25.25        1559.3    No      Two year
7040               Yes           24.40        1725.4    No      Two year
7041               Yes           19.25        1372.9    No      Two year
7042                No           19.75         856.5    No      Two year

      internet_service_type               payment_type
7038                   None    Credit card (automatic)
7039                   None               Mailed check
7040                   None    Credit card (automatic)
7041                   None  Bank transfer (automatic)
7042                   None    Credit card (automatic)

[5 rows x 24 columns]

In [5]:
# 1. Create a function to decide whether to bin data for the value counts

def df_value_counts(df):
    valcount_df = pd.DataFrame(df.apply(lambda x: x.value_counts(dropna=False).count()))
    return valcount_df

valcount_df = df_value_counts(df)
valcount_df

                             0
payment_type_id              4
internet_service_type_id     3
contract_type_id             3
customer_id               7043
gender                       2
senior_citizen               2
partner                      2
dependents                   2
tenure                      73
phone_service                2
multiple_lines               3
online_security              3
online_backup                3
device_protection            3
tech_support                 3
streaming_tv                 3
streaming_movies             3
paperless_billing            2
monthly_charges           1585
total_charges             6531
churn                        2
contract_type                3
internet_service_type        3
payment_type                 4

In [6]:
# 2. decide if rows or columns should be dropped

# total charges has 11 values that are blank space
df["total_charges"].value_counts(dropna=False)

20.2       11
           11
19.75       9
20.05       8
19.9        8
19.65       8
19.55       7
45.3        7
19.45       6
20.25       6
20.15       6
20.45       5
20.3        5
20.35       4
69.9        4
75.3        4
69.6        4
20.5        4
50.15       4
19.85       4
70.6        4
74.7        4
44          4
19.2        4
44.4        4
19.4        4
49.9        4
19.95       4
69.95       4
20.4        4
19.5        4
69.65       4
19.3        4
86.05       3
74.9        3
44.75       3
35.9        3
1284.2      3
220.45      3
70.15       3
383.65      3
74.35       3
50.6        3
20          3
24.4        3
74.6        3
79.55       3
20.9        3
84.5        3
70.45       3
80.55       3
70.3        3
85          3
69.1        3
19.1        3
85.5        3
20.55       3
50.45       3
24.8        3
45.1        3
305.55      3
69.25       3
2317.1      3
69.55       3
19.25       3
45.7        3
55.7        3
70.1        3
20.1        3
25.25       3
50.75       3
74.3        3
75.35       3
470.2       3
45.85       3
196.9       2
3418.2      2
727.8       2
196.75      2
1873.7      2
3496.3      2
262.05      2
620.55      2
5714.2      2
163.7       2
           ..
6393.65     1
2044.95     1
84.65       1
762.45      1
75.55       1
5961.1      1
4882.8      1
2181.75     1
1411.9      1
4213.35     1
4871.05     1
3199        1
981.45      1
936.85      1
108.15      1
527.5       1
5538.35     1
879.8       1
655.85      1
815.55      1
284.35      1
3180.5      1
292.85      1
522.35      1
5567.45     1
1574.45     1
1181.75     1
7965.95     1
452.8       1
2344.5      1
1582.75     1
7181.95     1
477.05      1
2188.5      1
415.9       1
4263.4      1
775.3       1
552.7       1
59.05       1
3366.05     1
1248.9      1
460.2       1
571.05      1
5265.5      1
1108        1
309.4       1
5386.5      1
3119.9      1
857.75      1
272.95      1
2839.65     1
780.5       1
2854.95     1
1156.1      1
2495.15     1
43.8        1
35.85       1
23.45       1
5817        1
4845.4      1
2470.1      1
70.4        1
761.95      1
358.5       1
7875        1
3175.85     1
5638.3      1
894.3       1
205.05      1
3320.6      1
3692.85     1
3617.1      1
6194.1      1
531.15      1
6786.1      1
139.25      1
125         1
463.05      1
1169.35     1
836.35      1
125.5       1
151.65      1
174.3       1
6841.05     1
1206.05     1
Name: total_charges, Length: 6531, dtype: int64

In [7]:
# function that replaces the blank values with NaN and
# returns the percent of missing values in each column
def percent_missing(df):
    df.replace(r'^\s*$', np.nan, regex=True, inplace=True)
    return df.isnull().sum() / len(df) * 100

In [8]:
percent_missing(df)

payment_type_id             0.000000
internet_service_type_id    0.000000
contract_type_id            0.000000
customer_id                 0.000000
gender                      0.000000
senior_citizen              0.000000
partner                     0.000000
dependents                  0.000000
tenure                      0.000000
phone_service               0.000000
multiple_lines              0.000000
online_security             0.000000
online_backup               0.000000
device_protection           0.000000
tech_support                0.000000
streaming_tv                0.000000
streaming_movies            0.000000
paperless_billing           0.000000
monthly_charges             0.000000
total_charges               0.156183
churn                       0.000000
contract_type               0.000000
internet_service_type       0.000000
payment_type                0.000000
dtype: float64

In [9]:
# total charges has .16% of values missing
# I'm going to drop those rows based on that low percentage

df = df.dropna(axis=0)
df.isnull().sum()

payment_type_id             0
internet_service_type_id    0
contract_type_id            0
customer_id                 0
gender                      0
senior_citizen              0
partner                     0
dependents                  0
tenure                      0
phone_service               0
multiple_lines              0
online_security             0
online_backup               0
device_protection           0
tech_support                0
streaming_tv                0
streaming_movies            0
paperless_billing           0
monthly_charges             0
total_charges               0
churn                       0
contract_type               0
internet_service_type       0
payment_type                0
dtype: int64

In [10]:
# create lists to pass into a prepare function 

# create list of columns to be converted into a float types
float_cols = ["total_charges"] 

# create list of columns to be converted to object types
obj_cols = ["payment_type_id", "internet_service_type_id", "contract_type_id", "senior_citizen", "churn"]

# create list of columns to be encoded
encode_cols = [""]

# create list of columns to be scaled
scale_cols = ["monthly_charges"]

In [11]:
# 3. transform churn values such that "Yes" = 1 and "No" = 0
df["churn"] = df["churn"].map({"Yes": 1, "No": 0})
df.isnull().sum()

payment_type_id             0
internet_service_type_id    0
contract_type_id            0
customer_id                 0
gender                      0
senior_citizen              0
partner                     0
dependents                  0
tenure                      0
phone_service               0
multiple_lines              0
online_security             0
online_backup               0
device_protection           0
tech_support                0
streaming_tv                0
streaming_movies            0
paperless_billing           0
monthly_charges             0
total_charges               0
churn                       0
contract_type               0
internet_service_type       0
payment_type                0
dtype: int64

In [12]:
# 4. Compute new feature tenure_year translating tenure from months to years
# I'm not sure how to deal with the fractions of years. Needs tweaking

df["tenure_year"] = df["tenure"] / 12

In [13]:
# 5. Create a function that adds a new column phone_id that captures
# phone_service and multiple_lines into a single int variable

def combine_phone(df):
    df["phone_id"] = df["multiple_lines"].map({"Yes": 1, "No": 0, "No phone service": 0}).astype(int)

In [14]:
# 6. Add a new column household_type_id that combines 
# dependents and partner and is int type (0 = none, 1 = partner,
#                                 2 = dependents, 3 = partner & dependents)

df["dependents"] = df["dependents"].map({"Yes": 2, "No": 0}).astype(int)
df["partner"] = df["partner"].map({"Yes": 1, "No": 0}).astype(int)

df["household_type_id"] = df["dependents"] + df["partner"]

In [15]:
# 7. Add a new column streaming_services of dtype int that combines
# info from streaming_tv and streaming_movies

# dependents and partner and is int type (0 = none, 1 = streaming tv,
#                                 2 = streaming movies, 3 = both)

df["streaming_tv"] = df["streaming_tv"].map({"Yes": 1, "No": 0, "No internet service": 0}).astype(int)
df["streaming_movies"] = df["streaming_movies"].map({"Yes": 2, "No": 0, "No internet service": 0}).astype(int)

df["streaming_services"] = df["streaming_movies"] + df["streaming_tv"]

In [16]:
# 8. add a column online_security_backup of dtype int that combines
# online_security and online_backup

# dependents and partner and is int type (0 = none, 1 = online security,
#                                 2 = online backup, 3 = both)

df["online_security"] = df["online_security"].map({"Yes": 1, "No": 0, "No internet service": 0}).astype(int)
df["online_backup"] = df["online_backup"].map({"Yes": 2, "No": 0, "No internet service": 0}).astype(int)

df["online_security_backup"] = df["online_security"] + df["online_backup"]

In [17]:
# 9. Split the data 70/30 train/test using split function

train, test = split(df=df, target="churn", train_prop=.70, seed=123)

train.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,tenure_year,household_type_id,streaming_services,online_security_backup
5968,4,3,1,8439-LTUGF,Male,0,0,0,10,Yes,...,20.00,198.6,0,Month-to-month,None,Credit card (automatic),0.833333,0,0,0
3585,1,2,1,5339-PXDVH,Male,0,0,0,4,Yes,...,90.65,367.95,0,Month-to-month,Fiber optic,Electronic check,0.333333,0,1,1
6987,3,3,3,9068-FHQHD,Female,0,1,2,40,Yes,...,20.15,777.35,0,Two year,None,Bank transfer (automatic),3.333333,3,0,0
5060,3,2,2,9475-NNDGC,Male,0,1,0,71,Yes,...,113.15,7953.25,0,One year,Fiber optic,Bank transfer (automatic),5.916667,1,3,2
3992,3,2,1,7268-IGMFD,Male,1,0,0,18,Yes,...,93.90,1743.9,0,Month-to-month,Fiber optic,Bank transfer (automatic),1.500000,0,1,0

In [20]:
# 10. Encode each non-numeric feature such that they are numeric using
# encode function
col_name = "contract_type"

encode(train, test, col_name)
train.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,tenure_year,household_type_id,streaming_services,online_security_backup
5968,4,3,1,8439-LTUGF,Male,0,0,0,10,Yes,...,20.00,198.6,0,Month-to-month,None,Credit card (automatic),0.833333,0,0,0
3585,1,2,1,5339-PXDVH,Male,0,0,0,4,Yes,...,90.65,367.95,0,Month-to-month,Fiber optic,Electronic check,0.333333,0,1,1
6987,3,3,3,9068-FHQHD,Female,0,1,2,40,Yes,...,20.15,777.35,0,Two year,None,Bank transfer (automatic),3.333333,3,0,0
5060,3,2,2,9475-NNDGC,Male,0,1,0,71,Yes,...,113.15,7953.25,0,One year,Fiber optic,Bank transfer (automatic),5.916667,1,3,2
3992,3,2,1,7268-IGMFD,Male,1,0,0,18,Yes,...,93.90,1743.9,0,Month-to-month,Fiber optic,Bank transfer (automatic),1.500000,0,1,0

In [ ]:
# 11. Scale monthly_charges and total_charges

### Data Exploration

In [ ]:
# 1. Could the month they signed up influence churn? 
# (Plot the rate of churn on a line chart where x is the tenure 
# and y is the rate of churn (customers churned/total customers)).

In [ ]:
# 2. Are there features that indicate higher propensity to churn?

In [ ]:
# 3. Is there a price threshold for specific services where the liklihood
# of churn increases? What services and at what price point?

In [ ]:
# 4. Looking at churn rate for month-to-month vs. 1-year contract customers
# afther their 12th month of service, is the rate of churn different?

In [ ]:
# 5. Use a t-test to find out of the monthly charges of those who have
# churned is significantly higher thatn those who have not. Control for:
# (phone_id, internet_service_type_id, online_security_backup, device_protection, 
# tech_support, and contract_type_id)

In [ ]:
# 6. Perform a correlation test, stating hypothesis and conclusion clearly
# that states if montly charges can be explained by internet_service_type

In [ ]:
# 7.

In [ ]:
# 8. Create visualizations exploring interactions of variables (independent
# with independent and independent with dependent). The goal is to identify
# features that are related to churn, identify integrity issues, understand
# how the data works.

In [ ]:
# 9.

In [ ]:
# 10.

### Modeling

In [ ]:
# 1. Feature selection: can you remove any features that provide limited
# to no additional info?

In [ ]:
# 2. Train (fit, transform, evaluate) multiple models and select the best
# performing model.

In [ ]:
# 3. Compare eval metrics across all the models and select best performing

In [ ]:
# 4. Test the final model (tranform, evaluate) on your out-of-sample data.
# Summarize the performance, interpret results.