# Acquisition - Lesson

- JSON (JavaScript Object Notation)

- RESTful - server on the internet with certain url patterns

- API (Application Programming Interface) a set of functions and procedures allowing the creation of applications that access the features or data of an operating system, application, or other service.

- RESTful JSON API 

    - it's a server on the internet and the urls follow a certain pattern
    
    - the API speaks JSON
    
    - the API is something we can interact with programatically

In [76]:
import requests
import pandas as pd
from os import path

import warnings
warnings.filterwarnings('ignore')

import acquire

## Send Request, Receive Response

In [2]:
# We send requests, we receive response objects

response = requests.get('http://example.com')
response

# '200' is an http status code
# 200 means 'it's all ok'

### .ok

In [3]:
response.ok

True

### .status_code

In [4]:
response.status_code

200

### .text

In [5]:
response.text

'<!doctype html>\n<html>\n<head>\n    <title>Example Domain</title>\n\n    <meta charset="utf-8" />\n    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />\n    <meta name="viewport" content="width=device-width, initial-scale=1" />\n    <style type="text/css">\n    body {\n        background-color: #f0f0f2;\n        margin: 0;\n        padding: 0;\n        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;\n        \n    }\n    div {\n        width: 600px;\n        margin: 5em auto;\n        padding: 2em;\n        background-color: #fdfdff;\n        border-radius: 0.5em;\n        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);\n    }\n    a:link, a:visited {\n        color: #38488f;\n        text-decoration: none;\n    }\n    @media (max-width: 700px) {\n        div {\n            margin: 0 auto;\n            width: auto;\n        }\n    }\n    </style>    \n</head>\n\n<body>\n<div>\n    <h1>Example Domain</h1>\n    <p>This domain is for use in illustrative examples in documents. You may use this\n    domain in literature without prior coordination or asking for permission.</p>\n    <p><a href="https://www.iana.org/domains/example">More information...</a></p>\n</div>\n</body>\n</html>\n'

# Acquisition - Exercise Example

## Using the code from the lesson as a guide, create a dataframe named items that has all of the data for items.

### Quick look at base url

In [6]:
base_url = 'https://python.zach.lol'
print(requests.get(base_url).text)

{"api":"/api/v1","help":"/documentation"}

### Make a request to take a look at the documentation

In [7]:
response = requests.get(base_url + '/documentation')
print(response.json()['payload'])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

### .json()

- Take a look at the items

In [8]:
response = requests.get('https://python.zach.lol/api/v1/items')

data = response.json()

# print keys from dictionary
data.keys()

dict_keys(['payload', 'status'])

### .keys()

- take a look at the keys

In [9]:
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

### Max and Next pages

In [10]:
print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])

max_page: 3
next_page: /api/v1/items?page=2

### Data

- peek inside/context

In [11]:
data

{'payload': {'items': [{'item_brand': 'Riceland',
    'item_id': 1,
    'item_name': 'Riceland American Jazmine Rice',
    'item_price': 0.84,
    'item_upc12': '35200264013',
    'item_upc14': '35200264013'},
   {'item_brand': 'Caress',
    'item_id': 2,
    'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
    'item_price': 6.44,
    'item_upc12': '11111065925',
    'item_upc14': '11111065925'},
   {'item_brand': 'Earths Best',
    'item_id': 3,
    'item_name': 'Earths Best Organic Fruit Yogurt Smoothie Mixed Berry',
    'item_price': 2.43,
    'item_upc12': '23923330139',
    'item_upc14': '23923330139'},
   {'item_brand': 'Boars Head',
    'item_id': 4,
    'item_name': 'Boars Head Sliced White American Cheese - 120 Ct',
    'item_price': 3.14,
    'item_upc12': '208528800007',
    'item_upc14': '208528800007'},
   {'item_brand': 'Back To Nature',
    'item_id': 5,
    'item_name': 'Back To Nature Gluten Free White Cheddar Rice Thin Crackers',
    'item_price': 2.61,
    'item_upc12': '759283100036',
    'item_upc14': '759283100036'},
   {'item_brand': 'Sally Hansen',
    'item_id': 6,
    'item_name': 'Sally Hansen Nail Color Magnetic 903 Silver Elements',
    'item_price': 6.93,
    'item_upc12': '74170388732',
    'item_upc14': '74170388732'},
   {'item_brand': 'Twinings Of London',
    'item_id': 7,
    'item_name': 'Twinings Of London Classics Lady Grey Tea - 20 Ct',
    'item_price': 9.64,
    'item_upc12': '70177154004',
    'item_upc14': '70177154004'},
   {'item_brand': 'Lea & Perrins',
    'item_id': 8,
    'item_name': 'Lea & Perrins Marinade In-a-bag Cracked Peppercorn',
    'item_price': 1.68,
    'item_upc12': '51600080015',
    'item_upc14': '51600080015'},
   {'item_brand': 'Van De Kamps',
    'item_id': 9,
    'item_name': 'Van De Kamps Fillets Beer Battered - 10 Ct',
    'item_price': 1.79,
    'item_upc12': '19600923015',
    'item_upc14': '19600923015'},
   {'item_brand': 'Ahold',
    'item_id': 10,
    'item_name': 'Ahold Cocoa Almonds',
    'item_price': 3.17,
    'item_upc12': '688267141676',
    'item_upc14': '688267141676'},
   {'item_brand': 'Honest Tea',
    'item_id': 11,
    'item_name': 'Honest Tea Peach White Tea',
    'item_price': 3.93,
    'item_upc12': '657622604842',
    'item_upc14': '657622604842'},
   {'item_brand': 'Mueller',
    'item_id': 12,
    'item_name': 'Mueller Sport Care Basic Support Level Medium Elastic Knee Support',
    'item_price': 8.4,
    'item_upc12': '74676640211',
    'item_upc14': '74676640211'},
   {'item_brand': 'Garnier Nutritioniste',
    'item_id': 13,
    'item_name': 'Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam',
    'item_price': 6.47,
    'item_upc12': '603084234561',
    'item_upc14': '603084234561'},
   {'item_brand': 'Pamprin',
    'item_id': 14,
    'item_name': 'Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief',
    'item_price': 7.54,
    'item_upc12': '41167300121',
    'item_upc14': '41167300121'},
   {'item_brand': 'Suave',
    'item_id': 15,
    'item_name': 'Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut',
    'item_price': 9.11,
    'item_upc12': '79400847201',
    'item_upc14': '79400847201'},
   {'item_brand': 'Burts Bees',
    'item_id': 16,
    'item_name': 'Burts Bees Daily Moisturizing Cream Sensitive',
    'item_price': 5.17,
    'item_upc12': '792850014008',
    'item_upc14': '792850014008'},
   {'item_brand': 'Ducal',
    'item_id': 17,
    'item_name': 'Ducal Refried Red Beans',
    'item_price': 1.16,
    'item_upc12': '88313590791',
    'item_upc14': '88313590791'},
   {'item_brand': 'Scotch',
    'item_id': 18,
    'item_name': 'Scotch Removable Clear Mounting Squares - 35 Ct',
    'item_price': 4.39,
    'item_upc12': '21200725340',
    'item_upc14': '21200725340'},
   {'item_brand': 'Careone',
    'item_id': 19,
    'item_name': 'Careone Family Comb Set - 8 Ct',
    'item_price': 0.74,
    'item_upc12': '41520035646',
    'item_upc14': '41520035646'},
   {'item_brand': 'Usda Produce',
    'item_id': 20,
    'item_name': 'Plums Black',
    'item_price': 5.62,
    'item_upc12': '204040000000',
    'item_upc14': '204040000000'}],
  'max_page': 3,
  'next_page': '/api/v1/items?page=2',
  'page': 1,
  'previous_page': None},
 'status': 'ok'}

In [12]:
# response a wrapper around the items property

data['payload']['items'][:2]

[{'item_brand': 'Riceland',
  'item_id': 1,
  'item_name': 'Riceland American Jazmine Rice',
  'item_price': 0.84,
  'item_upc12': '35200264013',
  'item_upc14': '35200264013'},
 {'item_brand': 'Caress',
  'item_id': 2,
  'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
  'item_price': 6.44,
  'item_upc12': '11111065925',
  'item_upc14': '11111065925'}]

### DataFrame

- Turn data into a pandas dataframe

- data from 1st page

In [13]:
items = pd.DataFrame(data['payload']['items'])
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

### Next_page

- get and add data from 2nd page into our df

In [14]:
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])

items = pd.concat([items, pd.DataFrame(data['payload']['items'])]).reset_index()

max_page: 3
next_page: /api/v1/items?page=3

In [15]:
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])

items = pd.concat([items, pd.DataFrame(data['payload']['items'])]).reset_index()

max_page: 3
next_page: None

In [16]:
items.shape

(50, 8)

## Do the same thing, but for stores.

### Make a request to take a look at the documentation

In [17]:
response = requests.get(base_url + '/documentation')
print(response.json()['payload'])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

### .json()

- Take a look at the items

In [18]:
response = requests.get('https://python.zach.lol/api/v1/stores')
data = response.json()

# print keys from dictionary

data.keys()

dict_keys(['payload', 'status'])

### .keys()

- take a look at the keys

In [19]:
data['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'stores'])

### Max and Next pages

In [20]:
print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])

max_page: 1
next_page: None

### DataFrame

- Turn data into a pandas dataframe

- data from 1st page

- No need to repeat the process bc there is no next page

In [21]:
stores = pd.DataFrame(data['payload']['stores'])
stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [22]:
stores.shape

(10, 5)

### Extract the data for sales. There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [23]:
base_url = 'https://python.zach.lol'
print(requests.get(base_url).text)

{"api":"/api/v1","help":"/documentation"}

### Make a request

In [24]:
response = requests.get(base_url + '/documentation')
print(response.json()['payload'])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

In [25]:
response = requests.get('https://python.zach.lol/api/v1/sales')

data = response.json()

# print keys from dictionary
data.keys()

dict_keys(['payload', 'status'])

### .keys()

In [26]:
data['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'sales'])

### Max and  Next page

In [27]:
print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])

max_page: 183
next_page: /api/v1/sales?page=2

In [28]:
sales = pd.DataFrame(data['payload']['sales'])

In [29]:
for i in range(1, data['payload']['max_page']):
    response = requests.get(base_url + data['payload']['next_page'])
    data = response.json()
    sales = pd.concat([sales, pd.DataFrame(data['payload']['sales'])])

In [30]:
sales.shape

(913000, 5)

### Save the data in your files to local csv files so that it will be faster to access in the future.

In [31]:
sales.to_csv('sales.csv')

In [32]:
items.to_csv('items.csv')

In [33]:
stores.to_csv('stores.csv')

In [49]:
sales.head()

   item_id  sale_amount                      sale_date  sale_id  store_id
0        1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1         1
1        1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2         1
2        1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3         1
3        1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4         1
4        1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5         1

In [50]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913000 entries, 0 to 2999
Data columns (total 5 columns):
item_id        913000 non-null int64
sale_amount    913000 non-null float64
sale_date      913000 non-null object
sale_id        913000 non-null int64
store_id       913000 non-null int64
dtypes: float64(1), int64(3), object(1)
memory usage: 41.8+ MB

In [51]:
sales.describe()

             item_id    sale_amount        sale_id       store_id
count  913000.000000  913000.000000  913000.000000  913000.000000
mean       25.500000      52.250287  456500.500000       5.500000
std        14.430878      28.801144  263560.542224       2.872283
min         1.000000       0.000000       1.000000       1.000000
25%        13.000000      30.000000  228250.750000       3.000000
50%        25.500000      47.000000  456500.500000       5.500000
75%        38.000000      70.000000  684750.250000       8.000000
max        50.000000     231.000000  913000.000000      10.000000

In [52]:
# this shows that each value in this column is unique and could identify
# the rows in the table

sales.sale_id.nunique()

913000

### Combine the data from your three separate dataframes into one large dataframe.

In [53]:
sales = sales.rename(columns={'item': 'item_id', 'store': 'store_id'})

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913000 entries, 0 to 912999
Data columns (total 14 columns):
item_id          913000 non-null int64
sale_amount      913000 non-null float64
sale_date        913000 non-null object
sale_id          913000 non-null int64
store_id         913000 non-null int64
item_brand       913000 non-null object
item_name        913000 non-null object
item_price       913000 non-null float64
item_upc12       913000 non-null object
item_upc14       913000 non-null object
store_address    913000 non-null object
store_city       913000 non-null object
store_state      913000 non-null object
store_zipcode    913000 non-null object
dtypes: float64(2), int64(3), object(9)
memory usage: 104.5+ MB

In [55]:
df = sales.merge(items, on='item_id').merge(stores, on='store_id')

In [56]:
df = df.drop(columns=['level_0', 'index'])

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913000 entries, 0 to 912999
Data columns (total 14 columns):
item_id          913000 non-null int64
sale_amount      913000 non-null float64
sale_date        913000 non-null object
sale_id          913000 non-null int64
store_id         913000 non-null int64
item_brand       913000 non-null object
item_name        913000 non-null object
item_price       913000 non-null float64
item_upc12       913000 non-null object
item_upc14       913000 non-null object
store_address    913000 non-null object
store_city       913000 non-null object
store_state      913000 non-null object
store_zipcode    913000 non-null object
dtypes: float64(2), int64(3), object(9)
memory usage: 104.5+ MB

### Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [75]:
solar = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')

In [79]:
solar.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

### Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [83]:
df = acquire.get_opsd_data()

In [88]:
df['Date'] = pd.to_datetime(df['Date'])

In [89]:
df.set_index('Date').resample('D').sum()

            Consumption     Wind   Solar  Wind+Solar
Date
2006-01-01   1069.18400    0.000   0.000       0.000
2006-01-02   1380.52100    0.000   0.000       0.000
2006-01-03   1442.53300    0.000   0.000       0.000
2006-01-04   1457.21700    0.000   0.000       0.000
2006-01-05   1477.13100    0.000   0.000       0.000
2006-01-06   1403.42700    0.000   0.000       0.000
2006-01-07   1300.28700    0.000   0.000       0.000
2006-01-08   1207.98500    0.000   0.000       0.000
2006-01-09   1529.32300    0.000   0.000       0.000
2006-01-10   1576.91100    0.000   0.000       0.000
2006-01-11   1577.17600    0.000   0.000       0.000
2006-01-12   1553.28000    0.000   0.000       0.000
2006-01-13   1545.00200    0.000   0.000       0.000
2006-01-14   1359.94500    0.000   0.000       0.000
2006-01-15   1265.47500    0.000   0.000       0.000
2006-01-16   1563.73800    0.000   0.000       0.000
2006-01-17   1598.30300    0.000   0.000       0.000
2006-01-18   1572.98400    0.000   0.000       0.000
2006-01-19   1558.29000    0.000   0.000       0.000
2006-01-20   1540.60400    0.000   0.000       0.000
2006-01-21   1348.18800    0.000   0.000       0.000
2006-01-22   1248.11100    0.000   0.000       0.000
2006-01-23   1569.69100    0.000   0.000       0.000
2006-01-24   1603.25200    0.000   0.000       0.000
2006-01-25   1613.31200    0.000   0.000       0.000
2006-01-26   1601.67300    0.000   0.000       0.000
2006-01-27   1586.06500    0.000   0.000       0.000
2006-01-28   1373.03000    0.000   0.000       0.000
2006-01-29   1252.21500    0.000   0.000       0.000
2006-01-30   1554.72200    0.000   0.000       0.000
...                 ...      ...     ...         ...
2017-12-02   1391.85405  126.274  16.459     142.733
2017-12-03   1330.26226  387.490  12.411     399.901
2017-12-04   1620.97758  479.798  10.747     490.545
2017-12-05   1643.72307  611.488  10.953     622.441
2017-12-06   1639.08265  632.501   7.618     640.119
2017-12-07   1628.47979  743.725  42.994     786.719
2017-12-08   1618.05658  652.830  20.504     673.334
2017-12-09   1415.34531  712.317  12.344     724.661
2017-12-10   1318.10964  622.944   9.922     632.866
2017-12-11   1614.15862  415.109   5.669     420.778
2017-12-12   1647.36346  590.101  13.250     603.351
2017-12-13   1651.90418  721.540  36.880     758.420
2017-12-14   1636.54375  666.438  21.030     687.468
2017-12-15   1576.93197  176.418  21.653     198.071
2017-12-16   1382.87708  277.391  15.904     293.295
2017-12-17   1297.21916  250.726  12.620     263.346
2017-12-18   1578.69079  134.843  15.897     150.740
2017-12-19   1586.48230   99.098   8.793     107.891
2017-12-20   1559.68569   90.880   8.799      99.679
2017-12-21   1520.37206  259.039   7.313     266.352
2017-12-22   1423.23782  228.773  10.065     238.838
2017-12-23   1272.17085  748.074   8.450     756.524
2017-12-24   1141.75730  812.422   9.949     822.371
2017-12-25   1111.28338  587.810  15.765     603.575
2017-12-26   1130.11683  717.453  30.923     748.376
2017-12-27   1263.94091  394.507  16.530     411.037
2017-12-28   1299.86398  506.424  14.162     520.586
2017-12-29   1295.08753  584.277  29.854     614.131
2017-12-30   1215.44897  721.247   7.467     728.714
2017-12-31   1107.11488  721.176  19.980     741.156

[4383 rows x 4 columns]